.streamus.btn-play {
    background-color: #51a351;
    margin-right: 2px;
}

.streamus.btn-queue {
    background-color: #439645;
    background-image: url("../img/streamus_icon16_0bars.png");
    background-position: 2px;
}

.streamus.btn-play:hover {
    background-color: #5bb75b;
}

table.track-grid .colPlay {
    width: 96px !important;
}

table.track-grid .col3 {
    width: 100px !important;
}

.streamus.btn-queue:hover {
    background-color: #439645;
}

.tooltip {
    font-weight: bold;
    font-size: 13px;
    font-family: sans-serif;
    text-shadow: 1px black;
    border-radius: 5px;
}

.tooltip > .tooltip-inner {
    background-color: #333;
    white-space: nowrap;
    text-transform: none !important;
}