html {
    width: 630px;
    height: 540px;
}

body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

.playlistTitle
.playlist-details,
#activeFolderView span.title {
    -webkit-user-select: text;
}

#contextMenu:empty {
    display: none;
}

/*body > * {
  transition: opacity .2s ease-in-out;
}*/

body.loading > *:not(.modalOverlay) {
    opacity: 0.5;
}

/* Custom Webkit Scrollbar */
/*http://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/*/
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

/* Ensure no buttons are displayed */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
     height: 0;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 6px;
    background-color: #efefef;
}

::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 6px;
    background-color: #666;
    border: 1px solid #eee;
    height: 50px;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        }
    to {
        -webkit-transform: rotate(360deg);
       }
}

.above {
    z-index: 1;
}

button.mute.muted{
    color: red;
}

.modalOverlay .panel {
    background: #f2f2f2;
    transition: left .3s;
    box-shadow: 0 0 20px #000;
}

.modalOverlay .panel .header {
    background: #e6e6e6;
    height: 26px;
    right: 0;
    top: 0;
    left: 0;
    line-height: 26px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
}

.modalOverlay .panel .body {
    padding: 10px;
    font-size: 1.1em;
}

.prompt .panel {
    position: absolute;
    left: 50%;
    transition: top .3s;
    
    /* Default Panel Size */
    width: 500px;
    margin-left: -250px;
    margin-top: -55px;
    height: 135px;
    top: -135px;
}

.prompt.settingsPrompt .panel,
.prompt.createPlaylistPrompt .panel {
    margin-left: -125px;
    width: 250px;
}

.prompt.saveSelectedPrompt .panel {
    width: 370px;
    margin-left: -185px;
}

.prompt button.remove {
    position: absolute;
    top: 0;
    right: 0;
} 

.prompt.visible .panel {
    top: 50%;
}

.prompt .bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Loading Spinner */
/* Loading animation container */
.loadingSpinner {
    position: absolute;
    top: calc(50% - 33px);
    left: calc(50% - 24.5px);
    color: #797979;
}
body.loading .loadingSpinner {
    opacity: 1;
}
 
input:focus, button:focus { outline: none }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img { border: 0 }

address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit
}

del, ins { text-decoration: none }

caption, th { text-align: left }

h1, h2, h3, h4, h5, h6 { font-size: 100% }

q:before, q:after { content: '' }

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup { vertical-align: baseline }

sub { vertical-align: baseline }

legend { color: #000 }

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input, button, textarea, select { font-size: 100% }

a { cursor: pointer }

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after { clear: both }

.clearfix { zoom: 1 }

body { font: 13px/1.2 sans-serif }

.playlistTitle {
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
    line-height: 45px;
    padding-left: 50px;

}

.playlist-details {
    color: #949494;
    line-height: 1.5
}

.item-title {
    font-size: 1.1em;
    white-space: nowrap;
    padding-left: 55px;
}

.item-details {
    color: #949494;
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-count { margin-right: .8em }
.item-author { margin-right: .8em }

.progress-details { font-size: .9em }

.progress-details .title {
    font-weight: bold;
    text-transform: uppercase
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: color .1s, text-shadow .1s;
}

button:active { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) }

.button-icon {
    font-size: 1.2em;
    height: 43px;
    line-height: 43px;
    width: 40px;
}

.icon-repeat.repeatVideo,
.icon-repeat.repeatStream {
    margin-right: -10px;
}

.icon-repeat.repeatVideo:after {
    content: '1';
    border-radius: 50%;
    background-color: #797979;
    color: #fff;
    font-size: 10px;
    bottom: -3px;
    position: relative;
    right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.icon-repeat.repeatStream:after {
    content: "∞";
    border-radius: 50%;
    background-color: #797979;
    color: #fff;
    font-size: 10px;
    bottom: -3px;
    position: relative;
    right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: sans-serif;
}

.button-label[disabled],
.button-icon[disabled] {
    cursor: default;
}

.button-small {
    height: 30px;
    line-height: 30px
}

button.enabled {
    color: #6BBD46;
    text-shadow: 0 0 3px #94ff29
}

.button-label { padding: .1em .4em; }

.button-label i { margin-right: .5em }

.button-color {
    background: -webkit-linear-gradient(top, #6edb00, #6BBD46);
    color: #fff;
    text-shadow: 0 1px 0 #57ad00
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 5px #c5c5c5;
    background: #777;
    border-radius: 100%;
    cursor: pointer;
    height: 10px;
    width: 10px
}

.left-pane {
    background: #fff;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 250px;
    top: 0;
    z-index: 1;
}

.left-top-bar {
    display: block;
    height: 45px;
    left: 10px;
    position: absolute;
    right: 115px;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search .left-top-bar {
    right: 10px;
}

#addVideosButton {
    display: block;
    position: absolute;
    right: 10px;
    top: 12.5px;
}

.left-top-divider {
    background: #f2f2f2;
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 45px;
}

.left-bottom-menubar {
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    display: block;
    height: 30px;
    left: 10px;
    line-height: 30px;
    position: absolute;
    right: 10px;
}

.left-bottom-menubar button {
    line-height: 30px;
    padding: 0 .5em;
}

.left-bottom-menubar button i { font-size: 1.2em }

.left-bottom-menubar .playlist-details {
    bottom: 0;
    display: block;
    left: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
}

.left-bottom-menubar .playlist-actions {
    bottom: 0;
    display: block;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.left-list {
    bottom: 40px;
    display: block;
    left: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 10px);
    top: 55px;
}

.limitedScrollingWidth {
    display: inline-block;
    max-width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 10px;
}

.videoSearchResult,
.playlistItem,
.streamItem {
    height: 30px;
    padding: 5px 0;
    position: relative;
    width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamItem {
    margin-left: 10px;
    width: calc(100% - 20px);
}

.videoSearchResult:hover,
.streamItem:hover,
.playlistItem:hover,
.playlist:hover {
    background: #ebebeb;
}

.streamItem:hover > .item-thumb,
.playlistItem:hover > .item-thumb,
#search .videoSearchResult:hover > .item-thumb {
    background-color: #ebebeb;
}

.videoSearchResult.selected,
.playlistItem.selected,
.streamItem.selected,
.playlist.selected {
    background: #CDDBF2;
    transition: background .3s;
}

.streamItem.selected > .item-thumb,
.playlistItem.selected > .item-thumb,
#search .videoSearchResult.selected .item-thumb {
    transition: background .3s;
    background: #CDDBF2;
}

.videoSearchResult i,
.streamItem i,
.playlistItem i { margin-right: .5em }

.videoSearchResult img,
.streamItem img,
.playlistItem img {
    display: block;
    height: 30px;
    position: absolute;
    top: 5px;
    width: 40px;
    left: 0;
    padding-left: 5px;
    padding-right: 10px;
}

.videoSearchResult img,
.playlistItem img {
    background-color: white;
}

.streamItem img {
    background-color: #f2f2f2;
}

.videoSearchResultsLength {
    width: 15px;
    height: 15px;
    padding: 2px;
    background-color: rgba(0, 0, 0, .8);
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-align: center;
}

#addSearchResults .itemWrapper {
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 65px;
}

#addSearchResults .item-title {
    font-weight: bold;
    padding-left: 0;
}

#hideAddItemsButton {
    right: 0;
    position: absolute;
}

#addSearchResults .item-details {
    position: static;
    padding-left: 0;
}

.item-details {
    bottom: 5px;
    display: block;
    left: 55px;
    position: absolute;
    right: 10px;
}

.searchBar {
    bottom: 0;
    display: block;
    left: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.searchBar .underline {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 15px;
}

.editPlaylistPrompt .underline {
    height: 5px;
    width: 308px;
    margin-top: -4px;
    margin-left: 37px;
}

.editPlaylistPrompt .playlistSettings {
    margin-top: 10px;
}

.createPlaylistPrompt .underline {
    position: absolute;
    right: 58px;
    left: 10px;
    bottom: 10px;
    height: 5px;
    width: 188px;
}

.createPlaylistPrompt button.ok {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
}

.invalid {
    background-color: #ffcccc;
}

.editPlaylistPrompt input[type="text"] {
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    padding: 0 .2em;
    font: bold 14px/1 sans-serif;
    height: 24px;
    width: 300px;
}

.createPlaylistPrompt input[type="text"] {
    position: absolute;
    bottom: 11px;
    width: 180px;
    left: 11px;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    padding: 0 .2em;
    font: bold 14px/1 sans-serif;
    height: 24px;
}

.underline {
    background: #ccc;
    transition: background-color .3s;
    z-index: 0;
    height: 5px;
}

.underline.active { background: #666 }

#search {
    box-shadow: 0 0 10px #000;
    opacity: 0;
}

#search .hidden {
    display: none;
}

.searchBar input {
    -webkit-appearance: none;
    border: 0;
    bottom: 11px;
    display: block;
    font: bold 14px/1 sans-serif;
    left: 1px;
    padding: 0 .2em;
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 1;
}

.searchBar button#source-select {
    bottom: 11px;
    display: block;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: left;
    text-indent: .3em;
    top: 10px;
    width: 140px;
}

.searchBar button#source-select .label { margin: 0 .7em 0 .5em }

#search {
    display: none;
}

#activePlaylistItemsView .icon-arrow-up {
    position: absolute;
    right: 32px;
    top: 0;
}

#activePlaylistItemsView .big-text,
#search .big-text {
    color: #949494;
    font-size: 1.2em;
    margin: 2em 1em;
    text-align: center;
}

#search .big-text i {
    display: block;
    font-size: 5em;
}

.right-pane {
    background: #f2f2f2;
    border-left: 1px solid #e6e6e6;
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    z-index: 1
}

.right-pane .top-bar {
    display: block;
    height: 44px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
}

.right-pane .top-bar .volumeControl {
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 36px;
    z-index: 3;
    width: 42px;
    background-color: #f2f2f2;
}

.right-pane .top-bar .volume-slider {
    background: #fafafa;
    border: 1px solid #ccc;
    width: 40px;
    height: 80px;
    position: absolute;
    top: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    margin-top: -20px;
}

.right-pane .top-bar .volume-slider:before {
    display: block;
    content: ' ';
    width: 10px;
    height: 10px;
    background: #fafafa;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.right-pane .top-bar .volume-slider input {
    -webkit-appearance: none;
    width: 80px;
    height: 2px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 10px;
    left: 21px;
}
.right-pane .top-bar .volume-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 5px #c5c5c5;
    background: #777;
    border-radius: 100%;
    cursor: pointer;
    height: 10px;
    width: 10px
}

.right-pane .top-bar .volume-slider input:focus {
    outline: none
}

.right-pane .top-bar .volume-slider .progress {
    margin-left: 19px;
    width: 2px;
    background: #777;
}

.right-pane .top-bar .center-group {
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: -64px;
    position: absolute;
    top: 0;
    width: 128px;
    z-index: 1;
}

.right-pane .top-bar .right-group {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1;
}

.right-pane .time-slider {
    background: #dadada;
    display: block;
    height: 3px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 44px;
}

.right-pane .time-slider .progress {
    background: #797979;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1
}

.right-pane .time-slider input {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    z-index: 2
}

.right-pane .progress-details {
    display: block;
    height: 19.5px;
    left: 10px;
    line-height: 1.5;
    position: absolute;
    right: 10px;
    top: 55px;
}

.right-pane .progress-details .time-elapsed {
    bottom: 0;
    display: block;
    left: 10px;
    position: absolute;
    top: 0;
}

.right-pane .progress-details .title {
    bottom: 0;
    display: block;
    left: 65px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
}

.right-pane .progress-details .time-remaining {
    bottom: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
}

#addSearchResults .list {
    overflow: hidden;
    position: absolute;
    top: 125px;
    left: 0;
    right: 10px;
    bottom: 0;
}

.streamView .list {
    bottom: 40px;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 84.5px;
    padding-right: 0
}

#addSearchResults .list:hover,
.streamView .list:hover {
    overflow-x: hidden;
    overflow-y: auto;
}

#addSearchResults .list::-webkit-scrollbar,
.streamView .list::-webkit-scrollbar {
    background: transparent;
}

#addSearchResults .list::-webkit-scrollbar-thumb,
.streamView .list::-webkit-scrollbar-thumb {
    background: #949494
}

.right-pane .context-buttons {
    border-top: 1px solid #dadada;
    bottom: 0;
    display: block;
    height: 30px;
    left: 10px;
    position: absolute;
    right: 10px;
}

.right-pane .context-buttons .left-group {
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 128px;
}

.right-pane .context-buttons .right-group {
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 84px;
}

#activeFolderArea button.hide,
#activePlaylistArea button.show,
#button-back {
    height: 45px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 52;
}

#activePlaylistArea button.show {
    background-color: #fff;
}

.modalOverlay,
#activeFolderArea {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

#addSearchResults {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 380px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
    transition: background .3s;
}

#addSearchResults,
#activeFolderArea {
    display: none;
    opacity: 0;
}

#activeFolderArea .panel {
    background: #f2f2f2;
    bottom: 0;
    box-shadow: 0 0 20px #000;
    display: block;
    left: -250px;
    position: absolute;
    top: 0;
    transition: left .3s ease-in-out;
    width: 250px;
    z-index: 51;
}

#addSearchResults .panel {
    background: #f2f2f2;
    bottom: 0;
    display: block;
    right: -250px;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 51;
}

#activeFolderView {
    overflow: hidden;
    height: auto;
}

#activeFolderArea.visible .panel { left: 0 }

#activeFolderArea .header {
    background: #e6e6e6;
    display: block;
    height: 45px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

#addSearchResults .header {
    background: #e6e6e6;
    height: 45px;
    margin-bottom: 10px;
}

#addSearchResults .header span {
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 45px;
    text-align: left;
    left: 20px;
    position: absolute;
}

#addSearchResults .list .scroll {
    height: 30px;
    width: 230px;
    position: fixed;
    margin-left: 10px;
    z-index: 1;
}

#addSearchResults .list .scroll.bottom {
    bottom: 10px;
}

#addSearchResults .divider {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
    position: relative;
    left: 10px;
    width: 230px;
}

#addSearchResults .addItemOption.playlist {
    padding-top: 5px;
}

#addSearchResults .addItemOption i.hidden {
    opacity: 0;
}

#addSearchResults .addItemOption i {
    border: 3px solid #D5D5D5;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #DEDEDE;
    color: #656565;
    transition: opacity 1s;
    position: absolute;
}

#addSearchResults .addItemOption.droppableOnHover i.droppable {
    border: 3px solid #6BBD46;
}

#addSearchResults .addItemOption i.dropped {
    border: 3px solid #6BBD46;
    background-color: #6BBD46;
    color: #fff;
}

#addSearchResults .addItemOption {
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#activeFolderArea .header span {
    color: #949494;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 45px;
    text-transform: uppercase;
}

#activeFolderArea .header span img { margin-top: .6em }

#activeFolderArea .header .settings {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
}

#activeFolderArea .list {
    bottom: 30px;
    display: block;
    left: 10px;
    overflow: hidden;
    padding-bottom: 1em;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 45px;
}

#activeFolderArea .list:hover {
    overflow-x: hidden;
    overflow-y: auto;
}

#activeFolderArea .list::-webkit-scrollbar {
    background: transparent;
    height: 4px;
    width: 4px;
}

#activeFolderArea .list::-webkit-scrollbar-thumb { background: #949494 }

#activeFolderArea .list h3 {
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    margin-top: 1em;
    text-transform: uppercase;
}

#activeFolderArea .list h3 i { margin-left: .3em }

#activeFolderArea .list ul li {
    display: block;
    height: 26px;
    line-height: 26px;
    position: relative;
}

#activeFolderArea .list ul li span.titleWrapper {
    overflow: hidden;
    padding-right: 40px;
    display: block;
    text-overflow: ellipsis;
    margin-left: 30px;
}

#activeFolderArea .list ul li span.title {
    white-space: nowrap;
}

#activeFolderArea .list ul li i {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
}

#activeFolderArea .list ul li span.count {
    background: #949494;
    border-radius: 1em;
    color: #fff;
    display: block;
    font-size: .85em;
    font-weight: bold;
    line-height: 1.4;
    padding: 0 .6em 0 .5em;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 6px;
}

#activeFolderArea .context-buttons {
    border-top: 1px solid #dadada;
    bottom: 0;
    display: block;
    height: 30px;
    left: 10px;
    position: absolute;
    right: 10px;
}

#activeFolderArea .context-buttons .left-group {
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    right: 80px;
    top: 0;
}

#activeFolderArea .context-buttons .right-group {
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 118px;
}
/* FIX TO MAKE ICONS RENDER NICELY */

i { font-size: 14px !important; }

i.i-2x { font-size: 28px !important }

i.i-4x { font-size: 56px !important }


.prompt .reminder {
    margin-top: 5px;
}

/* Selectize Configuration */
html .selectize-control .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

html .selectize-control.multi .selectize-input > div {
    border: none !important;
}

html .selectize-control.multi .selectize-input [data-value] {
    background: -webkit-linear-gradient(top, #6edb00, #6BBD46) !important;
    text-shadow: 0 1px 0 #57ad00 !important;
}

html .selectize-control.multi .selectize-input [data-value] > .remove {
    border-color: #6BBD46;
}

html .selectize-control.multi .selectize-input.full > input {
    display: none;
}