<section class='grouping'>
    <div class='grouping-header'>
        <%= contextMenusMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li id='browserSettings-showTextSelectionContextMenuRegion' class='grouping-item listItem listItem--small'></li>
            <li id='browserSettings-showYouTubeLinkContextMenuRegion' class='grouping-item listItem listItem--small'></li>
            <li id='browserSettings-showYouTubePageContextMenuRegion' class='grouping-item listItem listItem--small'></li>
        </ul>
    </div>
</section>

<section class='grouping'>
    <div class='grouping-header'>
        <%= websiteEnhancementsMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li id='browserSettings-enhanceYouTubeRegion' class='grouping-item listItem listItem--small'></li>
            <li id='browserSettings-enhanceBeatportRegion' class='grouping-item listItem listItem--small'></li>
        </ul>
    </div>
</section>