<div class='grouping-column'>
    <div class='grouping-header'>
        <%= contextMenusMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <div id='browserSettings-showTextSelectionContextMenuRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='browserSettings-showYouTubeLinkContextMenuRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='browserSettings-showYouTubePageContextMenuRegion'></div>
            </li>
        </ul>
    </div>
</div>

<div class='grouping-column'>
    <div class='grouping-header'>
        <%= websiteEnhancementsMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <div id='browserSettings-enhanceYouTubeRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='browserSettings-enhanceBeatportRegion'></div>
            </li>
        </ul>
    </div>
</div>