<div class='grouping-column'>
    <div class='grouping-header'>
        <%= contextMenusMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <label>
                    <input type='checkbox' data-property='showTextSelectionContextMenu' <%= showTextSelectionContextMenu ? 'checked' : '' %>>
                    <%= showOnTextSelectionMessage %>
                </label>
            </li>
            <li class='grouping-item'>
                <label>
                    <input type='checkbox' data-property='showYouTubeLinkContextMenu' <%= showYouTubeLinkContextMenu ? 'checked' : '' %> >
                    <%= showOnYouTubeLinksMessage %>
                </label>
            </li>
            <li class='grouping-item'>
                <label>
                    <input type='checkbox' data-property='showYouTubePageContextMenu' <%= showYouTubePageContextMenu ? 'checked' : '' %> >
                    <%= showOnYouTubePagesMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>

<div class='grouping-column'>
    <div class='grouping-header'>
        <%= websiteEnhancementsMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <label>
                    <input type='checkbox' data-property='enhanceYouTube' <%= enhanceYouTube ? 'checked' : '' %>>
                    <%= applyToYouTubeMessage %>
                </label>
            </li>
            <li class='grouping-item'>
                <label>
                    <input type='checkbox' data-property='enhanceBeatport' <%= enhanceBeatport ? 'checked' : '' %> >
                    <%= applyToBeatportMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>