<div class='grouping-row'>
    <input type='text' id='createPlaylist-playlistTitle' class='textInput textInput--underlined js-submittable' placeholder='<%= requiredMessage %>: <%= titleLowerCaseMessage %>' value='<%= playlistMessage %> <%= playlistCount %>' maxlength='255'>
</div>

<div class='grouping-row'>
    <input type='text' id='createPlaylist-youTubeSource' class='textInput textInput--underlined js-submittable' placeholder='<%= optionalMessage %>: <%= playlistLowerCaseMessage %> / <%= channelLowerCaseMessage %> <%= urlMessage %>'>
</div>