<section class='grouping'>
    <input type='text' id='createPlaylist-title' class='textInput textInput--basic js-submittable' placeholder='<%= titleMessage %>' value='<%= playlistMessage %> <%= playlistCount %>' maxlength=<%= titleMaxLength %>>
    <div class="textInput-hint textInput-characterCounter">
        <span id="createPlaylist-title-characterCount">0</span> / <%= titleMaxLength %>
    </div>
</section>

<section class='grouping'>
    <input type='text' id='createPlaylist-dataSource' class='textInput textInput--basic js-submittable' placeholder='<%= playlistMessage %> <%= urlMessage %>'>
    <div id="createPlaylist-dataSource-hint" class="textInput-hint"></div>
</section>