<div class="grouping-column">
    <div class="grouping-header"><%= fileTypeMessage %></div>
    <div class="grouping-content">
        <ul>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportCsvRadio" data-property="exportCsv" type="radio" name="export-type" value="csv" <%= exportCsv ? 'checked' : '' %> />
                    <%= csvMessage %>
                </label>
            </li>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportJsonRadio" data-property="exportJson" type="radio" name="export-type" value="json" <%= exportJson ? 'checked' : '' %> />
                    <%= jsonMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="grouping-column">
    <div class="grouping-header"><%= includeMessage %></div>
    <div class="grouping-content">
        <ul>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportTitleCheckbox" data-property="exportTitle" type="checkbox" <%= exportTitle ? 'checked' : '' %> />
                    <%= titleMessage %>
                </label>
            </li>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportIdCheckbox" data-property="exportId" type="checkbox" <%= exportId ? 'checked' : '' %> />
                    <%= idMessage %>
                </label>
            </li>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportUrlCheckbox" data-property="exportUrl" type="checkbox" <%= exportUrl ? 'checked' : '' %> />
                    <%= urlMessage %>
                </label>
            </li>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportAuthorCheckbox" data-property="exportAuthor" type="checkbox" <%= exportAuthor ? 'checked' : '' %> />
                    <%= authorMessage %>
                </label>
            </li>
            <li class="grouping-item">
                <label>
                    <input id="exportPlaylist-exportDurationCheckbox" data-property="exportDuration" type="checkbox" <%= exportDuration ? 'checked' : '' %> />
                    <%= durationMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>