<div class='grouping-column'>
    <div class='grouping-header'><%= fileTypeMessage %></div>
    <div class='grouping-content'>
        <ul>
            <div id='exportPlaylist-fileTypeRegion'></div>
        </ul>
    </div>
</div>

<div class='grouping-column'>
    <div class='grouping-header'><%= includeMessage %></div>
    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <div id='exportPlaylist-exportTitleRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='exportPlaylist-exportIdRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='exportPlaylist-exportUrlRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='exportPlaylist-exportAuthorRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='exportPlaylist-exportDurationRegion'></div>
            </li>
        </ul>
    </div>
</div>