<div id='<%= viewId + "-panel" %>' class='prompt-panel panel panel--uncolored u-transitionable transition--veryFast'>
    <div id='<%= viewId + "-contentRegion" %>' class='prompt-contentRegion'></div>

    <div class='prompt-contentBar--bottom contentBar contentBar--bottom'>
        <div id='<%= viewId + "-reminderRegion" %>'></div>
            
        <% if( showCancelButton ) { %>
        <button id='<%= viewId + "-cancelButton" %>' class='button--flat'>
            <%= cancelButtonText %>
        </button>
        <% } %>
            
        <% if( showSubmitButton ) { %>
        <button id='<%= viewId + "-submitButton" %>' class='button--flat'>
            <%= submitButtonText %>
        </button>
        <% } %>
    </div>
</div>