<div id='<%= viewId + "-panel" %>' class='prompt-panel panel panel--uncolored u-transitionable transition--veryFast'>
    <div class='contentBar contentBar--top'>
        <span class='u-textOverflowEllipsis contentBar-content'>
            <%= title %>
        </span>
        
        <button id='<%= viewId + "-closeButton" %>' class='prompt-closeButton button--icon button--large'>
            <i class='fa fa-times'></i>
        </button>
    </div>

    <div id='<%= viewId + "-contentRegion" %>' class='prompt-contentRegion'></div>

    <div class='prompt-contentBar--bottom contentBar contentBar--bottom'>
        <div id='<%= viewId + "-reminderRegion" %>'></div>
            
        <% if( showCancelButton ) { %>
        <button id='<%= viewId + "-cancelButton" %>' class='button--flat'>
            <%= cancelButtonText %>
        </button>
        <% } %>
            
        <% if( showSubmitButton ) { %>
        <button id='<%= viewId + "-submitButton" %>' class='button--flat'>
            <%= submitButtonText %>
        </button>
        <% } %>
    </div>
</div>