<div class='grouping'>
    <div class='grouping-header'>
        <%= generalMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <div id='settings-showTooltipsRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='settings-openToSearchRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='settings-openInTabRegion'></div>
            </li>
            <li class="listItem listItem--medium">
                <div class="listItem-content">
                    <div class="listItem-title u-textOverflowEllipsis js-textTooltipable">
                        <%= songQualityMessage %>
                    </div>

                    <div class="listItem-details">
                        Auto
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--<div class='grouping'>
    <div class='grouping-header'>
        <%= songQualityMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li class='grouping-item'>
                <div id='settings-songQualityRegion'></div>
            </li>
        </ul>
    </div>
</div>-->

<div class='grouping'>
    <div class='grouping-header'>
        <%= remindersMessage %>
    </div>
    <div class='grouping-content'>
        <div id='settings-remindersRegion'></div>
        <ul>
            <li class='grouping-item'>
                <div id='settings-remindClearStreamRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='settings-remindDeletePlaylistRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='settings-remindLinkAccountRegion'></div>
            </li>
            <li class='grouping-item'>
                <div id='settings-remindGoogleSignInRegion'></div>
            </li>
        </ul>
    </div>
</div>

