<button class="button-icon hide enabled" title="Playlist Menu">
    <i class="fa fa-reorder"></i>
</button>

<div class="panel">
    
    <div class="header">
        
        <span class="title">
            <img height="25" src="http://streamus.com/img/logo.png">
        </span>

        <button class="button-icon settings" title="Streamus Settings">
            <i class="fa fa-cogs"></i>
        </button>

    </div>
    <div class="list">
        
        <h3 class="first">
            Playlists<i class="fa fa-caret-down"></i>
        </h3>

    </div>
    <div class="context-buttons">
        
        <div class="left-group">
            <button class="button-label button-small" id="button-sign-in"><i class="fa fa-sign-in"></i>Sign in</button>
        </div>

        <div class="right-group">
            
            <button class="button-icon button-small add" title="Add playlist">
                <i class="fa fa-plus"></i>
            </button>

            <button class="button-icon button-small edit" title="Edit playlists">
                <i class="fa fa-pencil"></i>
            </button>

        </div>

    </div>

</div>