<button class="button-icon show" title="Playlist Menu">
    <i class="icon-reorder"></i>
</button>

<div class="left-top-bar">
    <div class="playlist-name">
        <%- playlist.get('title') %>
    </div>
    <button class="button-label button-color" id="addVideosButton" title="<%- chrome.i18n.getMessage('addVideosButtonText') %>">
        <i class="icon-plus"></i><%- chrome.i18n.getMessage('addVideosButtonText') %>
    </button>
</div>
<div class="left-top-divider"></div>
<div class="left-bottom-menubar">
    <div class="playlist-details">
        <%- playlist.get('displayInfo') %>
    </div>
    <div class="playlist-actions">
                    
        <button class="button-label playAll" title="<%- chrome.i18n.getMessage('playAllButtonText') %>">
            <i class="icon-play-sign"></i><%- chrome.i18n.getMessage('playAllButtonText') %>
        </button>

    </div>
</div>