<div class="panel">
    
    <div class="header">
        
        <span class="title">
            <img height="25" src="http://streamus.com/img/logo.png">
        </span>

        <button class="button-icon button-icon" id="button-settings" title="Streamus Settings">
            <i class="icon-cogs"></i>
        </button>

    </div>
    <div class="list">
        
        <h3 class="first">
            Playlists<i class="icon-caret-down"></i>
        </h3>

    </div>
    <div class="context-buttons">
        
        <div class="left-group">
            <button class="button-label button-small" id="button-sign-in"><i class="icon-signin"></i>Sign in</button>
        </div>

        <div class="right-group">
            
            <button class="button-icon button-small" id="button-add-playlist" title="Add playlist">
                <i class="icon-plus"></i>
            </button>

            <button class="button-icon button-small" id="button-edit-playlists" title="Edit playlists">
                <i class="icon-pencil"></i>
            </button>

        </div>

    </div>

</div>