<div class="panel">
    <div class="header">
        <span class="selectedItemsMessage">

            <% if( selectedResultsLength === 1 ) { %>
            <%- chrome.i18n.getMessage('add') %> <%- selectedResultsLength %> <%- chrome.i18n.getMessage('item') %> <%- chrome.i18n.getMessage('to') %>:
            <% } else { %>
            <%- chrome.i18n.getMessage('add') %> <%- selectedResultsLength %> <%- chrome.i18n.getMessage('items') %> <%- chrome.i18n.getMessage('to') %>:
            <% } %>
            
        </span>
        <button class="button-icon" id="hideAddItemsButton" title="Hide">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <div class="divider"></div>

    <div class="list">
        <div class="top scroll" data-direction="up"></div>    
        <div class="bottom scroll" data-direction="down"></div>
    </div>  

</div>

