<div class="panel">
    <div class="header">
        <span class="selectedItemsMessage">
            <!--i18n-->
            
            <% if( selectedResultsLength === 1 ) { %>
                Add <%- selectedResultsLength %> item to:
            <% } else { %>
                Add <%- selectedResultsLength %> items to:
            <% } %>
            
        </span>
        <button class="button-icon" id="hideAddItemsButton" title="Hide">
            <i class="icon-arrow-right"></i>
        </button>
    </div>
    
    <div class="divider"></div>

</div>