<div class="panel">
    
    <div class="header">
        
        <span class="title">
            <%- chrome.i18n.getMessage('createPlaylist') %>
        </span>
        
        <button class="button-icon remove">
            <i class="icon-remove"></i>
        </button>
    </div>

    <div class="body">
        
        <%- chrome.i18n.getMessage('createPlaylistPromptText') %>
        
        <input type="text" class="submittable" value="<%- chrome.i18n.getMessage('playlist') %> <%- playlistCount %>">
        <div class="underline"></div>
        
        <button class="ok button-label button-color">
            <%- chrome.i18n.getMessage('okButtonText') %>
        </button>
    </div>

</div>