<div class="panel">
    
    <div class="header">
        
        <span class="title">
            <%- chrome.i18n.getMessage('editPlaylist') %>
        </span>
        
        <button class="button-icon remove">
            <i class="icon-remove"></i>
        </button>
    </div>

    <div class="body">
        
        <ul class="options">
            <li>
                <label for="playlistTitleInput">
                    <strong class="required"><%- chrome.i18n.getMessage('title') %></strong>
                </label>
                
                <span class="inputUnderlineWrapper">
                     <input id="playlistTitleInput" type="text" class="submittable" value="<%- title %>">
                    <div class="underline"></div>   
                </span>

            </li>
        </ul>
        
        <span class="bottom-right">
                        
            <button class="ok button-label button-color"><%- chrome.i18n.getMessage('saveButtonText') %></button>
            <button class="cancel button-label button-color"><%- chrome.i18n.getMessage('cancelButtonText') %></button>

        </span>
    </div>

</div>