<div class="top-bar">
    <div class="volume">
        <button class="button-icon" id="button-volume" title="Mute/Unmute"><i class="icon-volume-up"></i></button>
        <div class="volume-slider">
            <div class="progress" style="width: 70%"></div>
            <input class="slider" id="slider-volume" title="Volume" type="range" value="70">
        </div>
    </div>
    <div class="center-group">
                        
        <button class="button-icon" id="button-previous" title="Previous">
            <i class="icon-backward icon-large"></i>
        </button>
                        
        <button class="button-icon" id="button-play" title="Play/Pause">
            <i class="icon-play icon-large"></i>
        </button>
                        
        <button class="button-icon" id="button-next" title="Next">
            <i class="icon-forward icon-large"></i>
        </button>

    </div>
    <div class="right-group">
        <button class="button-icon toggleButton" id="button-video-mode" title="Toggle video mode">
            <i class="icon-film"></i>
        </button>
    </div>
</div>

<div class="progress-slider">
    <div class="progress" style="width: 33%"></div>
    <input class="slider" id="slider-progress" title="Progress" type="range" value="33">
</div>

<div class="progress-details">
    <span class="time-elapsed" title="Time elapsed">2:55</span>
    <span class="title">Now Playing</span>
    <span class="time-remaining" title="Time remaining">2:03</span>
</div>

<div class="context-buttons">
    
    <div class="right-group">
        <button class="button-icon button-small" id="button-stream-save" title="Save stream as playlist">
            <i class="icon-save"></i>
        </button>
        
        <button class="button-icon button-small" id="button-stream-delete" title="Clear stream">
            <i class="icon-trash"></i>
        </button>
    </div>

    <div class="left-group">
        
    </div>

</div>