<div class="top-bar">
    
    <div class="center-group">
    </div>
    <div class="right-group">
        <button class="button-icon toggleButton" id="button-video-mode" title="Toggle video mode">
            <i class="icon-film"></i>
        </button>
    </div>
</div>

<div class="context-buttons">
    
    <div class="right-group">
        <button class="button-icon button-small" id="button-stream-save" title="Save stream as playlist">
            <i class="icon-save"></i>
        </button>
        
        <button class="button-icon button-small" id="button-stream-delete" title="Clear stream">
            <i class="icon-trash"></i>
        </button>
    </div>

    <div class="left-group">
        
    </div>

</div>