<div class="panel">
    
    <div class="header">
        
        <span class="title">
            <%- videoCount === 1 ? chrome.i18n.getMessage('saveVideo') : chrome.i18n.getMessage('saveVideos') %>
        </span>
        
        <button class="button-icon remove">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <div class="body">
        
        <select class="submittable" placeholder="<%- chrome.i18n.getMessage('selectPlaylistPlaceholder') %>..."></select>
        
        <span class="bottom-right">
                        
            <button class="ok button-label button-color">
                <%- chrome.i18n.getMessage('saveButtonText') %>
            </button>
            
            <button class="cancel button-label button-color">
                <%- chrome.i18n.getMessage('cancelButtonText') %>
            </button>
        </span>
    </div>

</div>