<img class="item-thumb lazy" data-original="http://img.youtube.com/vi/<%- video.get('id') %>/default.jpg" src="" />
<span class="item-title">
    <%- title %>
</span>
<span class="item-details">
    
    <span class="item-author">
        <%-chrome.i18n.getMessage('by')%> <div class="limitedScrollingWidth"><strong><%- video.get('author') %></strong></div>
    </span>
    <span class="item-duration">
        <i class="icon-time"></i>
        <%- video.get('prettyDuration') %>
    </span>

</span>