<div class="left-top-bar">
    <div class="searchBar">
		<input placeholder="<%- chrome.i18n.getMessage('searchText') %>" type="search">
		<div class="searchBottomOutline"></div>
<!--	<button id="source-select">
			<i class="icon-youtube-play"></i>
			<span class="label">YouTube</span>
			<i class="icon-sort"></i>
		</button>-->
	</div>
</div>
<div class="left-top-divider"></div>

<div class="left-bottom-menubar">
    <div class="playlist-actions">
        <button class="button-label" title="Start playing the top 10 results">
            <i class="icon-play-sign"></i><%- chrome.i18n.getMessage('playTopTenButtonText') %>
        </button>
                    
        <button class="button-label" title="Save search results as new playlist">
            <i class="icon-save"></i><%- chrome.i18n.getMessage('saveAsPlaylist') %>
        </button>
    </div>
</div>