<button class="button-icon" id="button-back" title="Back">
    <i class="fa fa-arrow-left"></i>
</button>

<div class="left-top-bar">
    <div class="searchBar">
		<input placeholder="<%- chrome.i18n.getMessage('searchText') %>" type="text">
		<div class="underline"></div>
<!--	<button id="source-select">
			<i class="fa fa-youtube-play"></i>
			<span class="label">YouTube</span>
			<i class="fa fa-sort"></i>
		</button>-->
	</div>
</div>
<div class="left-top-divider"></div>

<div class="left-bottom-menubar">
    <div class="playlist-actions">

    </div>
</div>