/* 
	BUTTONS AND CONTROLS
 */

button
	padding 0
	margin 0
	border 0
	background transparent
	transition color 0.1s, text-shadow 0.1s
	cursor pointer
	&:active
		text-shadow 0 1px 1px rgba(0,0,0,.3);

.button-icon
	width button-width
	height bar-height
	line-height bar-height
	font-size 1.2em

.button-small
	height bottom-bar-height
	line-height bottom-bar-height
	
.button-toggle
	color accent-color
	text-shadow 0 0 3px lighten(accent-color, 30%)
	
.button-label               
	padding 0.1em 0.4em   
	i
		margin-right 0.5em

.button-color
	background -webkit-linear-gradient(top, lighten(accent-color,5%), darken(accent-color,5%));
	border-radius 3px
	color #fff
	text-shadow 0 1px 0 darken(accent-color,15%)
	
input[type="range"]
	-webkit-appearance none
	background transparent
	padding 0
	margin 0
	border 0
	height 1px
	&::-webkit-slider-thumb
		-webkit-appearance none;
		-webkit-box-shadow 0 0 5px darken(#eaeaea,16%) 
		cursor pointer
		background: darken(#efefef,50%);
		border-radius 100%
		height 10px
		width 10px
		