/* 
	FUNCTIONS FOR LAYOUT
	AND MAIN VARIABLES
	*/

light-grey = darken(#fff, 5%) /* for right pane */
dark-grey = darken(lightgrey, 30%) /* for progressbar and some text */

main-font = sans-serif
font-size = 13px

accent-color = #66CC00 

margin = 10px
right-width = 250px
button-width = 40px
bar-height = 45px
bottom-bar-height = 30px
addbutton-width = 90px             
thumb-width = button-width
thumb-height = thumb-width*3/4 	

body
	overflow hidden


/* 
	CREATES A BOX
	p - position
	l b r t - left, bottom, right, top value
	w h - width, height	
	
	if auto is used the rule is ommited
	*/
box(p l b r t w h)
	display block
	position p
	if t is not auto
		top t
	if l is not auto
		left l
	if b is not auto
		bottom b
	if r is not auto
		right r
	if w is not auto
		width w
	if h is not auto
		height h

/* 
	Adds ellipsis on text overflow
 */

add-ellipsis(t)
	white-space nowrap
	text-overflow ellipsis
	overflow hidden		

input,button
	&:focus
		outline none
		
@import "reset.styl"
@import "type.styl"
@import "buttons.styl"
@import "left-pane.styl"
@import "right-pane.styl"
@import "playlists-panel.styl"

/*! FIX TO MAKE ICONS RENDER NICELY */
i
	font-size 14px !important
	&.i-2x
		font-size 28px !important
	&.i-4x
		font-size 56px !important