.right-pane
	background light-grey
	box absolute auto 0 0 0 right-width auto auto 
	border-left 1px solid darken(light-grey, 5%)
	z-index 1

.player
	.top-bar
		box absolute (margin) auto (margin) 0 auto (bar-height - 1)
		.volume
			box absolute 0 0 auto 0 button-width auto
			background light-grey
			z-index 2
			overflow hidden
			transition width 0.3s ease-out
			&:hover
				width (right-width - margin*2) 
		.volume-slider
			box absolute (button-width + margin) auto auto (bar-height/2) (right-width - button-width - margin*4) 1px 
			background darken(light-grey, 10%)
			.progress
				box absolute 0 0 auto 0 auto auto
				background darken(light-grey, 50%)
				z-index 1
			input
				box absolute 0 0 0 0 (right-width - button-width - margin*4) auto
				z-index 2
		.center-group
			z-index 1
			box absolute 50% 0 auto 0 (button-width*3) auto
			margin-left (button-width*3/2*-1)
		.right-group
			z-index 1
			box absolute auto 0 0 0 button-width auto
	.progress-slider
		box absolute margin auto margin (bar-height - 1) auto 3px
		background darken(light-grey, 10%)
		.progress
			box absolute 0 0 auto 0 auto auto
			background darken(light-grey, 50%)
			z-index 1
		input
			box absolute 0 0 0 0 auto auto
			width (right-width - 2*margin)
			z-index 2
	.progress-details
		box absolute margin auto margin (bar-height+margin) auto (font-size*1.5)
		line-height 1.5
		.time-elapsed
			box absolute margin 0 auto 0 auto auto
		.title
			box absolute (right-width/2 - 50 - margin) 0 auto 0 100px auto
			text-align center 
		.time-remaining
			box absolute auto 0 margin 0 auto auto
	.list
		box absolute margin (bottom-bar-height + margin) 0 (bar-height + font-size*1.5 + margin*2) auto auto
		overflow hidden
		padding-right margin
		&:hover
			overflow-y scroll 
			padding-right 0		
		&::-webkit-scrollbar
			width margin
			height margin
			background transparent
			&-thumb
				background dark-grey
	.context-buttons
		border-top 1px solid darken(light-grey, 10%)
		box absolute margin 0 margin auto auto bottom-bar-height         
		.left-group
			box absolute 0 auto auto 0 (button-width*3) bottom-bar-height
		.right-group
			box absolute auto auto 0 0 (button-width*2) bottom-bar-height