/* 
	TYPOGRAPHY
 */

body
	font font-size/1.2 main-font
	
.playlist-name
	font-weight bold
	font-size 1.1em
	add-ellipsis true
	
.playlist-details
	color dark-grey
	line-height 1.5

.item	
	&-title
		font-size 1.1em
		add-ellipsis true
	&-details
		font-size 0.8em
		color dark-grey
		add-ellipsis true
	&-author
		margin-right 0.8em

.progress-details
	font-size 0.9em
		
.progress-details .title
	font-weight bold
	text-transform uppercase
	