<div id='<%= viewId %>-overlay' class='overlay overlay--faded u-transitionable transition--veryFast'></div>

<div id='<%= viewId %>-panel' class='panel panel--left column u-flex--column column--thin u-transitionable transition--veryFast'>
    <div class='column u-flex--column panel-content panel-content--uncolored'>
        <div class='instruction-wrapper'>
            <div id='<%= viewId %>-playlistsRegion' class='column u-flex--column u-flex--full'></div>
        </div>
        <div class='contentBar contentBar--bottom'>
            <button id='<%= viewId %>-createPlaylistButton' class='button--flat'>
                <%= createPlaylist %>
            </button>
        </div>
    </div>
</div>