<button id="adminMenuArea-showMenuButton" class="button--icon button--large">
    <i class="fa fa-cogs"></i>
</button>

<ul id="adminMenuArea-menu" class="adminMenuArea-menu menu panel panel--uncolored u-aboveContent">
    <li id="adminMenuArea-settingsMenuItem" class="menu-item">
        <%= settingsMessage %>
    </li>
    <li id="adminMenuArea-browserSettingsMenuItem" class="menu-item">
        <%= browserSettingsMessage %>
    </li>
    <li id="adminMenuArea-keyboardShortcutsMenuItem" class="menu-item">
        <%= keyboardShortcutsMessage %>
    </li>
    <li id="adminMenuArea-viewInTabMenuItem" class="menu-item">
        <%= viewInTabMessage %>
    </li>
    <li id="adminMenuArea-donateMenuItem" class="menu-item">
        <%= donateMessage %>
    </li>
    <li id="adminMenuArea-reloadMenuItem" class="menu-item">
        <%= reloadMessage %>
    </li>
</ul>