<div class='contentBar contentBar--top'>
    <div class='u-flex--row'>
        <div id='rightPane-volumeAreaRegion'></div>

        <div class='u-flex--justifyCenter u-flex--full'>
            <div id="rightPane-previousButtonRegion"></div>
            <div id="rightPane-playPauseButtonRegion"></div>
            <div id="rightPane-nextButtonRegion"></div>
        </div>
    
        <div id='rightPane-adminMenuAreaRegion'></div>
    </div>
    <div class='u-flex--row'>
        <div id='rightPane-timeAreaRegion' class='u-flex--full'></div>
    </div>
</div>
<div id='rightPane-contentRegion' class='u-flex--full u-flex--column column'></div>
