<div class='instruction-wrapper'>
    <div id='streamItems-emptyMessage' class='instruction'>
        <div class='instruction-header'>
            <%= emptyMessage %>
        </div>
        <div class='u-textSecondary'>
            <%= whyNotAddASongFromAPlaylistOrMessage %> <span id='streamItems-showSearchLink' class='u-link u-lowercase'><%= searchForSongsMessage %></span>?
        </div>
    </div>
    
    <div class='list'>
        <ol id='streamItems-listItems' class='js-droppable'></ol>
    </div>
</div>