<div id='stream-streamItemsRegion' class='column u-flex--column u-flex--full'></div>

<div class='contentBar contentBar--bottom'>
    <div class='u-flex--row'>
        <div class='u-flex--full'>
            <span id='stream-shuffleButtonRegion'></span>
            <span id='stream-repeatButtonRegion'></span>
            <span id='stream-radioButtonRegion'></span>
        </div>

        <div id='stream-saveStreamButtonRegion'></div>
        <div id='stream-clearStreamButtonRegion'></div>
    </div>
</div>