<button id='volumeArea-volumeButton' class='volumeArea-volumeButton button--icon button--large'>
    <i id='volumeArea-volumeIcon' class='fa'></i>
</button>

<div id='volumeArea-slidePanel' class='volumeArea-slidePanel panel panel--uncolored u-flex--column u-aboveContent'>
    <div class='rangeInput-wrapper rangeInput-wrapper--vertical'>
        <div id='volumeArea-volumeProgress' class='rangeInput-progress'></div>
        <input id='volumeArea-volumeRange' class='rangeInput u-clickable' type='range' />
    </div>
</div>