<!DOCTYPE html>

<html>

    <head>
        <title>
            Streamus
        </title>

        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/newForegroundUi.css" rel="stylesheet">
        <link href="css/contextMenu.css" rel="stylesheet" />
        <script src="js/foreground/requirePaths.js"></script>
        <script data-main="main" src="../js/thirdParty/require.js"></script>
    </head>

    <body class="loading">
        

        <div class="right-pane">
            <div class="player">
                <div class="top-bar">
                    <div class="volume">
                        <button class="button-icon" id="button-volume" title="Mute/Unmute"><i class="icon-volume-up"></i></button>
                        <div class="volume-slider">
                            <div class="progress" style="width: 70%"></div>
                            <input class="slider" id="slider-volume" title="Volume" type="range" value="70">
                        </div>
                    </div>
                    <div class="center-group">
                        
                        <button class="button-icon" id="button-previous" title="Previous">
                            <i class="icon-backward icon-large"></i>
                        </button>
                        
                        <button class="button-icon" id="button-play" title="Play/Pause">
                            <i class="icon-play icon-large"></i>
                        </button>
                        
                        <button class="button-icon" id="button-next" title="Next">
                            <i class="icon-forward icon-large"></i>
                        </button>

                    </div>
                    <div class="right-group">
                        <button class="button-icon" id="button-video-mode" title="Toggle video mode"><i class="icon-film"></i></button>
                    </div>
                </div>
                <div class="progress-slider">
                    <div class="progress" style="width: 33%"></div>
                    <input class="slider" id="slider-progress" title="Progress" type="range" value="33">
                </div>
                <div class="progress-details">
                    <span class="time-elapsed" title="Time elapsed">2:55</span><span class="title">Now Playing</span><span class="time-remaining" title="Time remaining">2:03</span>
                </div>
                <div class="list">
                    <div class="item">
                        <img class="item-thumb" src=""><span class="item-title">Jungle - Drops</span><span class="item-details"><span class="item-author"><i class="icon-user"></i>majesticcasual</span><span class="item-duration"><i class="icon-time"></i>2:52	</span></span>
                    </div>
                    <div class="item">
                        <img class="item-thumb" src=""><span class="item-title">Jungle - Drops</span><span class="item-details"><span class="item-author"><i class="icon-user"></i>majesticcasual</span><span class="item-duration"><i class="icon-time"></i>2:52	</span></span>
                    </div>
                    <div class="item">
                        <img class="item-thumb" src=""><span class="item-title">Jungle - Drops</span><span class="item-details"><span class="item-author"><i class="icon-user"></i>majesticcasual</span><span class="item-duration"><i class="icon-time"></i>2:52	</span></span>
                    </div>
                    <div class="item">
                        <img class="item-thumb" src=""><span class="item-title">Jungle - Drops</span><span class="item-details"><span class="item-author"><i class="icon-user"></i>majesticcasual</span><span class="item-duration"><i class="icon-time"></i>2:52	</span></span>
                    </div>
                </div>
                <div class="context-buttons">
                    <div class="right-group">
                        <button class="button-icon button-small" id="button-stream-save" title="Save stream as playlist"><i class="icon-save"></i></button><button class="button-icon button-small" id="button-stream-delete" title="Clear stream"><i class="icon-trash"></i></button>
                    </div>
                    <div class="left-group">
                        <button class="button-icon button-small" id="button-stream-repeat" title="Repeat playlist"><i class="icon-repeat"></i></button><button class="button-icon button-small" id="button-stream-shuffle" title="Shuffle songs"><i class="icon-random"></i></button><button class="button-icon button-small" id="button-stream-radio" title="Toggle Radio mode"><i class="icon-rss"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="button-icon" id="button-playlists" title="Playlist Menu">
            <i class="icon-reorder"></i>
        </button>
        <button class="button-icon" id="button-back" title="Back">
            <i class="icon-arrow-left"></i>
        </button>
        <div id="playlists-panel">
            <div class="panel">
                <div class="header">
                    <span class="title">
                        <img height="25px" src="http://streamus.com/img/logo.png">
                    </span>
                    <button class="button-icon button-icon" id="button-settings" title="Streamus Settings">
                        <i class="icon-cogs"></i>
                    </button>
                </div>
                <div class="list">
                    <h3 class="first">
                        Playlists<i class="icon-caret-down"></i>
                    </h3>
                    <div>
                        <ul id="activeFolderView">

                        </ul>
                    </div>
                </div>
                <div class="context-buttons">
                    <div class="left-group">
                        <button class="button-label button-small" id="button-sign-in"><i class="icon-signin"></i>Sign in</button>
                    </div>
                    <div class="right-group">
                        <button class="button-icon button-small" id="button-add-playlist" title="Add playlist"><i class="icon-plus"></i></button><button class="button-icon button-small" id="button-edit-playlists" title="Edit playlists"><i class="icon-pencil"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="contextMenu">     
        </div>

        <!--Templates:-->
        <script type="text/template" id="loadingSpinnerTemplate">
            <div class="spinner">
                <div class="mask">
                    <div class="maskedCircle"></div>
                </div>
            </div>
        </script>

        <script type="text/template" id="reloadPromptTemplate">
            <div class="panel">
                <div class="header">
                    <span class="title">Reload Streamus</span>
                </div>
                <div class="body">
                    <%- promptText %>
                    <button class="reload button-label button-color"><%- reloadButtonText %></button>
                    <button class="wait button-label button-color"><%- waitButtonText %></button>
                </div>
            </div>
        </script>

        <script type="text/template" id="contextMenuTemplate">

            <% groups.each(function(group){ %>
                <ul id="<%= group.cid %>">
                    <% group.get('items').each(function(item){ %>
                        <li>
                            <a id="<%= item.cid %>" title="<%= item.get('title') %>" <% if( item.get('disabled') ) { %> disabled="disabled" <% } %> href="#"><%= item.get('text') %></a>
                        </li>
                    <% }); %>
                </ul>
            <% }); %>

        </script>
        
        <script type="text/template" id="dialogTemplate">
            <button type="button" class="close">×</button>
            <%- text %>
        </script>
        
        <script type="text/template" id="playlistItemTemplate">
            <img class="item-thumb lazy" data-original="http://img.youtube.com/vi/<%- video.get('id')%>/default.jpg" src="" />
            <span class="item-title"><%- title %></span>
            <span class="item-details">
                <span class="item-author">
                    <i class="icon-user"></i><%- video.get('author') %>
                </span>
                <span class="item-duration">
                    <i class="icon-time"></i><%- video.get('prettyDuration') %>	
                </span>
            </span>
        </script>

        <script type="text/template" id="playlistTemplate">
            <i class="icon-list icon-fixed-width"></i>
            <span class="title"><%- title %></span>
            <span class="count"><%- items.length %></span>
        </script>
        
        <script type="text/template" id="activePlaylistItemsTemplate">
            
            <% if( items.length === 0 ) { %>
                <div class="big-text">
                    <i class="icon-music i-4x"></i>

                    <div class="emptyMessage">
                        <%- title %> <%- chrome.i18n.getMessage("emptyPlaylist") %>
                    </div>
                </div>
            <% } %>

        </script>
        
        <script type="text/template" id="activePlaylistAreaTemplate">
            
            <div class="left-top-bar">
                <div class="playlist-name">
                   <%- playlist.get('title') %>
                </div>
                <button class="button-label button-color" id="addVideosButton" title="<%- addVideosButtonText %>">
                    <i class="icon-plus"></i><%- addVideosButtonText %>
                </button>
            </div>
            <div class="left-top-divider"></div>
            <div class="left-bottom-menubar">
                <div class="playlist-details">
                    <%- playlist.get('displayInfo') %>
                    <!--9 songs, 38 minutes-->
                </div>
                <div class="playlist-actions">
                    
                    <button class="button-label" id="button-playlist-play-all" title="<%- playAllButtonText %>">
                        <i class="icon-play-sign"></i><%- playAllButtonText %>
                    </button>

                    <button class="button-label" id="button-playlist-rename" title="<%- renameButtonText %> <%- playlist.get('title') %>">
                        <i class="icon-pencil"></i><%- renameButtonText %> 
                    </button>

                    <button class="button-label" id="button-playlist-delete" title="<%- deleteButtonText %> <%- playlist.get('title') %>">
                        <i class="icon-trash"></i><%- deleteButtonText %>
                    </button>

                </div>
            </div>

        </script>
        
        <script type="text/template" id="videoSearchTemplate">

            <div class="left-top-bar">
                <div class="searchBar">
					<input placeholder="<%- chrome.i18n.getMessage('searchText') %>" type="search">
					<div class="searchBottomOutline"></div>
					<button id="source-select">
						<i class="icon-youtube-play"></i>
						<span class="label">YouTube</span>
						<i class="icon-sort"></i>
					</button>
				</div>
            </div>
            <div class="left-top-divider"></div>

            <div class="left-bottom-menubar">
                <div class="playlist-actions">
                    <button class="button-label" title="Start playing the top 10 results">
                        <i class="icon-play-sign"></i><%- chrome.i18n.getMessage('playTopTenButtonText') %>
                    </button>
                    
                    <button class="button-label" title="Save search results as new playlist">
                        <i class="icon-save"></i><%- chrome.i18n.getMessage('saveAsPlaylist') %>
                    </button>
                </div>
            </div>

        </script>

        <script type="text/template" id="videoSearchResultsTemplate">
            
            <% if( this.model.length === 0 ) { %>
                
                <div class="big-text">
                    <i class="icon-search i-4x"></i><%- chrome.i18n.getMessage('searchInstructions') %>
                </div>

            <% } %>

        </script>
        
        <script type="text/template" id="videoSearchResultItemTemplate">
            
            <img class="item-thumb lazy" data-original="http://img.youtube.com/vi/<%- id %>/default.jpg" src="" />
            <span class="item-title"><%- title %></span>
            <span class="item-details">
                <span class="item-author">
                    <i class="icon-user"></i><%- author %>
                </span>
                <span class="item-duration">
                    <i class="icon-time"></i><%- prettyDuration %>	
                </span>
            </span>
        
        </script>

    </body>
</html>