<div class="panel">
    <div class="header">
        
        <span class="title">
            <%- promptTitle %>
        </span>
        
        <button class="button-icon remove">
            <i class="fa fa-times"></i>
        </button>

    </div>
    <div class="content">
        
    </div>
    <span class="bottom-right">
                        
        <button class="ok button-label button-color">
            <%- okButtonText %>
        </button>
            
        <button class="cancel button-label button-color">
            <%- cancelButtonText %>
        </button>

    </span>
</div>