<div class="left-top-bar">
    <div class="searchBar">
        <input placeholder="<%- chrome.i18n.getMessage('search') %>..." type="text">
        <div class="underline"></div>
    </div>
</div>

<button class="button-icon remove top-right-button" id="button-back">
    <i class="fa fa-times"></i>
</button>

<div class="left-top-divider"></div>

<div class="big-text instructions">
    <i class="fa fa-search i-4x"></i><%- chrome.i18n.getMessage('searchInstructions') %>
</div>

<div class="big-text searching hidden">
    <i class="fa fa-spinner fa fa-spin i-4x"></i><%- chrome.i18n.getMessage('search') %>...
</div>

<div class="big-text noResults hidden">
    <i class="fa fa-frown-o i-4x"></i><%- chrome.i18n.getMessage('noSearchResults') %>
</div>

<div id="videoSearchResultsView" class="view-placeholder"></div>

<div class="left-bottom-menubar">
    <div class="playlist-actions">

    </div>
</div>