<div id='<%= viewId %>-activeStreamItemRegion'></div>

<div class='instruction-wrapper'>
    <div id='<%= viewId %>-emptyMessage' class='instruction'>
        <div class='instruction-header'>
            <%= emptyMessage %>
        </div>
        <div class='instruction-content'>
            <%= whyNotAddASongFromAPlaylistOrMessage %> <span id='<%= viewId %>-showSearchLink' class='u-link u-lowercase'><%= searchForSongsMessage %></span>?
        </div>
    </div>

    <div id='<%= viewId %>-streamItemsRegion' class='column u-flex--column u-flex--full'></div>
</div>

<div class='contentBar contentBar--bottom'>
    <div class='u-flex--full u-flex--row'>
        <div id='<%= viewId %>-shuffleButtonRegion'></div>
        <div id='<%= viewId %>-repeatButtonRegion'></div>
        <div id='<%= viewId %>-radioButtonRegion'></div>
    </div>

    <div id='<%= viewId %>-saveStreamButtonRegion'></div>
    <div id='<%= viewId %>-clearStreamButtonRegion'></div>
</div>