<div class='instruction-wrapper'>
  <div data-ui='emptyMessage' class='instruction'>
    <div class='instruction-header'>
      {{emptyMessage}}
    </div>
    <div class='instruction-content'>
      {{whyNotAddAVideoFromAPlaylistOrMessage}} <span data-ui='focusSearchInputLink' class='u-link u-lowercase'>{{searchForVideosMessage}}</span>?
    </div>
  </div>

  <div data-region='streamItems' class='flexColumn'></div>
</div>

<div class='contentBar contentBar--bottom u-bordered--top flexColumn-bugFix'>
  <div class='contentBar--bottom-text--left flexRow'>
    <div data-ui='streamDetails textTooltipable' class='u-lowercase u-textOverflowEllipsis text u-textSecondary'></div>
  </div>
  <div data-region='saveStreamButton'></div>
  <div data-region='clearStreamButton'></div>
</div>