<div data-ui='leftContent' class='listItem-leftContent is-showingThumbnail'>
  <div class='listItem-imageThumbnail' style='background-image: url(https://img.youtube.com/vi/{{get video 'id'}}/mqdefault.jpg)' />
  <div data-region='checkbox' class='listItem-checkboxRegion'></div>
</div>

<div class='listItem-content'>
  <div class='listItem-title' data-ui='textTooltipable' data-tooltip-text='{{get video 'title'}}'>
    {{get video 'title'}}
  </div>

  <div class='listItem-details'>
    {{get video 'prettyDuration'}}
  </div>
</div>

<span data-region='buttons' class='listItem-buttonsRegion'></span>