<div data-region='activeStreamItem' class='flexColumn-bugFix'></div>

<div class='instruction-wrapper'>
  <div data-ui='emptyMessage' class='instruction'>
    <div class='instruction-header'>
      <%= emptyMessage %>
    </div>
    <div class='instruction-content'>
      <%= whyNotAddASongFromAPlaylistOrMessage %> <span data-ui='showSearchLink' class='u-link u-lowercase'><%= searchForSongsMessage %></span>?
    </div>
  </div>

  <div data-region='streamItems' class='flexColumn'></div>
</div>

<div class='contentBar contentBar--bottom u-bordered--top flexColumn-bugFix'>
  <div class='flexRow'>
    <div data-region='shuffleButton'></div>
    <div data-region='repeatButton'></div>
    <div data-region='radioButton'></div>
  </div>

  <div data-region='saveStreamButton'></div>
  <div data-region='clearStreamButton'></div>
</div>