<div id='stream-activeStreamItemRegion'></div>
<div id='stream-streamItemsRegion' class='column u-flex--column u-flex--full'></div>

<div class='contentBar contentBar--bottom'>
    <div class='u-flex--full u-flex--row'>
        <div id='stream-shuffleButtonRegion' class="button-container"></div>
        <div id='stream-repeatButtonRegion' class="button-container"></div>
        <div id='stream-radioButtonRegion' class="button-container"></div>
    </div>

    <div id='stream-saveStreamButtonRegion' class="button-container"></div>
    <div id='stream-clearStreamButtonRegion' class="button-container"></div>
</div>