<div class='spinner-container'>
    <div class='spinner-layer spinner-layer--blue'>
        <div class='circle-clipper left'>
            <div class='circle'></div>
        </div>
        <div class='gap-patch'>
            <div class='circle'></div>
        </div>
        <div class='circle-clipper right'>
            <div class='circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--red'>
        <div class='circle-clipper left'>
            <div class='circle'></div>
        </div>
        <div class='gap-patch'>
            <div class='circle'></div>
        </div>
        <div class='circle-clipper right'>
            <div class='circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--yellow'>
        <div class='circle-clipper left'>
            <div class='circle'></div>
        </div>
        <div class='gap-patch'>
            <div class='circle'></div>
        </div>
        <div class='circle-clipper right'>
            <div class='circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--green'>
        <div class='circle-clipper left'>
            <div class='circle'></div>
        </div>
        <div class='gap-patch'>
            <div class='circle'></div>
        </div>
        <div class='circle-clipper right'>
            <div class='circle'></div>
        </div>
    </div>
</div>