<div class='spinner-container'>
    <div class='spinner-layer spinner-layer--blue'>
        <div class='spinner-clipper spinner-clipper--left'>
            <div class='spinner-circle'></div>
        </div>
        <div class='spinner--patch'>
          <div class='spinner-circle'></div>
        </div>
        <div class='spinner-clipper spinner-clipper--right'>
            <div class='spinner-circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--red'>
        <div class='spinner-clipper spinner-clipper--left'>
            <div class='spinner-circle'></div>
        </div>
        <div class='spinner--patch'>
          <div class='spinner-circle'></div>
        </div>
        <div class='spinner-clipper spinner-clipper--right'>
            <div class='spinner-circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--yellow'>
        <div class='spinner-clipper spinner-clipper--left'>
            <div class='spinner-circle'></div>
        </div>
        <div class='spinner--patch'>
          <div class='spinner-circle'></div>
        </div>
        <div class='spinner-clipper spinner-clipper--right'>
            <div class='spinner-circle'></div>
        </div>
    </div>

    <div class='spinner-layer spinner-layer--green'>
        <div class='spinner-clipper spinner-clipper--left'>
            <div class='spinner-circle'></div>
        </div>
        <div class='spinner--patch'>
          <div class='spinner-circle'></div>
        </div>
        <div class='spinner-clipper spinner-clipper--right'>
            <div class='spinner-circle'></div>
        </div>
    </div>
</div>