<div class='instruction-wrapper'>
    <div id='<%= viewId %>-typeToSearchMessage' class='instruction'>
        <div class='instruction-header'>
            <%= startTypingMessage %>
        </div>
        <div class='instruction-content'>
            <%= resultsWillAppearAsYouSearchMessage %>
        </div>
    </div>
    
    <div id='<%= viewId %>-searchingMessage' class='instruction is-showingSpinner'>
        <div class='instruction-header'>
            <%= searchingMessage %>
        </div>
        <div id='<%= viewId %>-spinnerRegion'></div>
    </div>

    <div id='<%= viewId %>-noResultsMessage' class='instruction'>
        <div class='instruction-header'>
            <%= noResultsFoundMessage %>
        </div>
        <div class='instruction-content'>
            <%= trySearchingForSomethingElseMessage %>
        </div>
    </div>
    
    <div id='<%= viewId %>-searchResultsRegion' class='flexColumn'></div>
</div>

<div class='contentBar contentBar--bottom'>
    <div id='<%= viewId %>-playAllButton' class='button button--flat'>
        <%= playAllMessage %>
    </div>
        
    <div id='<%= viewId %>-addAllButton' class='button button--flat'>
        <%= addAllMessage %>
    </div>

    <div id='<%= viewId %>-saveAllButton' class='button button--flat'>
        <%= saveAllMessage %>
    </div>
</div>