<div class='contentBar contentBar--bottom'>
    <div class='contentBar--bottom-text--left flexRow'>
        <div id='<%= viewId %>-selectionCountText' class='u-lowercase u-textOverflowEllipsis text'></div>
    </div>
    
    <div id='<%= viewId %>-playButton' class='button button--flat'>
        <%= playMessage %>
    </div>
        
    <div id='<%= viewId %>-addButton' class='button button--flat js-tooltipable'>
        <%= addMessage %>
    </div>

    <div id='<%= viewId %>-saveButton' class='button button--flat'>
        <%= saveMessage %>
    </div>
    
    <div id='<%= viewId %>-deleteButton' class='button button--flat js-tooltipable'>
        <%= deleteMessage %>
    </div>
</div>