<div class='contentBar contentBar--bottom'>
    <div id='selectionBar-clearButton' class='button button--icon button--icon--primary button--large contentBar-navButton'>
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
        </svg>
    </div>

    <div class='contentBar-content'>
        <div id='<%= viewId %>-selectionCountText' class='contentBar-title u-lowercase u-textOverflowEllipsis text'></div>
    </div>
    
    <div id='<%= viewId %>-playButton' class='button button--flat'>
        <%= playMessage %>
    </div>
        
    <div id='<%= viewId %>-addButton' class='button button--flat js-tooltipable'>
        <%= addMessage %>
    </div>

    <div id='<%= viewId %>-saveButton' class='button button--flat'>
        <%= saveMessage %>
    </div>
    
    <div id='<%= viewId %>-deleteButton' class='button button--flat js-tooltipable'>
        <%= deleteMessage %>
    </div>
</div>