<div class='contentBar contentBar--bottom'>
    <div data-ui='clearButton' class='button button--icon button--icon--primary button--large contentBar-navButton'>
        <%= closeIcon %>
    </div>

    <div class='flexRow '>
        <div data-ui='selectionCountText' class='contentBar-title u-lowercase u-textOverflowEllipsis text'></div>
    </div>

    <div data-ui='playButton' class='button button--flat'>
        <%= playMessage %>
    </div>

    <div data-ui='addButton tooltipable' class='button button--flat'>
        <%= addMessage %>
    </div>

    <div data-ui='saveButton tooltipable' class='button button--flat'>
        <%= saveMessage %>
    </div>

    <div data-ui='deleteButton tooltipable' class='button button--flat'>
        <%= deleteMessage %>
    </div>
</div>