<button class="button-icon show" title="<%- chrome.i18n.getMessage('openMenu') %>">
    <i class="fa fa-reorder"></i>
</button>

<div class="left-top-bar">
    <span class="playlistTitle" title="<%- playlist.get('title') %>">
        <%- playlist.get('title') %>
    </span>
</div>

<button class="button-icon top-right-button" id="showVideoSearch" title="<%- chrome.i18n.getMessage('showVideoSearch') %>">
    <i class="fa fa-search fa-lg"></i>
</button>

<div class="left-top-divider"></div>

<div class="big-text-wrapper">
    
    <div class="big-text playlistEmpty">
        <div class="big-text-header">
            <%- chrome.i18n.getMessage('playlistEmpty') %>
        </div>
        <%- chrome.i18n.getMessage('wouldYouLikeTo') %> <span id="videoSearchLink" class="searchLink clickable lowercase"><%- chrome.i18n.getMessage('searchForVideos') %></span>?
    </div>

    <div id="activePlaylistItemsView" class="view-placeholder">
    </div>
</div>

<div class="left-bottom-menubar">
    <div class="playlist-details lowercase">
        <%- playlist.get('displayInfo') %>
    </div>
    <div class="playlist-actions">

    </div>
</div>