<div class="instructions-wrapper">
    <div id="activePlaylistArea-playlistEmptyMessage" class="instructions">
        <div class="instructions-header">
            <%= playlistEmptyMessage %>
        </div>
        <div class="text-secondary">
            <%= wouldYouLikeToMessage %> <span id="activePlaylistArea-showSearchLink" class="link clickable lowercase"><%= searchForSongsMessage %></span>?
        </div>
    </div>
    
    <div class="list">
        <div id="activePlaylistArea-listItems" class="js-droppable">
        </div>
    </div>
</div>

<div id="activePlaylistArea-bottomContentBar" class="contentBar-bottom">
    <div class="flex-row">
        <div id="activePlaylistArea-playlistDetails" class="lowercase text text-secondary js-textTooltipable lineHeight-loose flex-full" title="<%= displayInfo %>">
            <%= displayInfo %>
        </div>
        <div>
            <button id="activePlaylistArea-playAllButton" class="button-label">
                <i class="fa fa-play"></i>
                <%= playAllMessage %>
            </button>

            <button id="activePlaylistArea-addAllButton" class="button-label">
                <i class="fa fa-plus"></i><%= addAllMessage %>
            </button>
        </div>
    </div>
</div>