<div class="panel">
    
    <div class="header">
        <button class="button-icon hide enabled" title="Playlist Menu">
            <i class="fa fa-reorder"></i>
        </button>

        <span class="title">
            <img src="http://streamus.com/img/logo.png" alt="Streamus Logo">
        </span>

        <button class="button-icon settings" title="Streamus Settings">
            <i class="fa fa-cogs"></i>
        </button>

    </div>
    <div class="list">
        
        <h3>
            <%- chrome.i18n.getMessage('playlists') %><i class="fa fa-caret-down" data-expanded="true"></i>
        </h3>

    </div>
    <div class="context-buttons">
        
<!--        <div class="left-group">
            <button class="button-label button-small disabled" title="YouTube signin not implemented quite yet. Hold on!" id="button-sign-in">
                <i class="fa fa-sign-in"></i><%- chrome.i18n.getMessage('signIn') %>
            </button>
        </div>-->

        <div class="right-group">
            <!--TODO: i18n-->
            <button class="button-label small add" title="Add playlist">
                <i class="fa fa-plus"></i>
            </button>

            <button class="button-icon button-small edit" title="Edit playlist">
                <i class="fa fa-pencil"></i>
            </button>

        </div>

    </div>

</div>