<div class="instructions-wrapper full flex-column">
    <div class="instructions playlist-empty">
        <div class="instructions-header">
            <%= playlistEmptyMessage %>
        </div>
        <div class="text-secondary">
            <%= wouldYouLikeToMessage %> <span class="show-search link clickable lowercase"><%= searchForSongsMessage %></span>?
        </div>
    </div>
    
    <div class="list">
        <div class="active-playlist-items droppable-list">
        </div>
    </div>
</div>

<div class="contentBar-bottom">
    <div class="flex-row">
        <div class="playlist-details lowercase text text-secondary text-tooltipable lineHeight-loose flex-full" title="<%= displayInfo %>">
            <%= displayInfo %>
        </div>
        <div class="playlist-actions">
            <button class="button-label play-all">
                <i class="fa fa-play"></i>
                <%= playAllMessage %>
            </button>

            <button class="button-label add-all">
                <i class="fa fa-plus"></i><%= addAllMessage %>
            </button>
        </div>
    </div>
</div>