<div class="panel">
    <div class="header">
        <span class="selectedItemsMessage">

            <% if( selectedResultsLength === 1 ) { %>
            <%- chrome.i18n.getMessage('add') %> <%- selectedResultsLength %> <%- chrome.i18n.getMessage('item').toLowerCase() %> <%- chrome.i18n.getMessage('to').toLowerCase() %>:
            <% } else { %>
            <%- chrome.i18n.getMessage('add') %> <%- selectedResultsLength %> <%- chrome.i18n.getMessage('items').toLowerCase() %> <%- chrome.i18n.getMessage('to').toLowerCase() %>:
            <% } %>
            
        </span>
        <button class="button-icon" id="hideAddItemsButton" title="Hide">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>
    
    <div class="divider"></div>
    
    <div id="addSearchResultStreamOptionView" class="view-placeholder"></div>

    <div class="divider"></div>
    
    <div id="addSearchResultPlaylistOptionsView" class="view-placeholder"></div>
</div>

