<ul class="options">
    <li>
        <span class="input-underline-wrapper">
            <input type="text" class="playlist-title submittable bold" placeholder="<%= requiredMessage %>: <%= titleLowerCaseMessage %>" value="<%= playlistMessage %> <%= playlistCount %>" maxlength="255">
            <div class="underline"></div>   
        </span>
    </li>
    <li>
        <span class="input-underline-wrapper">
            <input type="text" class="youtube-source submittable bold" placeholder="<%= optionalMessage %>: <%= playlistLowerCaseMessage %> / <%= channelLowerCaseMessage %> <%= urlMessage %>">
            <div class="underline"></div>   
        </span>
    </li>
</ul>