<div class="grouping-row">
    <input type="text" id="createPlaylist-playlistTitleInput" class="js-submittable input-underlined" placeholder="<%= requiredMessage %>: <%= titleLowerCaseMessage %>" value="<%= playlistMessage %> <%= playlistCount %>" maxlength="255">
</div>

<div class="grouping-row">
    <input type="text" id="createPlaylist-youTubeSourceInput" class="js-submittable input-underlined" placeholder="<%= optionalMessage %>: <%= playlistLowerCaseMessage %> / <%= channelLowerCaseMessage %> <%= urlMessage %>">
</div>