<div id='foregroundArea-loadingMessage' class='instruction is-hidden is-showingSpinner'>
    <div class='instruction-header'>
        <%= loadingYouTubeMessage %>
    </div>
    <div class='instruction-content'>
        <div id='foregroundArea-spinnerRegion'></div>
        <span id='foregroundArea-loadAttemptMessage'>
            <%= loadAttemptMessage %>
        </span>
        <div>
            <span class='foregroundArea-reloadLink u-link'>
                <%= reloadMessage %>
            </span>  
        </div>
    </div>
</div>

<div id='foregroundArea-loadingFailedMessage' class='instruction is-hidden'>
    <div class='instruction-header'>
        <%= loadingYouTubeFailedMessage %>
    </div>
    <div>
        <span class='foregroundArea-reloadLink u-link'>
            <%= reloadMessage %>
        </span>  
    </div>
</div>

<div id="foregroundArea-appBarRegion" class="u-elevated u-shadowed--low spinner--faded spinner--unclickable"></div>
<div class="flexRow u-relative spinner--faded spinner--unclickable">
    <div id='foregroundArea-leftPaneRegion' class='flexColumn--wide flexColumn'></div>
    <div id='foregroundArea-streamRegion' class='flexColumn--thin flexColumn'></div>
    <div id='foregroundArea-searchAreaRegion' class='panel panel--left column flexColumn--wide u-transitionable transition--fast flexColumn u-fullHeight'></div>
    <div id='foregroundArea-playlistsAreaRegion' class='flexColumn overlay u-zIndex--3'></div>
    <div id='foregroundArea-videoRegion' class='panel panel--left column u-transitionable transition--fast flexColumn u-fullHeight u-fullWidth'></div>
</div>
<div id="foregroundArea-selectionBarRegion" class="u-shadowed--low panel panel--bottom spinner--faded spinner--unclickable transition--veryFast u-fullWidth"></div>

<div id='foregroundArea-dialogRegion' class='spinner--faded spinner--unclickable overlay u-elevated'></div>
<div id='foregroundArea-notificationRegion' class='spinner--faded spinner--unclickable panel panel--bottom u-transitionable transition--veryFast u-zIndex--5'></div>
<div id='foregroundArea-contextMenuRegion' class='spinner--faded spinner--unclickable overlay u-zIndex--6'></div>
<div id='foregroundArea-saveSongsRegion' class='spinner--faded spinner--unclickable overlay'></div>