<div id="foregroundArea-loadingMessage" class="instruction is-showingSpinner hidden">
    <div class="instruction-header">
        <%= loadingYouTubeAPIMessage %>...
    </div>
    <div class="spinner spinner--large"></div>
</div>

<div id="foregroundArea-loadFailedMessage" class="instruction hidden">
    <div class="instruction-header">
        <%= loadYouTubeAPIFailedMessage %>
    </div>
    <div id="foregroundArea-reloadLink" class="u-link">
        <%= reloadMessage %>
    </div>
</div>

<div id="foregroundArea-leftPaneRegion" class="column column--wide u-floatLeft spinner--faded spinner--unclickable"></div>
<div id="foregroundArea-rightPaneRegion" class="column column--thin u-floatRight spinner--faded spinner--unclickable"></div>
<div id="foregroundArea-searchAreaRegion" class="column column--wide u-overlay spinner--faded spinner--unclickable"></div>
<div id="foregroundArea-playlistsAreaRegion" class="spinner--faded spinner--unclickable"></div>
<div id="foregroundArea-promptRegion"></div>
<div id="foregroundArea-notificationRegion" class="spinner--faded spinner--unclickable"></div>
<div id="foregroundArea-contextMenuRegion" class="spinner--faded spinner--unclickable column"></div>