<div class="panel">
    <div class="header table border-bottom inset">
        <span class="title">
            <%= title %>
        </span>
        
        <button class="button-icon remove">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="content">
    </div>
    <div class='footer'>
        <span class="pull-right">
            <% if( showOkButton ) { %>
            <button class="ok prompt-button button-color">
                <%= okButtonText %>
            </button>
            <% } %>
        </span>
    </div>
</div>