<div class="panel">
    <div class="contentBar-top">
        <div class="flex-row">
            <span class="title text contentBar-top-content">
                <%= title %>
            </span>
        
            <button class="button-icon buttonSize-large remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="content inset-horizontal inset-vertical">
    </div>
    
    <% if( showReminder || showOkButton ) { %>
    <div class="contentBar-bottom">
        <div class="flex-row">
            <% if( showReminder ) { %>
            <div class=" flex-full lineHeight-loose">
                <label>
                    <input type="checkbox" class="checkbox-reminder">
                    <%= reminderText %>
                </label>
            </div>
            <% } %>

            <% if( showOkButton ) { %>
            <button class="button-prompt ok">
                <%= okButtonText %>
            </button>
            <% } %>
        </div>
    </div>
    <% } %>
</div>