<div class="panel">
    <div class="top-bar">
        <div class="flex-row">
            <span class="title">
                <%= title %>
            </span>
        
            <button class="button-icon remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="content">
    </div>
    
    <% if( showReminder || showOkButton ) { %>
    <div class="footer inset">
        <% if( showReminder ) { %>
        <div class="flex-justify-start reminder">
            <label>
                <input type="checkbox">
                <%= reminderText %>
            </label>
        </div>
        <% } %>

        <% if( showOkButton ) { %>
        <div class="flex-justify-end">
            <button class="ok prompt-button button-color">
                <%= okButtonText %>
            </button>
        </div>
        <% } %>
    </div>
    <% } %>
</div>