<div class="contentBar-top">
    <div class="flex-row">
        <button class="button-icon buttonSize-large show show-playlists-area">
            <i class="fa fa-reorder"></i>
        </button>
    
        <div class="playlist-title region contentBar-top-content inset-horizontal"></div>
    
        <button class="button-icon buttonSize-large show-search">
            <i class="fa fa-lg fa-search"></i>
        </button>
    </div>
</div>

<div class="active-playlist-area content region flex-full flex-column full"></div>