<div class="contentBar-top">
    <div class="flex-row">
        <button id="leftBasePane-showPlaylistsAreaButton" class="button-icon buttonSize-large">
            <i class="fa fa-reorder"></i>
        </button>
    
        <div id="leftBasePane-playlistTitleRegion" class="contentBar-top-content inset-horizontal"></div>
    
        <button id="leftBasePane-showSearchButton" class="button-icon buttonSize-large">
            <i class="fa fa-lg fa-search"></i>
        </button>
    </div>
</div>

<div id="leftBasePane-contentRegion" class="flex-full flex-column column"></div>