<div class="spinner small absolute-center"></div>

<i class="fa fa-volume-up hidden"></i>

<img class="item-thumb" src="http://img.youtube.com/vi/<%= song.get('id') %>/default.jpg" />

<div class="item-content">
    <div class="item-title text text-tooltipable" title="<%= title %>">
        <%= title %>
    </div>

    <div class="item-details text text-secondary">
        <span class="item-duration">
            <%= song.get('prettyDuration') %>	
        </span>
    </div>
</div>

<span class="list-item-buttons region above-fade-out">
</span>