<!-- TODO: Not all ListItems can be saved. Doesn't really make sense to have this here. -->
<div class="spinner small absolute-center above-fade-out"></div>

<img class="item-thumb" src="http://img.youtube.com/vi/<%= song.get('id') %>/default.jpg" />

<span class="item-title text-tooltipable" title="<%= title %>">
    <%= title %>
</span>

<span class="item-details">
    <span class="item-duration">
        <%= song.get('prettyDuration') %>	
    </span>
</span>

<span class="list-item-buttons region above-fade-out">
</span>