<div class="spinner spinner-small absolute-center"></div>

<i class="fa fa-volume-up hidden"></i>
<!-- TODO: Can this be https? -->
<img class="listItem-imageThumbnail" src="http://img.youtube.com/vi/<%= song.get('id') %>/default.jpg" />

<div class="listItem-content">
    <div class="listItem-title text js-textTooltipable" title="<%= title %>">
        <%= title %>
    </div>

    <div class="listItem-details text text-secondary">
        <%= song.get('prettyDuration') %>	
    </div>
</div>

<button class="button-icon buttonSize-base hidden onHover-hidden onActive-shown">
    <i class="fa fa-volume-up"></i>
</button>

<span class="listItem-buttonsRegion above-fade-out"></span>