<i class="fa fa-play playInStream" title="<%- chrome.i18n.getMessage('playVideoInStream') %>"></i>
<!-- Render non-lazily if view is set to instant -->
<% if( instant ) { %>
    <img class="item-thumb" src="http://img.youtube.com/vi/<%- video.get('id') %>/default.jpg" />
<% } else { %>
    <img class="item-thumb lazy" data-original="http://img.youtube.com/vi/<%- video.get('id') %>/default.jpg" />
<% } %>

<div class="item-title-wrapper">
    <span class="item-title"><%- title %></span>
</div>

<span class="item-details">
        HD · 
    <!--    <span class="item-author">
                <%-chrome.i18n.getMessage('by')%> <strong><%- video.get('author') %></strong>
            </span>-->
    <span class="item-duration">
        <!--<i class="fa fa-clock-o"></i>--><%- video.get('prettyDuration') %>	
    </span>
    <% if( video.get('highDefinition') ) { %>

    <% } %>
</span>