<div id="playlistsArea-panel" class="panel panel-left column column-smallWidth flex-column">
    <div class="contentBar-top">
        <div class="flex-row">
            <button id="playlistsArea-hideButton" class="button-icon buttonSize-large enabled">
                <i class="fa fa-reorder"></i>
            </button>
        </div>
    </div>
    <span class="fontSize-large lineHeight-base inset-horizontal text">
        <%= playlists %>
    </span>
    <div class="instructions-wrapper">
        <div class="list">
            <ul id="playlistsArea-listItems">
            </ul>
        </div>
    </div>
    <div id="playlistsArea-bottomContentBar" class="contentBar-bottom">
        <div class="flex-row">
            <button id="playlistsArea-createButton" class="button-label">
                <i class="fa fa-plus"></i>
                <%= createPlaylist %>
            </button>
        </div>
    </div>
</div>