<!-- Render non-lazily if view is set to instant -->
<% if( instant ) { %>
    <img class="item-thumb" src="http://img.youtube.com/vi/<%- video.get('id') %>/default.jpg" />
<% } else { %>
    <img class="item-thumb lazy" data-original="http://img.youtube.com/vi/<%- video.get('id') %>/default.jpg" />
<% } %>

<div class="item-title-wrapper">
    <span class="item-title" title="<%- title %>"><%- title %></span>
</div>

<span class="item-details">
    <% if( video.get('highDefinition') ) { %>
        HD · 
    <% } %>
    <span class="item-duration">
        <%- video.get('prettyDuration') %>	
    </span>
</span>

<span class="hover-actions">
    <i class="fa fa-play playInStream" title="<%- chrome.i18n.getMessage('play') %>"></i>
    <i class="fa fa-plus addToStream" title="<%- chrome.i18n.getMessage('addToStream') %>"></i>
<!--    <i class="fa fa-times delete hoverable"></i>-->
</span>