<div class="panel flex-column">
    <div class="header">
        <button class="button-icon hide enabled tooltipable">
            <i class="fa fa-reorder"></i>
        </button>
    </div>
    <div class="divider"></div>
    <div class="list">
        <div class="list-header">
            <%= playlists %>
        </div>
        
        <ul class="playlists">
        </ul>
    </div>
    <div class="context-buttons">
        <div class="pull-right">
            <button class="button-icon small add tooltipable" title="<%= createPlaylist %>">
                <i class="fa fa-plus"></i>
            </button>

            <button class="button-icon small edit tooltipable" title="<%= editPlaylist %>">
                <i class="fa fa-pencil"></i>
            </button>
            
            <!--title is set in view because icon can be disabled-->
            <button id="delete-playlist-button" class="button-icon small delete tooltipable">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</div>