<% if( instant ) { %>
    <img class="item-thumb" src="http://img.youtube.com/vi/<%= video.get('id') %>/default.jpg" />
<% } else { %>
    <img class="item-thumb" data-original="http://img.youtube.com/vi/<%= video.get('id') %>/default.jpg" />
<% } %>

<span class="item-title title" title="<%= title %>">
    <%= title %>
</span>

<span class="item-details">
    <% if( video.get('highDefinition') ) { %>
        <%= hdMessage %> · 
    <% } %>
    <span class="item-duration">
        <%= video.get('prettyDuration') %>	
    </span>
</span>

<span class="hover-actions">
    <span class="play-in-stream-region"></span>
    <span class="add-to-stream-region"></span>
    <span class="delete-region"></span>
</span>