<div class="panel">

    <div class="header">

        <button class="button-icon hide enabled" title="<%= closeMenu %>">
            <i class="fa fa-reorder"></i>
        </button>

        <span class="title">
            <img src="http://streamus.com/img/logo.png" alt="Streamus Logo">
        </span>
        
        <button id="settings-button" class="button-icon" title="<%= settings %>">
            <i class="fa fa-cogs"></i>
        </button>

    </div>
    <div class="left-top-divider"></div>
    <div class="list">
        
        <h3>
            <%= playlists %><i class="fa fa-caret-down" data-expanded="true"></i>
        </h3>
        
        <ul id="playlists">
        </ul>

    </div>
    <div class="context-buttons">

        <div class="right-group">

            <button class="button-icon button-small add" title="<%= createPlaylist %>">
                <i class="fa fa-plus"></i>
            </button>

            <button class="button-icon button-small edit" title="<%= editPlaylist %>">
                <i class="fa fa-pencil"></i>
            </button>
            
            <!--title is set in view because icon can be disabled-->
            <button id="delete-playlist-button" class="button-icon button-small delete" title="">
                <i class="fa fa-trash-o"></i>
            </button>

        </div>

    </div>

</div>