<div class="contentBar contentBar--top">
    <div class="u-flex--row">
        <div id="rightPane-volumeAreaRegion"></div>

        <div class="u-flex--justifyCenter u-flex--full">
            <button id="rightPane-previousButton" class="button--icon button--large">
                <i class="fa fa-backward fa-lg"></i> 
            </button>

            <button id="rightPane-playPauseButton" class="button--icon button--large">
                <div class="spinner spinner--small"></div>
                <i id="rightPane-pauseIcon" class="fa fa-lg fa-pause hidden"></i>
                <i id="rightPane-playIcon" class="fa fa-lg fa-play hidden"></i>
            </button>

            <button id="rightPane-nextButton" class="button--icon button--large">
                <i class="fa fa-forward fa-lg"></i>
            </button>
        </div>
    
        <div id="rightPane-adminMenuAreaRegion"></div>
    </div>
    <div class="u-flex--row">
        <div id="rightPane-timeAreaRegion" class="u-flex--full"></div>
    </div>
</div>
<div id="rightPane-contentRegion" class="u-flex--full u-flex--column column"></div>
