<div class="contentBar-top">
    <div class="flex-row">
        <div id="rightBasePane-volumeAreaRegion"></div>

        <div class="flex-justify-center">
            <button id="rightBasePane-previousButton" class="button-icon buttonSize-large">
                <i class="fa fa-backward fa-lg"></i> 
            </button>

            <button id="rightBasePane-playPauseButton" class="button-icon buttonSize-large">
                <div class="spinner spinner-small"></div>
                <i id="rightBasePane-playIcon" class="fa fa-lg fa-pause hidden"></i>
                <i id="rightBasePane-pauseIcon" class="fa fa-lg fa-play hidden"></i>
            </button>

            <button id="rightBasePane-nextButton" class="button-icon buttonSize-large">
                <i class="fa fa-forward fa-lg"></i>
            </button>
        </div>
    
        <div id="rightBasePane-adminMenuAreaRegion"></div>
    </div>
    <div class="flex-row">
        <div id="rightBasePane-timeAreaRegion" class="flex-full"></div>
    </div>
</div>
<div id="rightBasePane-contentRegion" class="flex-full flex-column column"></div>