<div class="contentBar-top">
    <div class="flex-row">
        <div class="contentBar-top-content inset-horizontal">
            <input id="search-searchInput" type="text" class="input-underlined" placeholder="<%= searchMessage %>..." value="<%= query %>">
        </div>
    
        <button id="search-hideSearchButton" class="button-icon buttonSize-large">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="instructions-wrapper">
    <div id="search-typeToSearchMessage" class="instructions">
        <div class="instructions-header">
            <%= startTypingMessage %>
        </div>
        <div class="text-secondary">
            <%= resultsWillAppearAsYouSearchMessage %>.
        </div>
    </div>
    
    <!-- TODO: Make not dependent on loading/above-fade-out classes -->
    <div id="search-searchingMessage" class="instructions hidden loading">
        <div class="instructions-header above-fade-out">
            <%= searchingMessage %>...
        </div>
        <div class="spinner spinner-medium"></div>
    </div>

    <div id="search-noResultsMessage" class="instructions hidden">
        <div class="instructions-header">
            <%= noResultsFoundMessage %>
        </div>
        <div class="text-secondary">
            <%= sorryAboutThatMessage %>. <%= trySearchingForSomethingElseMessage %>.
        </div>
    </div>
    
    <div class="list">
        <div id="search-listItems" class="sortable-unsortable"></div>
    </div>
</div>

<div id="search-bottomContentBar" class="contentBar-bottom">
    <div class="flex-row">
        <div>
            <button id="search-playSelectedButton" class="button-label">
                <i class="fa fa-play"></i>
                <%= playSelectedMessage %>
            </button>
        
            <button id="search-addSelectedButton" class="button-label">
                <i class="fa fa-plus"></i>
                <%= addSelectedMessage %>
            </button>

            <button id="search-saveSelectedButton" class="button-label">
                <i class="fa fa-save"></i>
                <%= saveSelectedMessage %>
            </button>
        </div>
    </div>
</div>