<div class="contentBar-top">
    <div class="flex-row">
        <div class="search-bar contentBar-top-content inset-horizontal">
            <input type="text" class="search-input input-underlined" placeholder="<%= searchMessage %>..." value="<%= query %>">
        </div>
    
        <button class="button-icon buttonSize-large remove hide-search">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="instructions-wrapper full flex-column">
    <div class="instructions type-to-search">
        <div class="instructions-header">
            <%= startTypingMessage %>
        </div>
        <div class="text-secondary">
            <%= resultsWillAppearAsYouSearchMessage %>.
        </div>
    </div>

    <div class="instructions searching hidden loading">
        <div class="instructions-header above-fade-out">
            <%= searchingMessage %>...
        </div>
        <div class="spinner spinner-medium text-center"></div>
    </div>

    <div class="instructions no-results hidden">
        <div class="instructions-header">
            <%= noResultsFoundMessage %>
        </div>
        <div class="text-secondary">
            <%= sorryAboutThatMessage %>. <%= trySearchingForSomethingElseMessage %>.
        </div>
    </div>
    
    <div class="list">
        <div id="search-results" class="unsortable"></div>
    </div>
</div>

<div class="contentBar-bottom">
    <div class="flex-row">
        <div class="playlist-actions">
            <button id="play-selected" class="button-label">
                <i class="fa fa-play"></i>
                <%= playSelectedMessage %>
            </button>
        
            <button id="add-selected" class="button-label">
                <i class="fa fa-plus"></i>
                <%= addSelectedMessage %>
            </button>

            <button id="save-selected" class="button-label">
                <i class="fa fa-save"></i>
                <%= saveSelectedMessage %>
            </button>
        </div>
    </div>
</div>