<div class="top-bar border-bottom inset">
    <div class="search-bar">
        <span class="input-underline-wrapper">
            <input placeholder="<%= searchMessage %>..." type="text" value="<%= query %>">
            <div class="underline"></div>   
        </span>
    </div>
    
    <button class="button-icon remove tooltipable hide-search" title="<%= hideSearchMessage %>">
        <i class="fa fa-times"></i>
    </button>
</div>

<div class="big-text-wrapper full flex-column">
    <div class="big-text instructions">
        <div class="header"><%= startTypingMessage %></div>
        <%= resultsWillAppearAsYouSearchMessage %>.
    </div>

    <div class="big-text searching hidden">
        <div class="header"><%= searchingMessage %>...</div>
        <div class="spinner medium text-center"></div>
    </div>

    <div class="big-text no-results hidden">
        <div class="header"><%= noResultsFoundMessage %></div>
        <%= sorryAboutThatMessage %>. <%= trySearchingForSomethingElseMessage %>.
    </div>
    
    <div class="list">
        <div id="search-results"></div>
    </div>
</div>

<div class="bottom-menubar border-top inset">
    <div class="playlist-actions pull-right">
        <button id="play-selected" class="button-label tooltipable" title="<%= playSelectedMessage %>">
            <i class="fa fa-play"></i>
            <%= playSelectedMessage %>
        </button>
        
        <button id="add-selected" class="button-label tooltipable" title="<%= addSelectedMessage %>">
            <i class="fa fa-plus"></i>
            <%= addSelectedMessage %>
        </button>

        <button id="save-selected" class="button-label tooltipable" title="<%= saveSelectedMessage %>">
            <i class="fa fa-save"></i>
            <%= saveSelectedMessage %>
        </button>
    </div>
</div>