<label id="suggestedQualitySelectLabel" for="suggestedQualitySelect">
    <%- chrome.i18n.getMessage('suggestedQuality') %>
</label>

<select id="suggestedQualitySelect" name="suggestedQualitySelect">
            
    <option value="highres">
        <%- chrome.i18n.getMessage('highest') %>
    </option>

    <option value="default">
        <%- chrome.i18n.getMessage('auto') %>
    </option>

    <option value="small">
        <%- chrome.i18n.getMessage('lowest') %>
    </option>

</select>
        
<span class="remindersLabel"><%- chrome.i18n.getMessage('reminders') %>:</span>
<ul class="remindersList">
    <li>
        <input type="checkbox" id="remindClearStream" class="css-checkbox lrg">
        <label for="remindClearStream" class="css-label lrg klaus"><%- chrome.i18n.getMessage('remindClearStream') %></label>
    </li>
    <li>
        <input type="checkbox" id="remindDeletePlaylist" class="css-checkbox lrg">
        <label for="remindDeletePlaylist" class="css-label lrg klaus"><%- chrome.i18n.getMessage('remindDeletePlaylist') %></label>
    </li>
</ul>