<div class="general topic-group">
    <div class="topic">
        <%= generalMessage %>
    </div>

    <div class="category">
        <ul>
            <li>
                <label>
                    <%= songQualityMessage %>
                
                    <select id="suggested-quality">
                        <option value="highres" <%= suggestedQuality === 'highres' ? 'selected' : '' %>>
                        <%= highestMessage %>
                    </option>
                        <option value="default" <%= suggestedQuality === 'default' ? 'selected' : '' %>>
                        <%= autoMessage %>
                    </option>
                        <option value="small" <%= suggestedQuality === 'small' ? 'selected' : '' %>>
                        <%= lowestMessage %>
                    </option>
                    </select>
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" id="show-tooltips" <%= showTooltips ? 'checked' : '' %>>
                    <%= showTooltipsMessage %>
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" id="always-open-to-search" <%= alwaysOpenToSearch ? 'checked' : '' %> >
                    <%= alwaysOpenToSearchMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="reminders topic-group">
    <div class="topic">
        <%= remindersMessage %>
    </div>
    <div class="category">
        <ul>
            <li>
                <label>
                    <input type="checkbox" id="remind-clear-stream" <%= remindClearStream ? 'checked' : '' %>>
                    <%= remindClearStreamMessage %>
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" id="remind-delete-playlist" <%= remindDeletePlaylist ? 'checked' : '' %>>
                    <%= remindDeletePlaylistMessage %>
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" id="remind-link-user-id" <%= remindLinkUserId ? 'checked' : '' %>>
                    <%= remindLinkAccountMessage %>
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" id="remind-google-sign-in" <%= remindGoogleSignIn ? 'checked' : '' %>>
                    <%= remindGoogleSignInMessage %>
                </label>
            </li>
        </ul>
    </div>
</div>

