<div class="big-text-wrapper extended">
    
    <div class="big-text signingIn">
        <div class="big-text-header"><%= signingInMessage %>...</div>
        <div class="spinner spinner-medium"></div>
    </div>
    
    <div class="big-text signIn">
        <div class="big-text-header searchLink clickable"><%= signInMessage %></div>
    </div>
    
    <div class="big-text signInFailed">
        <div class="big-text-header"><%= signInFailedMessage %></div>
        <%= pleaseWaitMessage %> <span id="signInRetryTimer"><%= signInRetryTimer %></span>
    </div>

</div>