<div class="big-text-wrapper extended">
    <div class="big-text signing-in">
        <div class="header"><%= signingInMessage %>...</div>
        <div class="spinner medium text-center"></div>
    </div>
    
    <div class="big-text sign-in">
        <div class="header search-link clickable"><%= signInMessage %></div>
    </div>
    
    <div class="big-text sign-in-failed">
        <div class="header"><%= signInFailedMessage %></div>
        <%= pleaseWaitMessage %> <span id="sign-in-retry-timer"><%= signInRetryTimer %></span>
    </div>
</div>