<div class="instructions-wrapper full flex-column">
    <div class="instructions signing-in loading">
        <div class="header above-fade-out"><%= signingInMessage %>...</div>
        <div class="spinner medium text-center"></div>
    </div>
    
    <div class="instructions sign-in">
        <div class="header link clickable"><%= signInMessage %></div>
    </div>
    
    <div class="instructions sign-in-failed">
        <div class="header"><%= signInFailedMessage %></div>
        <%= pleaseWaitMessage %> <span id="sign-in-retry-timer"><%= signInRetryTimer %></span>
    </div>
</div>