<div class="big-text-wrapper">
    
    <div class="big-text streamEmpty">
        <div class="big-text-header"><%= chrome.i18n.getMessage('streamEmpty') %></div>
        
        <%= chrome.i18n.getMessage('whyNotAddAVideoFromAPlaylistOr') %> <span id="videoSearchLink" class="searchLink clickable lowercase"><%= chrome.i18n.getMessage('searchForVideos') %></span>?
    </div>
    
    <div id="streamItemsView" class="view-placeholder"></div>
</div>

<div class="context-buttons">
    
    <div class="left-group">
        <div id="shuffleButtonView" class="view-placeholder"></div>
        <div id="repeatButtonView" class="view-placeholder"></div>
        <div id="radioButtonView" class="view-placeholder"></div>
    </div>
    
    <div class="right-group">
        <div id="saveStreamButtonView" class="view-placeholder"></div>
        <div id="clearStreamButtonView" class="view-placeholder"></div>
    </div>

</div>