<div class="instructions-wrapper full flex-column">
    <div class="instructions stream-empty">
        <div class="instructions-header">
            <%= streamEmptyMessage %>
        </div>
        <div class="text-secondary">
            <%= whyNotAddASongFromAPlaylistOrMessage %> <span class="show-search link clickable lowercase"><%= searchForSongsMessage %></span>?
        </div>
    </div>
    
    <div class="list">
        <div class="stream-items droppable-list"></div>
    </div>
</div>

<div class="contentBar-bottom">
    <div class="flex-row">
        <div class="stream-options flex-full">
            <button id="shuffle-button" class="button-icon buttonSize-base tooltipable">
                <i class="fa fa-random"></i>
            </button>
        
            <button id="repeat-button" class="button-icon buttonSize-base tooltipable">
                <i class="fa fa-repeat"></i>
            </button>

            <button id="radio-button" class="button-icon buttonSize-base tooltipable">
                <i class="icon-signal"></i>
            </button>
        </div>

        <button id="save-stream" class="button-icon buttonSize-base save disabled tooltipable">
            <i class="fa fa-save"></i>
        </button>

        <button class="button-icon buttonSize-base clear tooltipable" title="<%= clearStreamMessage %>" >
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</div>