<div class="panel">
    
    <div class="top-bar">
        <div class="left-side">
            <span class="videoTitle">
                <%= title %>
            </span>
            
            <div id="timeProgressAreaView" class="view-placeholder"></div>
        </div>
        <div class="right-side">
            
            <div id="volumeControlView" class="view-placeholder"></div>

            <div class="center-group">
                <div id="previousButtonView" class="view-placeholder"></div>
                <div id="playPauseButtonView" class="view-placeholder"></div>
                <div id="nextButtonView" class="view-placeholder"></div>
            </div>

            <div class="right-group">
                <button class="button-icon remove enabled">
                    <i class="fa fa-film"></i>
                </button>
            </div>

        </div>

    </div>
    

</div>