<div class="left-top-bar">
    <div class="searchBar">
        <input placeholder="<%- chrome.i18n.getMessage('search') %>..." type="text">
        <div class="underline"></div>
    </div>
</div>

<button class="button-icon remove top-right-button" id="hideVideoSearch" title="<%- chrome.i18n.getMessage('hideVideoSearch') %>">
    <i class="fa fa-times"></i>
</button>

<div class="left-top-divider"></div>

<div class="big-text-wrapper">
    
    <div class="big-text instructions">
        <div class="big-text-header"><%- chrome.i18n.getMessage('startTyping') %></div>
        <%- chrome.i18n.getMessage('resultsWillAppearAsYouSearch') %>.
    </div>

    <div class="big-text searching hidden">
        <div class="big-text-header"><%- chrome.i18n.getMessage('searching') %>...</div>
        <i class="fa fa-spinner fa fa-spin i-2x"></i>
    </div>

    <div class="big-text noResults hidden">
        <div class="big-text-header"><%- chrome.i18n.getMessage('noResultsFound') %></div>
        <%- chrome.i18n.getMessage('sorryAboutThat') %>. <%- chrome.i18n.getMessage('trySearchingForSomethingElse') %>.
    </div>

    <div id="videoSearchResultsView" class="view-placeholder">
        
    </div>
</div>

<div class="left-bottom-menubar">
    <div class="playlist-actions">

    </div>
</div>