Hello! Streamus is currently in a competition to win $50,000 in development assistance. <br /> <br />Support from my users is integral to winning the competiton.
<br/><br/>
Please take a moment and vote for the project: <a class="vote-link" href="http://competition.coshx.com/ideas/streamus-simple-streaming-music">http://competition.coshx.com/ideas/streamus-simple-streaming-music</a>
<br/><br/>
Thank you so much.

<div class="reminder">
    <label>
        <input type="checkbox">
        <%= dontRemindMeAgainMessage %>
    </label>
</div>