@import "color";
@import "transition";
@import "boxShadow";

.activeStreamItem {
    height: 72px;
    // https://github.com/MeoMix/StreamusChromeExtension/issues/565
    // Prefer using -110% transform, but need to be able to shift StreamItems down the same amount.
    // 72px is the height of activeStreamItem.
    margin-top: -72px;
    color: @dark--primary;
    .transition--fast;
    transition-property: margin;
    transition-timing-function: @transition-easeOutSine;
    will-change: margin;

    &.is-instant {
        transition: none;
    }

    &.is-visible {
        margin-top: 0;
    }
    
    display: flex;
}

.activeStreamItem-title {
    font-size: 17px;
    line-height: 28px;
}

.activeStreamItem-playbackControls {
    display: flex;
    box-shadow: @boxShadow-divider--left;
    align-items: center;
    padding-left: 4px;
}

.activeStreamItem-streamControls {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

.activeStreamItem-content {
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 12px;
}