.activePaneFilter {
    height: 48px;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 8px;
    margin-right: 16px;
}

.activePaneFilter-filterIcon {
    @triangleSize: 5px;
	border-left: @triangleSize solid transparent;
	border-right: @triangleSize solid transparent;
	border-top: @triangleSize solid;
    margin-left: 6px;
    /*margin-left: 2px;
    transform: scale(.9, .5);*/
}