@import "flexColumn";

.appBar-panel {
    // Panels shown via elements in the AppBar should align to the AppBar itself.
    // Since buttons are 48px at AppBar is 56px, need 4px to align.
    margin-top: 4px;
}

.appBar-search {
    background-color: rgba(255,255,255,.15);
    border-radius: 2px;
    padding-left: 4px;

    &:hover {
        background: rgba(255,255,255,.25);
    }
}

.appBar-searchIcon {
    padding: 0 8px;
}

.appBar-searchInput {
    font: inherit;
    font-size: 17px;
    height: 36px;
    padding: 8px 0 8px 0;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: #fff;
    }
}
