@import "flexColumn";

.appBar-panel {
    // Panels shown via elements in the AppBar should align to the AppBar itself.
    // Since buttons are 48px at AppBar is 56px, need 4px to align.
    margin-top: 4px;
}

/*.appBar-content {
    display: flex;
    align-items: center;
}

.appBar-content--left {
    width: (@columnWidth--wide * 1%);
}

.appBar-content--right {
    width: (@columnWidth--thin * 1%);
    justify-content: flex-end;
}*/

.appBar-search {
    background-color: rgba(255,255,255,.15);
    border-radius: 2px;
    padding-left: 4px;

    &:hover {
        background: rgba(255,255,255,.25);
    }
}

.appBar-searchIcon {
    padding: 0 8px;
}