@import "color";
@import "fontSize";
@import "lineHeight";
@import "utility";
@import "transition";

//  Wrap button elements in a containing element so that they can be centered without
//  custom margin for every size of button.
.button-container {
    //  This fixes the fact that <button> elements are replaced-inline and have a minimum line-height.
    //  https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Browser_compatibility
    line-height: 0;
}

.button--flat {
    margin: 0 4px;
    padding: 8px;
    color: @blue--500;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    transition: background-color @transition-color-time @transition-easeOutSine;

    &:hover:not(.disabled) {
        background-color: @gray--hoverButton
    }

    &:active:not(.disabled) {
        background-color: @gray--activeButton
    }
}

.button--icon--primary {
    opacity: 0.87;
}

.button--icon--secondary {
    opacity: .54;

    &.is-enabled {
        opacity: .87;
    }
}

.button--icon {
    &.is-enabled {
        fill: @blue--500;

        &:hover {
            fill: @blue--700;
        }
    }

    &:hover {
        opacity: 1;
    }

    &.disabled {
        opacity: .26;
    }
}

.button--large {
    width: 48px;
    height: 48px;
}

.button--medium {
    width: 40px;
    height: 40px;
}

.button--small {
    width: 32px;
    height: 32px;
}