/* TODO: Can I lighten my grays to be more consistent w/ other lightenings? */
.absolute {
  position: absolute;
}
.full {
  width: 100%;
  height: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.fixed-full-overlay {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}
.clickable:not(.disabled) {
  cursor: pointer;
}
.lowercase {
  text-transform: lowercase;
}
.hidden {
  display: none;
}
.invalid {
  background-color: #ffcccc;
}
.valid {
  background-color: #b5dea3;
}
.inset {
  margin-left: 10px;
  margin-right: 10px;
}
.table {
  display: table;
}
.table > * {
  display: table-cell;
}
/* it's important to use a disabled class and not the disabled attr because tooltips on disabled icons don't work well */
.disabled {
  /* TODO: I don't want to use !important */

  color: #cacaca !important;
  cursor: default;
}
.disabled * {
  color: #cacaca !important;
  cursor: default;
}
.color-transition {
  transition: color 0.1s, background 0.1s, border 0.1s, text-shadow 0.1s;
}
.slow-color-transition {
  transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-bottom {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 5px;
}
.border-top {
  border-top: 1px solid #ebebeb;
  margin-top: 5px;
}
button {
  color: #333333;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 0.1s, background 0.1s, border 0.1s, text-shadow 0.1s;
}
button:hover {
  color: #000000;
}
button:not(.disabled):active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
button.enabled {
  color: #4ea6ea;
}
button.enabled:hover {
  color: #208fe5;
}
button > i {
  transition: color 0.1s, background 0.1s, border 0.1s, text-shadow 0.1s;
  cursor: pointer;
}
button.prompt-button {
  padding: .1em .4em;
}
button.button-label {
  height: 30px;
  padding: 0 .5em;
}
button.button-label i {
  margin-right: 0.5em;
}
button.button-color {
  background: #ebebeb;
  border: 1px solid #cacaca;
}
button.button-color:hover {
  border-color: #4ea6ea;
  background: #4ea6ea;
  color: #ffffff;
}
button.button-icon {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  width: 40px;
}
button.button-icon.small {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
button.button-icon.tiny {
  height: 18px;
  line-height: 18px;
  width: 25px;
}
