@import "color";
@import "fontSize";
@import "lineHeight";
@import "utility";

button {
    color: @darkGray;

    i,
    i:before,
    i:after {
        .u-clickable;
    }

    &:hover {
        color: @black;
    }

    &.is-enabled {
        color: @baseBlue;

        &:hover {
            color: @darkBaseBlue;
        }
    }
}

.button--prompt {
    padding: 0 5px;
    margin: 5px 0;
    height: 20px;
    background-color: @lightGray;
    border: 1px solid @mediumLightGray;

    &:hover {
        border-color: @baseBlue;
        background-color: @baseBlue;
        color: @white;
    }
}

.button--label {
    .lineHeight-loose;
    margin-left: 10px;
}

.button--label-icon {
    margin-right: .5em
}

.button--icon {
    .fontSize-large;
}

.button--large {
    .lineHeight-looser;
    width: 40px;
}

.button--medium {
    .lineHeight-loose;
    width: 30px;
}

.button--small {
    .lineHeight-tight;
    width: 25px;
}