/* TODO: Can I lighten my grays to be more consistent w/ other lightenings? */
button {
  color: #333333;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 0.05s, text-shadow 0.05s;
}
button:hover {
  color: #000000;
}
button:not(.disabled):active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
button.enabled {
  color: #4ea6ea;
}
button.enabled:hover {
  color: #208fe5;
}
button > i {
  transition: color .1s;
  cursor: pointer;
}
button.button-label {
  padding: .1em .4em;
}
button.button-label i {
  margin-right: 0.5em;
}
button.button-color {
  background: #ebebeb;
  border: 1px solid #cacaca;
  transition: all .1s;
}
button.button-color:hover {
  border-color: #4ea6ea;
  background: #4ea6ea;
  color: #ffffff;
}
button.button-icon {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  width: 40px;
}
button.button-icon.small {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
