@import "color";

@checkbox-duration: .28s;

checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

    &.primary .checkbox-label {
        color: @dark--primary;
    }

    &.secondary .checkbox-label {
        color: @dark--secondary;
    }

    &.iconOnLeft .checkbox-label {
        margin-left: 12px;
    }

    &.iconOnRight .checkbox-label {
        margin-right: 12px;
    }
    
    &.is-unchecked .checkbox-icon {
      color: @dark--secondary;
    }
  
    &.is-unchecking .checkbox-icon  {
      color: @dark--secondary;
      
      &:before {
        -webkit-animation: checkbox-off @checkbox-duration linear forwards;
      }
    }
  
    &.is-checked .checkbox-icon {
        color: @green--500;

        &:before {
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            color: @green--500;
        }
    }
  
    &.is-checking .checkbox-icon {
        color: @green--500;
      
        &:before {
            -webkit-animation: checkbox-on @checkbox-duration linear forwards;
            color: @green--500;
        }
    }
}

.checkbox-label {
    flex: 1;
    transition-property: color;
    transition-duration: @checkbox-duration;
    transition-timing-function: ease-out;
}

.checkbox-icon {
    transition-duration: @checkbox-duration;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  
    &:before {
        position: absolute;
        content: "";
        transform: rotate(45deg);
        display: block;
        margin-top: -4px;
        margin-left: 6px;
    }
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    33% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
  
    33% {
      box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px, 0 0 0 0 inset;
    }
  
    50% {
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
  
    51% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }

    100% {
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}