@lightGray: rgb(235,235,235);
@mediumLightGray: rgb(202,202,202);
@mediumDarkGray: rgb(102,102,102);
@darkGray: rgb(51,51,51);


@black: rgb(0,0,0);
@white: rgb(255,255,255);
//  Used for text:
@black--a87: rgba(0, 0, 0, .87);
@white--a100: rgba(255, 255, 255, 1);
//  Used for secondary text:
@black--a54: rgba(0, 0, 0, .54);
@white--a70: rgba(255, 255, 255, .7);
//  Used for text hints like in text fields and labels:
@black--a26: rgba(0, 0, 0, .26);
@white--a30: rgba(255, 255, 255, .3);
//  Used for dividers/icons:
@black--a12: rgba(0, 0, 0, .12);
@white--a12: rgba(255, 255, 255, .12);


@white-12: rgba(255, 255, 255, .0);
@white-12: rgba(255, 255, 255, .100);
@black-12: rgba(0, 0, 0, .5);
@black-12: rgba(0, 0, 0, 1);

@blue--500: #2196F3;
@blue--100: #BBDEFB;
@blue--700: #1976D2;

@green--500: #4CAF50;
@green--100: #C8E6C9;

@red--500: #F44336;
@red--100: #FFCDD2;
@red--700: #D32F2F;

@amber--500: #FFC107;
@amber--100: #FFECB3;