@baseBlue: rgb(78,166,234);
@lightBaseBlue: lighten(@baseBlue, 30%);
@darkBaseBlue: darken(@baseBlue, 10%);

@successGreen: rgb(51,165,70);
@lightSuccessGreen: lighten(@successGreen, 30%);

@lightGray: rgb(235,235,235);
@mediumLightGray: rgb(202,202,202);
@mediumDarkGray: rgb(102,102,102);
@darkGray: rgb(51,51,51);
@white: rgb(255,255,255);
@black: rgb(0,0,0);

//  http://flatuicolors.com/
//  http://www.flatuicolorpicker.com/
@alizarin: rgb(231,76,60);
@lightAlizarin: lighten(@alizarin, 30%);
@darkAlizarin: darken(@alizarin, 10%);

@sunFlower: rgb(241, 196, 15);
@lightSunflower: lighten(@sunFlower, 30%);