// TODO: Rename file to color instead of colorPallete
@baseBlue: #4EA6EA;
@lightBaseBlue: lighten(@baseBlue, 30%);
@darkBaseBlue: darken(@baseBlue, 10%);

/* TODO: Can I lighten my grays to be more consistent w/ other lightenings? */
@lightGray: #ebebeb;
@mediumLightGray: #cacaca;
@mediumDarkGray: #666;
@darkGray: #333;
@white: #fff;
@black: #000;

@invalidRed: #ffcccc;
@validGreen: #B5DEA3;

//  http://flatuicolors.com/
@nephritis: #27ae60;
@lightNephritis: lighten(@nephritis, 30%);
@sunflower: #f1c40f;
@lightSunflower: lighten(@sunflower, 30%);
@alizarin: #e74c3c;
@lightAlizarin: lighten(@alizarin, 30%);
@darkAlizarin: darken(@alizarin, 10%);