@baseBlue: #4ea6ea;
@lightBaseBlue: lighten(@baseBlue, 30%);
@darkBaseBlue: darken(@baseBlue, 10%);

@lightGray: #ebebeb;
@mediumLightGray: #cacaca;
@mediumDarkGray: #666;
@darkGray: #333;
@white: #fff;
@black: #000;

@invalidRed: #ffcccc;
@validGreen: #B5DEA3;

//  http://flatuicolors.com/
@nephritis: #27ae60;
@lightNephritis: lighten(@nephritis, 30%);
@alizarin: #e74c3c;
@lightAlizarin: lighten(@alizarin, 30%);
@darkAlizarin: darken(@alizarin, 10%);