@import "utility";
@import "overlay";

//  Width is set as 385px / 640px
@wideColumnWidth: 60.15625%;
//  Width is set as 255px / 640px
@thinColumnWidth: 39.84375%;

.column {
    height: 100%;
}

/* TODO: This sucks. I might go back to absolute position or something. */
.column--subHeader {
    height: calc(~"100% - 56px");
}

.column--wide {
    width: @wideColumnWidth;
}

.column--thin {
    width: @thinColumnWidth;
}