@import "utility";
@import "overlay";

.column {
    height: 100%;
}

//  TODO: I'd like to follow golden ratio more closely (60/40) but just not enough screen realestate for usability.
.column--wide {
    width: 55%;
}

.column--thin {
    width: 45%;
}