@import "fontSize";
@import "lineHeight";
@import "utility";

.contentBar {
    .u-flex--column;
    .u-inset--horizontal;
}

.contentBar--top {
    margin-bottom: 5px;
    //  NOTE: Do **not** use 1px border-bottom/border-top. It puts the box model into odd-number math
    //  instead of even-number math which then breaks at 125% page zoom because of sub-pixel rounding.
    box-shadow: 0px 1px 0px 0px @black--a12;
}

.contentBar--top-content {
    .lineHeight-looser;
    .fontSize-large;
    .u-flex--full;
}

.contentBar--bottom {
    box-shadow: 0px -1px 0px 0px @black--a12;
    margin-top: 5px;

    .u-flex--row {
        justify-content: flex-end
    }
}