@import "flexRow";
@import "color";
@import "boxShadow";

.contentBar {
    display: flex;
    padding: 0 4px;
    align-items: center;
    justify-content: flex-end;
}

.contentBar-navButton {
    margin-right: 20px;
}

.contentBar-title {
    font-size: 17px;
}

.contentBar--top {
    height: 56px;
    color: white;
    fill: white;
    background-color: @blue--500;
    box-shadow: @boxShadow-elevation--low;
}

.contentBar--bottom {
    height: 48px;
}

.contentBar--bottom-text--left {
    margin-left: 12px;
}