@import "utility";
@import "overlay";

@columnWidth--wide: 55;
@columnWidth--thin: 45;

.flexColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.flexColumn--wide {
    width: (@columnWidth--wide * 1%);
    flex: @columnWidth--wide;
}

.flexColumn--thin {
    width: (@columnWidth--thin * 1%);
    flex: @columnWidth--thin;
}