@import "normalize";
@import "reset";
/* TODO: This seems like a lot of components to import... is this how I should be doing things? How do I know if I missed one? */
@import "button";
@import "contentBar";
@import "font";
@import "grouping";
@import "instruction";
@import "leftPane";
@import "list";
@import "menu";
@import "notification";
@import "panel";
@import "prompt";
@import "rangeInput";
@import "repeatIcon";
@import "rightPane";
@import "scrollbars";
@import "selectize";
@import "sortable";
@import "spinner";
@import "tooltip";
@import "underlinedInput";
@import "volumeSlidePanel";

/* Detect when Streamus has been loaded into a browser tab instead of the extension window and force it to full-size. */
@media(min-width: 700px){
    html {
        width: 100% !important;
        height: 100% !important;
    }
}

/* Default dimensions of Streamus as a browser extension*/
html {
    width: 640px;
    height: 410px;
}

body {
    -webkit-user-select: none;

    /* Remove the spacing on display: inline-block to allow for 100% 2-column grid layout */
    font-size: 0;
    > * {
        font: 13px/1.2 'Open Sans';
    }

    /* Don't allow interacting with the core of the UI until fully loaded. */
    &.loading > *:not(.above-fade-out) {
        pointer-events: none;
    }
}