@baseBlue: #4EA6EA;
@lightBaseBlue: lighten(@baseBlue, 30%);

/* TODO: Can I use lighten/darken on these to be more consistent? */
@lightGray: #ebebeb;
@mediumLightGray: #cacaca;
@mediumDarkGray: #666;
@darkGray: #333;
@white: #fff;
@black: #000;

@invalidRed: #ffcccc;
@validGreen: #B5DEA3;

//  http://flatuicolors.com/
@nephritis: #27ae60;
@lightNephritis: lighten(@nephritis, 30%);
@sunflower: #f1c40f;
@lightSunflower: lighten(@sunflower, 30%);
@alizarin: #e74c3c;
@lightAlizarin: lighten(@alizarin, 30%);

//  Width is set as 385px / 640px, TODO: follow golden ratio more closely
@leftPaneWidth: 60.15625%;
//  Width is set as 255px / 640px, TODO: follow golden ratio more closely
@rightPaneWidth: 39.84375%;
        
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
    width: 640px;
    height: 410px;
}

body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    font: 13px/1.2 'Open Sans';

    & > .spinner {
        z-index: 1;
        display: none;
    }

    &.loading > *:not(.spinner):not(#prompt-region) {
        opacity: .2;
    }

    &.loading > .spinner {
        display: block;
    }

    &.hide-tooltips {
        .qtip {
            display: none !important;
        }
    }

    /* qtip overrides: */
    .qtip {
        min-width: 0;
        cursor: default;
    }

    .qtip-light {
        border-color: @lightGray;
        color: @mediumDarkGray;
    }
}

/* TODO: Add some area to prevent clipping of context menu */
.full-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Custom Webkit Scrollbar */
/* http://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
    height: 4px;
    width: 8px;
}

/* Ensure no buttons are displayed */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
     height: 0;
}

::-webkit-scrollbar-track-piece {
    background-color: @white;
    width: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: @lightGray;
    height: 50px;
    transition: background-color .1s;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: @mediumDarkGray;
}

/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        }
    to {
        -webkit-transform: rotate(360deg);
       }
}

.prompt {
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;

    .title {
        cursor: default;
    }

    .underline {
        height: 5px;
        width: 308px;
        margin-top: -4px;
    }

    .options {
        margin-top: 10px;

        li {
            margin-bottom: 10px;

            label {
                width: 60px;
                display: inline-block;
                text-align: right;
                padding-right: 5px;
            }
        }
    }

    .panel {
        box-shadow: 0 0 20px @darkGray;
        position: absolute;
        left: 50%;
        opacity: 0;
        /* Default Panel Size */
        width: 500px;
        margin-left: -250px;
        height: 140px;

        .header {
            background: @white;
            height: 26px;
            right: 0;
            top: 0;
            left: 0;
            line-height: 26px;
            font-size: 1.3em;
            padding: 10px;
        }

        .content {
            padding: 10px;
        }
    }

    &.settings-prompt .panel {
        margin-left: -190px;
        width: 380px;
        height: 200px;
    }

    &.create-playlist-prompt .panel {
        margin-left: -165px;
        width: 330px;
        height: 180px;
    }

    &.clear-stream-prompt .panel {
        width: 300px;
        margin-left: -150px;
    }

    &.edit-playlist-prompt .panel {
        width: 330px;
        margin-left: -165px;
    }

    &.delete-playlist-prompt .panel {
        width: 400px;
        margin-left: -200px;
    }

    &.save-selected-prompt .panel {
        width: 370px;
        margin-left: -185px;
    }

    &.no-play-embedded-prompt .panel {
        height: 160px;
    }

    .bottom-right {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    button.remove {
        position: absolute;
        top: 0;
        right: 0;
    }
    /* Reminder checkboxes always go in the bottom right of the prompt */
    .reminder {
        bottom: 10px;
        left: 10px;
        position: absolute;
    }
}

.panel {
    background: @white;
}

.notification {
    height: 40px;
    line-height: 40px;
    position: absolute;
    z-index: 50;
    background-color: white;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 20px #666;
    font-size: 1.1em;
    transform: translate(0px, -40px);

    .button-icon.remove {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
    }

    &.success {
        background-color: @nephritis;
        color: white;

        button {
            color: @lightNephritis;

            &:hover {
                color: white;
            }
        }
    }

    &.error {
        background-color: @alizarin;
        color: white;

        button {
            color: @lightAlizarin;

            &:hover {
                color: white;
            }
        }
    }
}

/* TODO: Move the clear code into a separate import */
input:focus, button:focus { outline: none }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img { border: 0 }

address, caption, cite, code, dfn, em, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit
}

del, ins { text-decoration: none }

caption, th { text-align: left }

h1, h2, h3, h4, h5, h6 { font-size: 100% }

q:before, q:after { content: '' }

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup { vertical-align: baseline }

sub { vertical-align: baseline }

legend { color: @darkGray }

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input, button, textarea, select { font-size: 100% }

a { cursor: pointer }

/*** End clear code ***/

.playlist-details {
    color: @mediumDarkGray;
    line-height: 1.5;
    cursor: default;
}

.item-title {
    font-size: 1.1em;
    white-space: nowrap;
    color: @darkGray;
    cursor: default;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 50px;
}

.item-details {
    color: @mediumDarkGray;
    font-size: .8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    bottom: 0;
    left: 50px;
    position: absolute;
    right: 10px;
    cursor: default;
}

.item-count { margin-right: .8em }
.item-author { margin-right: .8em }

button:not(.disabled):active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

.button-icon {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    width: 40px;
}

.fa.fa-repeat.repeat-song:after {
    content: '1';
    border-radius: 50%;
    background-color: @mediumDarkGray;
    color: @white;
    font-size: 10px;
    bottom: -3px;
    position: relative;
    right: 2px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: -10px;
    font-family: sans-serif;
}

.fa.fa-repeat.repeat-stream:after {
    content: "\221E ";
    border-radius: 50%;
    background-color: @mediumDarkGray;
    color: @white;
    font-size: 10px;
    bottom: -3px;
    position: relative;
    right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: sans-serif;
    margin-right: -10px;
}

/* it's important to use a disabled class and not the disabled attr because tooltips on disabled icons don't work well */
.disabled {
    color: @mediumLightGray !important;
    cursor: default !important;
}

.button-small {
    height: 30px;
    line-height: 30px
}

.button-label {
    padding: .1em .4em; 

    i {
        margin-right: .5em
    }
}

.button-color {
    background: @lightGray;
    border: 1px solid @mediumLightGray;
    transition: all .1s;

    &:not(.disabled):hover {
        border-color: @baseBlue;
        background: @baseBlue;
        color: @white;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        box-shadow: 0 0 5px @mediumLightGray;
        background: @mediumDarkGray;
        border-radius: 100%;
        height: 10px;
        width: 10px;
        transition: background-color .1s;
    }

    &:not(.disabled)::-webkit-slider-thumb{
        cursor: pointer;
    }
}

.left-pane-region {
    background: @white;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: @leftPaneWidth;

    .left-pane {
        background: @white;
        width: 100%;
        height: 100%;
    }

    &#left-base-pane-region {
        z-index: 1;

        #left-base-pane {
            #playlist-title-region {
                width: 100%;
                padding-left: 50px;
                padding-right: 50px;
                box-sizing: border-box;
                height: 45px;
                display: inline-block;
                vertical-align: top;

                #playlist-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1.1em;
                    white-space: nowrap;
                    line-height: 45px;
                    cursor: default;
                }
            }

            /* Maybe it is just me -- but I swear the search icon looks weird at other sizes. */
            .fa-search {
                font-size: 18px;
            }
        }
    }

    &#left-covering-pane-region {
        left: -1 * @leftPaneWidth;
        z-index: 10;
        
        #search {
            box-shadow: 0 0 10px @darkGray;

            /* Can't sort search */
            .sortable-placeholder {
                display: none;
            }
        }
    }
}

.right-pane-region {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: @rightPaneWidth;

    &#right-base-pane-region {
        z-index: 1;
    }
    
    .right-pane {
        background: @white;
        width: 100%;
        height: 100%;
    }

    .top-bar {
        display: block;
        height: 45px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        #menu-region {
            display: block;
            position: absolute;
            right: 10px;
            top: 0;
            height: 45px;
            width: 40px;

            .menu {
                right: 10px;
                opacity: 0;
            }
        }

        #volume-region {
            #volume {
                bottom: 0;
                left: 10px;
                overflow: hidden;
                position: absolute;
                top: 0;
                height: 45px;
                z-index: 3;
                width: 42px;
                cursor: pointer;

                .volume-slider {
                    background: @white;
                    border: 1px solid @mediumLightGray;
                    width: 40px;
                    height: 80px;
                    position: absolute;
                    top: 44px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    opacity: 0;
                    -webkit-transform: rotate(180deg);
                    cursor: default;

                    .progress {
                        margin-left: 19px;
                        width: 2px;
                        background: @baseBlue;
                    }

                    input {
                        -webkit-appearance: none;
                        width: 80px;
                        height: 2px;
                        -webkit-transform: rotate(90deg);
                        -webkit-transform-origin: 0 0;
                        background: rgba(0,0,0,.1);
                        position: absolute;
                        top: 10px;
                        left: 21px;

                        &:focus {
                            outline: none;
                        }
                    }

                    &:before {
                        display: block;
                        content: ' ';
                        width: 10px;
                        height: 10px;
                        background: @white;
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        margin-left: -5px;
                        -webkit-transform: rotate(45deg);
                        border-bottom: 1px solid @mediumLightGray;
                        border-right: 1px solid @mediumLightGray;
                    }
                }
            }
        }

        .center-group {
            position: absolute;
            width: 120px;
            /*left: calc(50% - 60px);*/
            left: 67.5px;
            font-size: 0px;
        }
    }

    .context-buttons {
        border-top: 1px solid @lightGray;
        bottom: 0;
        display: block;
        height: 30px;
        left: 10px;
        position: absolute;
        right: 10px;

        .left-group {
            display: block;
            height: 30px;
            left: 0;
            position: absolute;
            top: 0;
            width: 128px;
        }

        .right-group {
            display: block;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            width: 84px;
        }
    }
}

#stream-region {
    position: absolute;
    top: 79px;
    bottom: 0;
    right: 0;
    left: 0;

    #stream {
        width: 100%;
        height: 100%;

        .big-text-wrapper {
            top: 0;
            bottom: 40px;
        }
    }
}

/* Hide some messages in search */
.big-text.hidden {
    display: none;
}

.big-text-wrapper {
    top: 55px;
    bottom: 40px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;

    &.extended {
        bottom: 5px;   
    }
}

.left-top-divider {
    background: @lightGray;
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 45px;
}

.left-bottom-menubar {
    border-top: 1px solid @lightGray;
    bottom: 0;
    display: block;
    height: 30px;
    left: 10px;
    line-height: 30px;
    position: absolute;
    right: 10px;

    button {
        line-height: 30px;
        padding: 0 .5em;
    }

    .playlist-details {
        bottom: 0;
        display: block;
        left: 0;
        line-height: 30px;
        position: absolute;
        top: 0;
    }

    .playlist-actions {
        bottom: 0;
        display: block;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.list {
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;
}

.list-item {
    height: 40px;
    padding: 0;
    border: 5px solid @white;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .1s, border-color .1s;

    &.saving {
        &> *:not(.spinner):not(.buttons-region) {
            opacity: .2;
        }

        .spinner {
            display: block;
            /* TODO: This is overriding spinner-small -- doesn't really make sense. */
            top: 50%; 
        }
    }

    &.ui-sortable-helper {
        background: @lightGray;
        border-color: @lightGray;
    }

    &:hover {
        background: @lightGray;
        border-color: @lightGray;

        .item-title {
            width: 100%;
            box-sizing: border-box;
            padding-right: 80px;
        }

        i.hoverable {
            background-color: @lightGray;
        }
        /* Shift the title over an amount equal to icon on the far right side's width to simulate the icon pushing the title over '*/
        .buttons-region {
            display: block;
        }
    }

    &.active.stream-item {
        background: @sunflower;
        border-color: @sunflower;

        .item-details {
            color: @lightSunflower;
        }

        .buttons-region button {
            color: @lightSunflower;
        }
    }

    body.playing &.active.stream-item {
        background: @nephritis;
        border-color: @nephritis;

        .item-details {
            color: @lightNephritis;
        }

        .buttons-region button {
            color: @lightNephritis;
        }
    }

    &.selected {
        background: @baseBlue;
        border-color: @baseBlue !important;

        .item-details {
            color: @lightBaseBlue;
        }

        .buttons-region button {
            color: @lightBaseBlue;
        }
    }

    &.selected,
    &.active {
        color: @white;

        .buttons-region {
            button:hover {
                color: @white !important;
            }
        }

        .spinner {
            color: @white;
            border: 1px solid @white;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        .item-title,
        .item-title-wrapper {
            color: @white;
        }
    }

    .spinner {
        display: none;
    }

    .buttons-region {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 0;

        .button-icon {
            height: 30px;
            line-height: 30px;
            width: 25px;
            font-size: 14px;
            cursor: pointer;
        }

        button:hover {
            color: @black;
        }
    }

    .item-details,
    .buttons-region,
    .item-title {
        transition: color .1s;
    }

    img {
        height: 30px;
        width: 40px;
        position: absolute;
        top: 0;
        left: 0;
    }
    /* Hide the placeholder when it is adjacent to a copy-helper because the placeholder shouldn't be able to be right next to
       an item being copied -- it looks weird and doesn't make sense because no move happens */
    &.copy-helper + .sortable-placeholder {
        display: none;
    }
}

#playlists {
    overflow-x: hidden;
    height: auto;
    max-height: 290px;

    .list-item {
        height: 28px;
        line-height: 18px;

        &:hover {
            i.fa-play {
                display: inline-block;
            }

            i.fa-list {
                display: none;
            }
        }

        i {
            margin-right: .4em;
            display: inline-block;
            line-height: 18px;
            vertical-align: top;
            color: @darkGray;

            &.fa-play {
                display: none;
                margin-left: .4em;
                margin-right: .5em;

                &:hover {
                    color: @black;
                }
            }
        }

        * {
            cursor: default;
        }

        .title {
            white-space: nowrap;
        }

        .count {
            background: @mediumDarkGray;
            border-radius: 1em;
            color: @white;
            font-size: .85em;
            font-weight: bold;
            line-height: 1.3;
            padding: 0 .5em 0 .5em;
            position: absolute;
            right: 5px;
            top: 2px;
            cursor: default;
        }

        &.active {
            background: @baseBlue;
            border-color: @baseBlue;

            .count {
                background: @lightBaseBlue;
                color: @baseBlue;
            }

            i.fa-play {
                color: @lightBaseBlue;

                &:hover {
                    color: @white;
                }
            }
        }

        &.loading {
            .spinner {
                display: inline-block;
            }

            .fa-list {
                display: none;
            }
        }

        .spinner {
            display: none;
        }
    }

    .spinner-small {
        position: static;
        margin-left: 0;
        margin-right: .6em;
    }

    .title {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
        line-height: 16px;
    }
}

.spinner {
    color: @baseBlue;
}

.selected-models-length {
    width: 15px !important;
    height: 15px !important;
    padding: 2px;
    background-color: @darkGray;
    font-weight: bold;
    color: @white;
    border-radius: 50%;
    text-align: center;
    z-index: 9999 !important;
    position: absolute !important;
}

input {
    &.invalid {
        background-color: @invalidRed;
    }

    &.valid {
        background-color: @validGreen;   
    }
}

.create-playlist-prompt input[type="text"],
.edit-playlist-prompt input[type="text"] {
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    padding: 0 .2em;
    font: bold 14px/1 sans-serif;
    height: 24px;
    width: 300px;
}

.input-underline-wrapper {
    display: inline-block;

    .underline {
        margin-left: -1px;
    }
}

.underline {
    background-color: @lightGray;
    transition: background-color .3s;
    z-index: 0;
    height: 5px;
}

input:focus  ~ .underline {
    background-color: @baseBlue;
}

#active-playlist-items {

    .sortable-placeholder {
        &.not-signed-in {
            display: none;
        }
        /* Don't allow duplicates to be dropped into playlist items */
        &.no-drop {
            background-color: @invalidRed;

            /* TODO: I18N Clean this up a bit. Need to do i18n for it */
            &:after {
                content: 'Duplicates not allowed';
            }
        }
    }
}


.search-bar {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 43px;
    display: inline-block;
    vertical-align: top;

    .underline { 
        bottom: 10px;
        left: 10px;
        position: absolute;
        width: calc(~"100% - 65px");
    }

    input {
        border: 0;
        bottom: 11px;
        font-size: 1.1em;
        left: 11px;
        padding: 0 .2em;
        position: absolute;
        top: 10px;
        z-index: 1;
        width: calc(~"100% - 73px");
    }
}

.big-text {
    cursor: default;
    color: @mediumDarkGray;
    margin: 2em 1em;
    text-align: center;

    .fa.i-4x {
        margin-bottom: 10px;
        display: block;
    }
}

#time-progress-region {
    top: 45px;
    left: 15px;
    right: 15px;
    position: absolute;
    font-size: .9em;
    height: 20px;
    line-height: 1.5;

    #time-progress {
        width: 100%;
        height: 100%;

        .time-slider {
            background: @lightGray;
            height: 3px;
            left: 45px;
            position: absolute;
            right: 45px;
            top: 8px;

            .progress {
                background: @baseBlue;
                bottom: 0;
                display: block;
                left: 0;
                position: absolute;
                top: 0;
                z-index: 1
            }

            input {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;    
                z-index: 2;
                cursor: pointer;
            }
        }

        .time-elapsed {
            position: absolute;
            left: 0;
            cursor: pointer;
        }

        .duration {
            position: absolute;
            right: 0;
            cursor: default;
        }
    }
}



#playlists-area {
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;

    .panel {
        bottom: 0;
        box-shadow: 0 0 20px @darkGray;
        display: block;
        left: -250px;
        position: absolute;
        top: 0;
        width: 250px;
        z-index: 51;
    }

    .header {
        background: @white;
        display: block;
        height: 45px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;

        span {
            color: @mediumDarkGray;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 45px;
            text-transform: uppercase;

            img {
                height: 23px;
                margin-top: 10px;
            }
        }
    }

    .list {
        bottom: 30px;
        display: block;
        left: 10px;
        overflow: hidden;
        padding-bottom: 1em;
        padding-right: 10px;
        position: absolute;
        right: 0;
        top: 45px;

        h3 {
            cursor: default;
            height: 26px;
            line-height: 26px;
            margin-top: .6em;
            display: inline-block;
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: .3em;

            i {
                margin-left: .3em 
            }
        }
    }

    .context-buttons {
        border-top: 1px solid @lightGray;
        bottom: 0;
        left: 10px;
        position: absolute;
        right: 10px;
        height: 30px;

        .right-group {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    button.hide {
        height: 45px;
        left: 10px;
        position: absolute;
        top: 0;
        width: 40px;
        z-index: 52;
    }
}

.panel .divider {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: @lightGray;
    height: 1px;
}

/* TODO: FIX TO MAKE ICONS RENDER NICELY -- not sure what this means, misostc's comment. I think the icons look OK? */
i { font-size: 14px; }

i.fa-lg { font-size: 19px; }

i.i-2x { font-size: 28px }

i.i-4x { font-size: 56px }

/* Selectize Configuration */
.selectize-input,
.selectize-input * {
    border-radius: 0 !important;
    background-image: none !important;
}

.selectize-dropdown {
    border: none !important;
}

html .selectize-control .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    color: @mediumDarkGray;
}

html .selectize-control.multi .selectize-dropdown .selected .caption {
    color: @lightBaseBlue;
}

html .selectize-control.multi .selectize-input > div {
    border: none !important;
    border-radius: 0;
}

html .selectize-control.multi .selectize-input [data-value] {
    background-color: @baseBlue;
}

html .selectize-control.multi .selectize-input [data-value] > .remove {
    border-color: @baseBlue;
}

html .selectize-control.multi .selectize-input.full > input {
    display: none;
}

.selectize-dropdown-content div.selected {
    background-color: @baseBlue;
    color: @white;
}

/* TODO: Ideally the sortable placeholder would be a washedout representation of the item being dragged, not just a gray square */
.sortable-placeholder {
    background-color: @lightGray;
    border-color: @lightGray;

    &.hidden-until-change {
        display: none;
    }
}

.clickable {
    cursor: pointer !important;
}

#search .big-text {
    z-index: 1;
}

#content-region .big-text,
#search .big-text {
    background-color: @white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 60px;
}

.big-text.stream-empty {
    position: absolute;
    margin-top: 36px;
}

.big-text-header {
    font-size: 23px;
    color: @darkGray;
    margin-bottom: 15px;
}

.big-text-header.clickable {
    display: inline;
}
 
.search-link {
    color: @baseBlue;
}

ul, li {
    list-style: none;   
}

.remindersList li {
    margin-left: 20px;
    margin-top: 10px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

.topic {
    font-size: 1.1em;
    cursor: default;

    &:not(:first-of-type){
        margin-top: 5px;
    }
}

.category {
    margin-left: 10px;
    margin-top: 5px;

    li {
        padding: 5px 0;
        cursor: default;

        input[type="checkbox"], label, select, option {
            cursor: pointer;
        }
    }
}

button {
    color: @darkGray;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: color .05s, text-shadow .05s;

    /* TODO: Remove this */
    &:not(.disabled):not(.enabled):not(.muted):not(.button-color):not(.colored){

        &:hover {
            color: @black;
        }

    }

    &.enabled {
        color: @baseBlue;
    }

    > i {
        transition: color .1s;
    }

    /* TODO: Maybe this should just go on a volume button */
    &.mute.muted{
        color: @alizarin;
    }
}

.lowercase {
    text-transform: lowercase;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spinner {
  position: absolute;
  border: 1px solid @baseBlue;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 700ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.spinner-big {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  border-width: 4px;  
}

.big-text .spinner-medium {
    top: 33%;
}

.spinner-medium {
  width: 24px;
  height: 24px;
  border-width: 2px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

.selected .spinner {
    border-color: @white;
    border-left-color: transparent;
    border-top-color: transparent;
}

.button-icon .spinner-small {
    display:inline-block;
    position: static;
    margin: 0;
    margin-bottom: -3px;
}

.spinner-small {
  width: 16px;
  height: 16px;
  border-width: 1px;
  top: 40%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.left-top-bar {
    height: 45px;
    left: 10px;
    position: absolute;
    top: 0;
    right: 10px;
}

.menu {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    background: @white;
    position: absolute;
    z-index: 100;
    padding: 5px 0;
    border: 1px solid @mediumLightGray;

    li {
        overflow: hidden;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 15px;
        color: @darkGray;
        font: 13px/2.2 'Open Sans';

        &:not(.disabled):hover {
            background: @lightGray;
        }
    }
}

#context-menu {
    &:empty {
        display: none;
    }
}

.settings-group {
    display: inline-block;
    vertical-align: top;

    &.general {
        margin-right: 20px;
    }
}

#suggested-quality {
    margin-top: -5px;
    margin-bottom: -5px;
}

button#hide-search,
button.show-playlists-area,
button.show-search {
    position: absolute;
    top: 0;
}

button#hide-search,
button.show-search {
    right: 0;
}