@import "color";
@import "fontSize";
@import "lineHeight";

.grouping {
    &:not(:last-child){
        margin-bottom: 10px;
    }
}

.grouping-header {
    color: @blue--500;
    margin-bottom: 8px;
    font-weight: 600;
}

.grouping-content {
    /*font-size: 1.1em;*/
}

.grouping-item {
    line-height: 36px;
}