@import "color";
@import "fontSize";
@import "lineHeight";

.grouping-column {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
        margin-right: 24px;
    }
}

.grouping-row {
    &:not(:last-child){
        margin-bottom: 10px;
    }
}

.grouping-header {
    font-size: 1.2em;
    color: @dark--primary;
    margin-bottom: 8px;
}

.grouping-content {
}

.grouping-item {
    height: 36px;
    line-height: 36px;
}