@import "utility";

/* TODO: Revisit how I am doing my transitions. They're not appropriately done which is resulting in weird logic here. */
.region.left-pane {
    width: @largeColumnWidth;

    &.overlay {
        left: -1 * @largeColumnWidth;
    }

    .panel {
        height: 100%;
    }
    
    .playlists-area .panel {
        left: -1 * @smallColumnWidth;
        width: @smallColumnWidth;
    }
}