@import "color";
@import "lineHeight";
@import "fontSize";
@import "utility";
@import "transition";
@import "column";



.list {
    .column;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;

    &:hover {
        will-change: scroll-position;
    }
}

.listItem {
    width: 100%;
    padding: 5px;
    display: flex;
    transition: color @transition-color-time @transition-easeOutSine, 
                background @transition-color-time @transition-easeOutSine,
                opacity @transition-color-time @transition-easeOutSine;

    //  NOTE: This is needed so that .spinner is contained properly.
    position: relative;
    //  NOTE: This is needed so that .spinner's margin: auto; doesn't cause odd overflow while spinning.
    overflow: hidden;

    &:hover {
        background: @black--a12;

        .is-hiddenOnHover {
            .hidden;
        }
    }

    &.is-selected,
    //  Since stream-item can be active AND selected I do not want to re-skin it when it is active.
    &.is-active:not(.stream-item) {
        color: @white;
        background-color: @blue--500;

        .listItem-button,
        .listItem-details {
            color: @blue--100;
        }
        
        .listItem-title,
        .listItem-button:hover {
            color: @white;
        }

        .listItem-spinner {
            color: @white;
            border-right-color: @white;
            border-bottom-color: @white;
        }
    }

    &.is-active .listItem-itemCount {
        background-color: @blue--100;
        color: @blue--500;
    }
}

.listItem-spinner,
.listItem-button {
    transition: color @transition-color-time @transition-easeOutSine;
}

.listItem--medium {
    height: 40px;

    .listItem-title {
        .fontSize-large;
    }
}

.listItem--small {
    height: 30px;
}

.listItem--indented {
    padding-left: 10px;
}

.listItem-imageThumbnail {
    height: 30px;
    width: 40px;
}

.listItem-title {
    color: @black--a87;
    transition: color @transition-color-time @transition-easeOutSine;
}

.listItem-content {
    flex: 1;
    margin-left: 10px;
}

.listItem-details {
    .fontSize-small;
    transition: color @transition-color-time @transition-easeOutSine;
}

.listItem-itemCount {
    .fontSize-small;
    .lineHeight-tighter;
    background: @black--a54;
    border-radius: 1em;
    color: @white;
    font-weight: bold;
    width: 30px;
    margin: 2px 5px;
    text-align: center;
}