@import "color";
@import "lineHeight";
@import "fontSize";
@import "utility";
@import "transition";
@import "column";

.list {
    .column;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;
}

.listItem {
    width: 100%;
    padding: 5px;
    display: flex;
    transition: color @transition-color-time, background @transition-color-time;
    //  NOTE: This is needed so that .spinner is contained properly.
    position: relative;

    &:hover {
        background: @lightGray;

        .is-hiddenOnHover {
            .hidden;
        }
    }

    &.is-selected,
    //  Since stream-item can be active AND selected I do not want to re-skin it when it is active.
    &.is-active:not(.stream-item) {
        color: @white;
        background: @baseBlue;

        .listItem-button,
        .listItem-details {
            color: @lightBaseBlue;
        }
        
        .listItem-title,
        .listItem-button:hover {
            color: @white;
        }

        .listItem-spinner {
            color: @white;
            border-right-color: @white;
            border-bottom-color: @white;
        }
    }

    &.is-active .listItem-itemCount {
        background: @lightBaseBlue;
        color: @baseBlue;
    }
}

.listItem--medium {
    height: 40px;
}

.listItem--small {
    height: 30px;
}

.listItem--indented {
    padding-left: 10px;
}

.listItem-imageThumbnail {
    height: 30px;
    width: 40px;
}

.listItem-content {
    flex: 1;
    margin-left: 10px;
}

.listItem-title {
    .fontSize-large;
    color: @darkGray;
    transition: color @transition-color-time;
}

.listItem-details {
    .fontSize-small;
    transition: color @transition-color-time;
}

.listItem-itemCount {
    .fontSize-small;
    .lineHeight-tighter;
    background: @mediumDarkGray;
    border-radius: 1em;
    color: @white;
    font-weight: bold;
    width: 30px;
    margin: 2px 5px;
    text-align: center;
}