@import "colorPallete";
@import "lineHeight";
@import "fontSize";
@import "utility";

//  TODO: Maybe call this listItem-wrapper instead?
.list {
    //  TODO: instead of height: 100% I should make it a column!
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;
}

.listItem {
    width: 100%;
    padding: 5px;
    display: flex;
    transition: color @colorTransitionTime, background @colorTransitionTime;
    /* TODO: This is only needed for position-absolute loading spinner. Fixable? */
    position: relative;

    //  TODO: Move these outside of nesting w/ better class naming
    &.base {
        height: 40px;
    }

    &.small {
        height: 30px;

        .text {
            .lineHeight-tight;
        }
    }

    &:hover {
        background: @lightGray;

        .onHover-hidden{
            .hidden;
        }
    }

    &.selected, 
    &.active:not(.stream-item) {
        color: @white;
        background: @baseBlue;

        //  TODO: Don't use button-icon here, be a bit more specific.
        .button-icon,
        .listItem-details {
            color: @lightBaseBlue;
        }
        
        .listItem-title,
        .button-icon:hover {
            color: @white;
        }

        .spinner {
            color: @white;
            border-right-color: @white;
            border-bottom-color: @white;
        }
    }

    &.active {
        .listItem-itemCount {
            background: @lightBaseBlue;
            color: @baseBlue;
        }
    }
}

.listItem-indented {
    padding-left: 10px;
}

.listItem-imageThumbnail {
    height: 30px;
    width: 40px;
}

.listItem-content {
    flex: 1;
    margin-left: 10px;
}

.listItem-title {
    .fontSize-large;
    color: @darkGray;
    transition: color @colorTransitionTime;
}

.listItem-details {
    .fontSize-small;
    transition: color @colorTransitionTime;
}

.listItem-itemCount {
    background: @mediumDarkGray;
    border-radius: 1em;
    color: @white;
    .fontSize-small;
    font-weight: bold;
    width: 30px;
    margin: 2px 5px;
    text-align: center;
    .lineHeight-tighter;
}