@import "color";
@import "lineHeight";
@import "transition";
@import "utility";

.menu {
    z-index: 1;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 250ms @transition-timingFunction-easeOutCubic;
    will-change: opacity;
    pointer-events: none;

    &.is-expanded {
        opacity: 1;
        pointer-events: all;
    }
}

.menu-item {
    .lineHeight-loose;
    .u-textOverflowEllipsis;
    .u-clickable;
    max-width: 200px;
    padding: 0 15px;
    color: @darkGray;

    &:not(.disabled):hover {
        background: @lightGray;
    }
}