@import "color";
@import "lineHeight";
@import "transition";
@import "utility";

.menu {
    z-index: 1;
    padding: 8px 0;
    opacity: 0;
    //  TODO: These are conflicting with panel.
    transition-property: opacity !important;
    transition-timing-function: @transition-easeOutSine !important;
    transition-duration: .14s;
    pointer-events: none;
    border-radius: 2px;
    
    &.is-visible {
        opacity: 1;
        pointer-events: all;
    }
}

.menu-item {
    //  TODO: Build this from listItem instead.
    font-size: 15px;
    line-height: 44px;
    .u-textOverflowEllipsis;
    .u-clickable;
    max-width: 200px;
    padding: 0 16px;
    color: @dark--primary;

    &:not(.disabled):hover {
        background: @dark--quinary;
    }
}