@import "color";
@import "transition";
@import "utility";

.menu {
    .transition--fast
}

.menu-items {
    max-width: 200px;
    padding: 8px 0;
    border-radius: 2px;
}

.menu-simpleItems {
    position: relative;
    max-height: 132px;
    overflow: hidden;
}