@import "colorPallete";
@import "fontSize";
@import "lineHeight";

.region.notification {
    top: 0;
    left: 0;
    right: 0;

    .notification {
        .lineHeight-looser;
        .fontSize-large;
        height: 45px;
        position: absolute;
        z-index: 1;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        transform: translate(0px, -40px);

        .button-icon.remove {
            position: absolute;
            top: 0;
            right: 5px;
        }

        &.success {
            background-color: @nephritis;
            color: white;

            button {
                color: @lightNephritis;

                &:hover {
                    color: white;
                }
            }
        }

        &.error {
            background-color: @alizarin;
            color: white;

            button {
                color: @lightAlizarin;

                &:hover {
                    color: white;
                }
            }
        }
    }
}