@import "color";

.notification {
    line-height: 48px;
    color: @white;
    cursor: default;
    //  http://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-usage
    background-color: @gray--snackbar;
    //  The spec says this should be 14px, but I think 15px looks better.
    font-size: 15px;
    padding: 0 24px;
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px;
    margin-left: 16px;
    margin-bottom: 16px;
}