@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 13px/1.2 'Open Sans';
}
.settings {
  font-size: 1.1em;
}
ul,
li {
  list-style-type: none;
}
