@import "color";
@import "utility";
@import "transition";

.panel {
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
    position: absolute;
    will-change: transform;
    transition-property: transform;
    transition-timing-function: @transition-easeOutSine;

    &.is-instant {
        transition: none;
    }
}

.panel--uncolored {
    //  Panels overlay other content so background-color cannot be transparent.
    background-color: @white;
}

.panel--left {
    transform: translate3d(-110%, 0, 0);

    &.is-visible {
        transform: translate3d(0, 0, 0);
    }
}

.panel--top {
    transform: translate3d(0, -110%, 0);

    &.is-visible {
        transform: translate3d(0, 0, 0);
    }
}