.prompt-panel {
    opacity: 0;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    min-width: 300px;
    max-width: 500px;
    top: 50%;
}

//  TODO: This is inconsistent. How can I make this button look right?
.prompt-closeButton {
    margin-right: -5px;
}

//  TODO: This is inconsistent, but having the box-shadow/border looks weird
.prompt-contentBar--bottom {
    box-shadow: none;
}