.prompt-panel {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: 300px;
    max-width: 500px;
    top: 50%;
}

//  TODO: This is inconsistent. How can I make this button look right?
.prompt-closeButton {
    margin-right: -5px;
}

//  TODO: This is inconsistent, but having the border looks weird and it needs more spacing.
.prompt-contentBar--bottom {
    border: none;
    margin-bottom: 5px;
}