@import "colorPallete";

.region.prompt {
    .prompt {
        .options {
            margin-top: 10px;

            li {
                margin-bottom: 10px;

                label {
                    width: 60px;
                    display: inline-block;
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }

        .panel {
            box-shadow: 0 0 20px @darkGray;
            position: absolute;
            left: 50%;
            opacity: 0;
            /* Default Panel Size */
            width: 500px;
            margin-left: -250px;
            height: 140px;

            .header {
                background: @white;

                .title {
                    line-height: 45px;
                    font-size: 1.1em;
                    padding-left: 10px;
                    width: 100%;
                }
            }

            .content {
                padding: 10px;
            }
        }

        &.settings-prompt .panel {
            margin-left: -190px;
            width: 380px;
            height: 200px;
        }

        &.create-playlist-prompt .panel {
            margin-left: -165px;
            width: 330px;
            height: 180px;
        }

        &.clear-stream-prompt .panel {
            width: 300px;
            margin-left: -150px;
        }

        &.edit-playlist-prompt .panel {
            width: 330px;
            margin-left: -165px;
        }

        &.delete-playlist-prompt .panel {
            width: 400px;
            margin-left: -200px;
        }

        &.save-selected-prompt .panel {
            width: 370px;
            margin-left: -185px;
        }

        &.no-play-embedded-prompt .panel {
            height: 160px;
        }

        &.export-playlist-prompt .panel {
            height: 215px;
            width: 300px;
            margin-left: -150px;
        }

        .bottom-right {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        /* Reminder checkboxes always go in the bottom right of the prompt */
        .reminder {
            bottom: 10px;
            left: 10px;
            position: absolute;
        }
    }
}