@import "color";

radio-group {
    outline: none;
}

radio-button {
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;

    &.is-checked {
        .radio-on {
            transform: scale(0.5);
        }

        .radio-off {
            border-color: @green--500;
        }
    }
}

.radio-container {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.radio-state {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.radio-off {
    border: solid 2px;
    border-color: @dark--secondary;
    transition: border-color ease 0.28s;
}

.radio-on {
    background-color: @green--500;
    transform: scale(0);
    transition: transform ease 0.28s;
}

.radio-label {
    margin-left: 10px;
}