@import "color";

@rangeInputSize: 4px;
@rangeInputMargin: 10px;

.rangeInput-wrapper {
    background: @dark--quaternary;
    flex: 1;
    position: relative;
}

.rangeInput-wrapper--horizontal {
    height: @rangeInputSize;
    margin: 0 @rangeInputMargin;

    .rangeInput-progress {
        height: 100%;
    }

    //  NOTE: Can't force this on all range inputs because transform: rotate messes up height/width calculations.
    .rangeInput {
        height: 100%;
        width: 100%;
    }
}

.rangeInput-wrapper--vertical {
    width: @rangeInputSize;
    margin: @rangeInputMargin 0;
    transform: rotate(180deg);

    .rangeInput-progress {
        width: 100%;
    }

    .rangeInput {
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: 0 0;
    }
}

.rangeInput-progress {
    background-color: @blue--500;
    position: absolute;
}

.rangeInput {
    -webkit-appearance: none;
    background: transparent;
    top: 0;
    position: absolute;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: @blue--500;
        border-radius: 50%;
        height: 10px;
        width: 10px;
    }
}