@import "colorPallete";
@import "fontSize";
@import "lineHeight";

.repeat-icon {
    .fontSize-smallest;
    .lineHeight-tightest;
    border-radius: 50%;
    background: @mediumDarkGray;
    color: @white;
    bottom: -5px;
    position: relative;
    right: 3px;
    margin-right: -13px;
    width: 13px;
    display: inline-block;
    font-family: 'Open Sans';
    padding-right: 1px;
}

.repeat-song:after {
    .repeat-icon;
    content: '1';
    font-weight: bold;
}

.repeat-stream:after {
    .repeat-icon;
    content: "\221E";
}