/* Custom resets for Streamus' UI which aren't included in Normalize */
input:focus, button:focus {
    outline: none 
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   
}

/* Keep these inputs aligned more properly with their labels */
input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

*, *:before, *:after {
    box-sizing: border-box;
 }

/* I don't really want text elements to show the text cursor. Just wipe all cursor stylings and set where wanted. */
* {
    cursor: default;
}

input[type=checkbox], label, select {
    cursor: pointer;
}

input[type=text] {
    border: 0;
    padding: 0 .2em;
    cursor: text;
}

/* Selects feel like they're given too much padding implicitly*/
select {
    margin: -5px 0;
}

/* TODO: Not sure if it's kosher to be messing with the font-size of font-awesome/fontello icons directly like this */
i {
    font-size: 14px;

    &.fa-lg {
        font-size: 19px;
    }
}