//  Reset.less: Custom resets for Streamus' UI which aren't provided by Normalize.less
*, 
*:before, 
*:after {
    box-sizing: border-box;
 }

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;   
}