//  Reset.less: Custom resets for Streamus' UI which aren't provided by Normalize.less
input:focus, 
button:focus,
select:focus {
    outline: none 
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;   
}

//  Keep these inputs aligned more properly with their labels.
input[type="checkbox"], 
input[type="radio"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
 }

//  These are always interactable so it is safe to set their cursor back to pointer/text.
input[type="checkbox"], 
label, 
select {
    cursor: pointer;
}

input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    padding: 8px 0;
}

//  Streamus buttons are all custom
button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}