.resizeEmitter {
  visibility: hidden;
}

.resizeEmitter, .resizeEmitter > div, .resizeEmitter-contract:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.resizeEmitter > div {
  background: #eee;
  overflow: auto;
}

.resizeEmitter-contract:before {
  width: 200%;
  height: 200%;
}