@import "colorPallete";
@import "lineHeight";
@import "utility";

.region.right-pane {
    width: @smallColumnWidth;

    .time-progress.region {
        .time-progress {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        .time-label {
            .lineHeight-base;
            width: 40px;
            text-align: center;
        }
    }

    .streamus-menu {
        right: 20px;
    }
}