@import "color";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: @dark--quaternary;
    min-height: 52px;
     
    &:hover {
        background-color: @dark--secondary;
    }
}