@import "color";
@import "transition";

/*.scrollbar-track {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 8px;
  border-left: 1px solid black;
}

.scrollbar-thumb {
  background-color: red;
  width: 8px;
  height: 50px;
  top: 0;
  right: 0;
  position: absolute;
}*/

.scrollbar-container {
    &:hover .scrollbar-thumb {
        background-color: @dark--tertiary;
    }

    /*&.is-mousedown {
        pointer-events: none;
    }*/
}

/*.ps-active-y .ps-scrollbar-y-rail {
    display: block;
}*/

.scrollbar-track,
.scrollbar-thumb {
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color @transition-duration--fast ease-out, width @transition-duration--fast ease-out;
}

.scrollbar-track {
    height: 100%;
    width: 8px;

    &:hover,
    &:active {
        .scrollbar-thumb {
            width: 8px;
            background-color: @dark--tertiary;
        }
    }
}

.scrollbar-thumb {
    width: 6px;
    background-color: @dark--quaternary;
}

.scrollbar-thumb {
    &.is-clicked {
        background-color: @dark--tertiary;
    }
}