@import "colorPallete";

/* Custom Webkit Scrollbar */
/* http://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
    height: 4px;
    width: 8px;
}

/* Ensure no buttons are displayed */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
     height: 0;
}

::-webkit-scrollbar-track-piece {
    background-color: @white;
    width: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: @lightGray;
    height: 50px;
    transition: background-color .1s;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: @mediumDarkGray;
}