@import "color";

//  TODO: Instead of cleaning up this file I am just going to remove Selectize in favor of an in-house component.
.selectize-input,
.selectize-input * {
    border-radius: 0 !important;
    background-image: none !important;
}

.selectize-dropdown {
    border: none !important;
}

html .selectize-control .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    color: @dark--secondary;
}

html .selectize-control.multi .selectize-dropdown .selected .caption {
    color: @light--secondary;
}

html .selectize-control.multi .selectize-input > div {
    border: none !important;
    border-radius: 0;
}

html .selectize-control.multi .selectize-input [data-value] {
    background-color: @blue--500 !important;
}

html .selectize-control.multi .selectize-input [data-value] > .remove {
    border-color: @blue--500 !important;
}

html .selectize-control.multi .selectize-input.full > input {
    display: none;
}

.selectize-dropdown-content div.selected {
    background-color: @blue--500 !important;
    color: @white;
}