@import "color";

//  This is the jQuery UI draggable object that shows # of items being dragged
.sortable-selectedItemsCount {
    //  Important is necessary here because height/width is set via javascript and I want to override.
    width: 19px !important;
    height: 19px !important;
    padding: 2px;
    background-color: @darkGray;
    font-weight: bold;
    color: @white;
    border-radius: 50%;
    text-align: center;
}

//  Hide sortable-placeholder when it is adjacent to sortable-copyHelper because it does not
//  make sense to allow an item to be dropped into the same position it is already at
.sortable-copyHelper + .sortable-placeholder {
    display: none;
}

.sortable-placeholder {
    background: @lightGray;

    //  Don't allow duplicates to be dropped into playlist items
    &.is-notDroppable {
        background-color: @invalidRed;

        //  TODO: i18n
        &:after {
            content: 'Duplicates not allowed';
        }
    }
}

.sortable--unsortable .sortable-placeholder {
    display: none;
}