@import "color";

//  This is the jQuery UI draggable object that shows # of items being dragged
.sortable-selectedItemsCount {
    //  Overide jQuery UI's width/height settings.
    height: 16px !important;
    width: auto !important;
    background-color: @gray--tooltip;
    font-weight: 600;
    color: @white;
    border-radius: 1em;
    text-align: center;
    line-height: 16px;
    font-size: .85em;
    padding: 0 6px;
    //will-change: left, top;
}

.sortable-placeholder {
    color: white;
    background: @dark--quinary;

    //  Don't allow duplicates to be dropped into playlist items
    &.is-notDroppable {
        background-color: @red--500;
    }

    &.is-warnDroppable {
        background-color: @amber--500;
    }
}

.sortable--unsortable .sortable-placeholder {
    display: none;
}

.is-dragging .is-selected {
    opacity: .5;
}