@import "color";

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner {
    border: 1px solid @baseBlue;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 600ms infinite linear;
    display: none;
    vertical-align: middle;
}

.spinner--large {
    width: 32px;
    height: 32px;
    border-width: 4px;
}

.spinner--medium {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.spinner--small {
    width: 16px;
    height: 16px;
    border-width: 1px;
}

.is-showingSpinner {
    > .spinner--unclickable {
        pointer-events: none;
    }

    > .spinner--faded {
        opacity: .1;
    }

    > .spinner {
        display: inline-block;
    }
}