@import "color";
@import "transition";
@import "boxShadow";

.textInput {
    transition: box-shadow @transition-color-time @transition-easeOutSine,
                border @transition-color-time @transition-easeOutSine;
    width: 100%;
    background-color: transparent;
}

.textInput--search {
    font-size: 15px;
    border-bottom-color: rgba(255, 255, 255, .3);

    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .7);
    }

    &:focus {
        border-bottom-color: @white;
        .m-boxShadow-underline(@white);
    }
}

.textInput--basic {
    margin-bottom: 8px;
    border-bottom-color: rgba(0, 0, 0, .26);

    &::-webkit-input-placeholder {
        color: @dark--secondary;
    }
    
    &:focus {
        border-bottom-color: @blue--500;
        .m-boxShadow-underline(@blue--500);
    }

    &.is-invalid {
        border-bottom-color: @red--500;
        .m-boxShadow-underline(@red--500);

        & + .textInput-hint {
            color: @red--500;
        }
    }

    &.is-valid {
        border-bottom-color: @green--500;
        .m-boxShadow-underline(@green--500);

        & + .textInput-hint {
            color: @green--500;
        }
    }
}

.textInput-hint {
    cursor: default;
    color: @dark--secondary;
    font-size: 12px;
    //  TODO: If I don't have this then text pushes content around when it appears which sucks.
    height: 14px;
}

.textInput-characterCounter {
    text-align: right;
}