@import "color";

.timeArea {
    display: flex;
    align-items: center;
}

.timeArea-label {
    color: @dark--secondary;
    //  TODO By specificing min-width instead of width I allow for hour-long tracks to push the size of the scrollbar inward.
    //  However, it causes a weird flicker of pushing the view in on first load.
    //min-width: 40px;
    width: 40px;
    font-size: 15px;
    line-height: 22px;
}

#timeArea-totalTimeLabel {
    text-align: right;
}