@import "color";

.timeArea {
    display: flex;
    align-items: center;
}

.timeArea-label {
    width: 40px;
    font-size: 15px;
    line-height: 22px;
    color: @dark--secondary;
    // Even though these labels are text, I don't think it's reasonable to show highlighting over them when clicked.
    -webkit-user-select: none;
}