@import "lineHeight";
@import "utility";

.timeArea {
    display: flex;
    align-items: center;
}

.timeArea-label {
    .u-textSecondary;
    width: 40px;
}

#timeArea-totalTimeLabel {
    cursor: default;
}