@import "color";
@import "utility";

.is-hidingTooltips .qtip {
    .hidden;
}

.qtip {
    min-width: 0 !important;
    border-color: @lightGray !important;
    color: @mediumDarkGray !important;
    background-color: @white !important;
    //  Prevent pointer events on tooltips so that user can't misclick when
    //  right-clicking on a listItem that is showing its context menu.
    pointer-events: none;
}