@import "colorPallete";

//  TODO: Class name isn't very consistent.
.hide-tooltips {
    .qtip {
        display: none !important;
    }
}

/* qtip overrides: */
.qtip {
    min-width: 0 !important;

}

.qtip-light {
    border-color: @lightGray;
    color: @mediumDarkGray;
}