@transition-easeOutSine: cubic-bezier(.39,.575,.565,1);

@transition-duration--fast: .2s;
@transition-duration--slow: .28s;

.transition--fast {
    transition-duration: @transition-duration--fast;
}

.transition--slow {
    transition-duration: @transition-duration--slow;
}