@transition-color-time: .2s;
@transition-easeOutSine: cubic-bezier(.39,.575,.565,1);

.transition--veryFast {
    transition-duration: .2s;
}

.transition--fast {
    transition-duration: .25s;
}

.transition--slow {
    transition-duration: .35s;
}

.transition--verySlow {
    transition-duration: .4s;
}