@import "color";

.u-flex--column {
    flex-direction: column;
    display: flex;
}

.u-flex--row {
    display: flex;
}

.u-flex--full {
    flex: 1;
}

.u-clickable {
    cursor: pointer;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-link {
    .u-clickable;
    color: @blue--500;

    &:hover {
        color: @blue--700;
    }
}

.u-marginAuto {
    margin: auto;
}

.u-textOverflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-textSecondary {
    color: @dark--secondary;
}

.u-noWrap {
    white-space: nowrap;
}

.u-transitionable {
    pointer-events: none;

    &.is-visible {
        pointer-events: all;
    }
}

//  TODO: I don't know if these should be prefixed by u- or is-
.hidden {
    //  Use important to ensure that hidden always takes precedence.
    display: none !important;
}

//  It's important to use a class and not the disabled attribute because tooltips stop working on disabled elements.
.disabled {
    color: @dark--tertiary !important;
    cursor: default !important;

    *,
    *:before,
    *:after {
        color: @dark--tertiary !important;
        cursor: default !important;
    }
}