.absolute-full {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clickable:not(.disabled) {
  /* TODO: Should be able to be expressed without using !important */
  cursor: pointer !important;
}
.lowercase {
  text-transform: lowercase;
}
.hidden {
  display: none;
}
