@import "color";
@import "rangeInput";
@import "transition";

.volumeArea {
    //  This fixes the fact that there's a small gap between the 48px button click target
    //  and the slidePanel. If the user's mouse goes over that area then the slidePanel collapses.
    padding: 4px 0;
}

.volumeArea:hover,
.volumeArea:active {
    @expandedPanelHeight: 100px;
    @transitionDelay: .2s;

    .volumeArea-slidePanel {
        height: @expandedPanelHeight;
        opacity: 1;
        pointer-events: all;
        transition-delay: @transitionDelay;
    }

    .rangeInput {
        @volumeRangeSize: @expandedPanelHeight - (@rangeInputMargin * 2);
        width: @volumeRangeSize;
        right: -@volumeRangeSize;
        opacity: 1;
        transition-delay: @transitionDelay;
    }
}

//  TODO: Make this more generic once Google Chrome fixes this bug: https://code.google.com/p/chromium/issues/detail?id=341071
.volumeArea-slidePanel {
    @panelWidth: 40px;
    @transitionTime: 250ms;
    width: @panelWidth;
    height: 0;
    opacity: 0;
    transition: opacity @transitionTime @transition-easeOutSine, 
                height @transitionTime @transition-easeOutSine;
    z-index: 1;
    align-items: center;
    //  Prevent hover events from firing on children when it isn't visible.
    pointer-events: none;
    margin-left: 4px;
    margin-right: 4px;

    // CSS triangle
    &:before {
        content: ' ';
        width: @panelWidth / 4;
        height: @panelWidth / 4;
        background-color: inherit;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -1 * @panelWidth / 8;
        transform: rotate(45deg);
        background-color: white;
    }

    .rangeInput {
        //  These values need to be explicitly set because element has been rotated so can't rely on width/height: 100%
        width: 0;
        right: 0;
        opacity: 0;
        height: @rangeInputSize;
        transition: 
            width @transitionTime @transition-easeOutSine, 
            right @transitionTime @transition-easeOutSine,
            opacity @transitionTime @transition-easeOutSine;
    }
}

.volumeArea-slidePanel-content {
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}