@import "boxShadow";
@import "color";
@import "transition";

.volumeArea:hover,
.volumeArea:active {
  .volumeArea-slidePanel {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
  }
}

.volumeArea-slidePanel {
  width: 48px;
  height: 120px;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  will-change: transform, opacity;
  transition: opacity @transition-duration--fast @transition-easeOutSine, transform @transition-duration--fast @transition-easeOutSine;
}

.volumeArea-slidePanel-content {
  height: 100%;
  border-radius: 2px;
  align-items: center;
  padding: 16px 0;
}