<div id='activePlaylistArea-playlistItemsRegion' class='column u-flex--column u-flex--full'></div>

<div class='contentBar contentBar--bottom'>
    <div id='activePlaylistArea-playlistDetails' class='u-lowercase u-textOverflowEllipsis u-textSecondary lineHeight-loose u-flex--full'></div>

    <button id='activePlaylistArea-playAllButton' class='button--flat'>
        <%= playAllMessage %>
    </button>

    <button id='activePlaylistArea-addAllButton' class='button--flat js-tooltipable'>
        <%= addAllMessage %>
    </button>
</div>