<div class='contentBar contentBar--top'>
    <div class='u-flex--row'>
        <button id='leftPane-showPlaylistsAreaButton' class='button--icon button--large js-tooltipable'>
            <i class='fa fa-reorder'></i>
        </button>
    
        <div id='leftPane-playlistTitleRegion' class='contentBar--top-content u-inset--horizontal'></div>
    
        <button id='leftPane-showSearchButton' class='button--icon button--large'>
            <i class='fa fa-lg fa-search'></i>
        </button>
    </div>
</div>

<div id='leftPane-contentRegion' class='u-flex--full u-flex--column column'></div>
