<div class='listItem-spinnerRegion'></div>

<div class='listItem-leftContent is-showingThumbnail'>
    <div class='listItem-imageThumbnail spinner--faded--light' style='background-image: url("https://img.youtube.com/vi/<%= song.get("id") %>/mqdefault.jpg")' />
    <div class='listItem-checkboxRegion'></div>
</div>

<div class='listItem-content spinner--faded--light'>
    <div class='listItem-title js-textTooltipable' data-tooltip-text='<%- title %>'>
        <%= title %>
    </div>

    <div class='listItem-details'>
        <%= song.get('prettyDuration') %>	
    </div>
</div>

<span class='listItem-buttonsRegion'></span>