<div data-region='spinner'></div>

<div data-ui='leftContent' class='listItem-leftContent is-showingThumbnail'>
  <div class='listItem-imageThumbnail spinner--faded--light' style='background-image: url("https://img.youtube.com/vi/<%= video.get("id") %>/mqdefault.jpg")' />
  <div data-region='checkbox' class='listItem-checkboxRegion'></div>
</div>

<div class='listItem-content spinner--faded--light'>
  <div class='listItem-title' data-ui='textTooltipable' data-tooltip-text='<%- video.get("title") %>'>
    <%= video.get('title') %>
  </div>

  <div class='listItem-details'>
    <%= video.get('prettyDuration') %>
  </div>
</div>

<span data-region='buttons' class='listItem-buttonsRegion'></span>