<div class="listItem-spinner spinner spinner--small overlay u-marginAuto"></div>

<img class="listItem-imageThumbnail spinner--faded" src="https://img.youtube.com/vi/<%= song.get('id') %>/default.jpg" />

<div class="listItem-content spinner--faded">
    <div class="listItem-title u-textOverflowEllipsis js-textTooltipable" title="<%- title %>">
        <%= title %>
    </div>

    <div class="listItem-details u-textOverflowEllipsis u-textSecondary">
        <%= song.get('prettyDuration') %>	
    </div>
</div>

<span class="listItem-buttonsRegion"></span>