<div class='instruction-wrapper'>
    <div id='signIn-signingInMessage' class='instruction is-showingSpinner'>
        <div class='instruction-header'>
            <%= signingInMessage %>...
        </div>
        <div class='spinner spinner--medium spinner--dark'></div>
    </div>
    
    <div id='signIn-signInMessage' class='instruction'>
        <div id='signIn-signInLink' class='instruction-header u-link'>
            <%= signInMessage %>
        </div>
    </div>
    
    <div id='signIn-signInFailedMessage' class='instruction'>
        <div class='instruction-header'>
            <%= signInFailedMessage %>
        </div>
        <div class='u-textSecondary'>
            <%= pleaseWaitMessage %> <span id='signIn-signInRetryTimer'><%= signInRetryTimer %></span>
        </div>
    </div>
</div>