<section class='grouping'>
  <div class='grouping-header'>
    <%= applicationDetailsMessage %>
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-ui='openHomepage' class='grouping-item listItem listItem--small listItem--clickable'>
        <%= openHomepageMessage %>
      </li>
      <li data-ui='openPatchNotes' class='grouping-item listItem listItem--small listItem--clickable'>
        <%= openPatchNotesMessage %>
      </li>
      <li class='grouping-item version'>
        <div class='simpleListItem listItem listItem--medium'>
          <div class='listItem-content'>
            <div class='listItem-title'>
              <%= versionMessage %>
            </div>

            <div class='listItem-details'>
              <%= applicationDetails.version %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>