<div data-ui='panel' class='dialog-panel panel u-transitionable transition--veryFast'>
    <div class='dialog-panel-content panel-content panel-content--uncolored'>
        <div data-region='content' class='dialog-contentRegion'></div>

        <div class='dialog-contentBar--bottom contentBar contentBar--bottom'>
            <div data-region='reminder' class='u-flex--full'></div>
            
            <% if( showCancelButton ) { %>
            <div data-ui='cancelButton' class='button button--flat'>
                <%= cancelButtonText %>
            </div>
            <% } %>
            
            <% if( showSubmitButton ) { %>
            <div data-ui='submitButton' class='button button--flat'>
                <%= submitButtonText %>
            </div>
            <% } %>
        </div>
    </div>
</div>