<div data-ui='panel' class='dialog-panel panel'>
  <div class='dialog-panel-content panel-content panel-content--uncolored'>
    <div data-region='content' class='dialog-contentRegion'></div>

    <div class='dialog-contentBar--bottom contentBar contentBar--bottom flexColumn-bugFix'>
      <div data-region='reminder' class='u-flex--full'></div>

      <div data-ui='cancelButton' class='button button--flat <%= showCancelButton ? "" : "is-hidden" %>'>
        <%= cancelButtonText %>
      </div>

      <div data-ui='submitButton submittable' class='button button--flat'>
        <%= submitButtonText %>
      </div>
    </div>
  </div>
</div>