<div id='<%= viewId + "-panel" %>' class='dialog-panel panel u-transitionable transition--veryFast'>
    <div class='dialog-panel-content panel-content panel-content--uncolored'>
        <div id='<%= viewId + "-contentRegion" %>' class='dialog-contentRegion'></div>

        <div class='dialog-contentBar--bottom contentBar contentBar--bottom'>
            <div id='<%= viewId + "-reminderRegion" %>' class='u-flex--full'></div>
            
            <% if( showCancelButton ) { %>
            <div id='<%= viewId + "-cancelButton" %>' class='button button--flat'>
                <%= cancelButtonText %>
            </div>
            <% } %>
            
            <% if( showSubmitButton ) { %>
            <div id='<%= viewId + "-submitButton" %>' class='button button--flat'>
                <%= submitButtonText %>
            </div>
            <% } %>
        </div>
    </div>
</div>