<section class='grouping'>
  <input type='text' data-ui='title submittable' class='textInput textInput--basic' placeholder='{{titleMessage}}' value='{{get playlist 'title'}}'>
  <div class='textInput-hint textInput-characterCounter'>
    <span data-ui='title-characterCount'>0</span> / {{titleMaxLength}}
  </div>
</section>