<section class='grouping'>
    <div class='grouping-header'>
        <%= generalMessage %>
    </div>

    <div class='grouping-content'>
        <ul>
            <li id='<%= viewId %>-openInTabRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-openToSearchRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-songQualityRegion' class='grouping-item'></li>
        </ul>
    </div>
</section>

<section class='grouping'>
    <div class='grouping-header'>
        <%= desktopNotificationsMessage %>
    </div>
    <div class='grouping-content'>
        <ul>
            <li id='<%= viewId %>-desktopNotificationsEnabledRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-desktopNotificationDurationRegion' class='grouping-item'></li>
        </ul>
    </div>
</section>

<section class='grouping'>
    <div class='grouping-header'>
        <%= remindersMessage %>
    </div>
    <div class='grouping-content'>
        <ul>
            <li id='<%= viewId %>-remindClearStreamRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-remindDeletePlaylistRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-remindLinkAccountRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
            <li id='<%= viewId %>-remindGoogleSignInRegion' class='grouping-item listItem listItem--small listItem--clickable'></li>
        </ul>
    </div>
</section>