<section class='grouping'>
  <div class='grouping-header'>
    <%= generalMessage %>
  </div>

  <div class='grouping-content'>
    <ul>
      <li data-region='openInTab' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='songQuality' class='grouping-item'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    <%= desktopNotificationsMessage %>
  </div>
  <div class='grouping-content'>
    <ul>
      <li data-region='desktopNotificationsEnabled' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='desktopNotificationDuration' class='grouping-item'></li>
    </ul>
  </div>
</section>

<section class='grouping'>
  <div class='grouping-header'>
    <%= remindersMessage %>
  </div>
  <div class='grouping-content'>
    <ul>
      <li data-region='remindClearStream' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindDeletePlaylist' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindLinkAccount' class='grouping-item listItem listItem--small listItem--clickable'></li>
      <li data-region='remindGoogleSignIn' class='grouping-item listItem listItem--small listItem--clickable'></li>
    </ul>
  </div>
</section>