<p>
  <strong>Important:</strong>
</p>

<p>Hey everyone, Sean here.</p>

<p>
  So, good news for people who love bad news.
</p>
<p>
  I've been working with YouTube on-and-off since November of last year regarding their Terms of Service. The past four months have involved a <strong>lot</strong> of talks with them.
  Prior to July 7<sup>th</sup> I was led to believe that Streamus would be fully compliant with YouTube's demands once it supported showing video. I spent hundreds of hours making this a reality.
</p>
<p>
  Unfortunately, after adding this functionality, I was informed that showing video was not sufficient. YouTube has demanded that Streamus <strong>pause music when minimized.</strong>
  Failure to do so will result in Streamus being removed from the Chrome Web Store on July 14<sup>th</sup>.
</p>

<p>
  So, for now, this is the end of the road. :(
</p>

<p>
  This update provides you with the ability to export your playlists back to YouTube. Right-click on a playlist through the left-side menu, or click the 'More actions' button, to see the option.
  Doing so will create a new playlist on your YouTube account and move all available songs to it. The code isn't very smart. It won't be able to update an existing playlist, but at least you can get your songs out.
</p>

<p>
  As for me? I will begin working on SoundCloud support effective immediately. Streamus will be unpublished from the Chrome Web Store while I work on this.
</p>

<p>
  If you have any questions, comments, or concerns feel free to e-mail me at admin@streamus.com or you can find me on the r/streamus subreddit: <a href="http://www.reddit.com/r/streamus">http://www.reddit.com/r/streamus</a>
</p>
<p>
  <strong>I'm truly sorry.</strong> I had the utmost confidence that adding support for video would fulfill YouTube's demands and was heartbroken when I learned this would not be the case.
  You can view the full conversation I've had with YouTube here: <a href="http://i.imgur.com/15gaOf6.png">http://i.imgur.com/15gaOf6.png</a>. I fought long and hard for you all and this was not a decision I took lightly.
</p>

<p>
  I look forward to listening to music with you all once again in the future.
  <br/><br/>
  Regards,
  <br/>
  <strong>Sean Anderson</strong>
</p>