/* TODO: Can I use lighten/darken on these to be more consistent? */
button {
  color: #333333;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 0.05s, text-shadow 0.05s;
  /* TODO: Remove this */
  /* TODO: Maybe this should just go on a volume button */
}
button:not(.disabled):not(.enabled):not(.muted):not(.button-color):not(.colored):hover {
  color: #000000;
}
button:not(.disabled):active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
button.enabled {
  color: #4ea6ea;
}
button > i {
  transition: color .1s;
}
button:not(.disabled) > i {
  cursor: pointer;
}
button.mute.muted {
  color: #e74c3c;
}
.button-icon {
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  width: 40px;
}
.button-small {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.button-label {
  padding: .1em .4em;
}
.button-label i {
  margin-right: 0.5em;
}
.button-color {
  background: #ebebeb;
  border: 1px solid #cacaca;
  transition: all .1s;
}
.button-color:not(.disabled):hover {
  border-color: #4ea6ea;
  background: #4ea6ea;
  color: #ffffff;
}
