#contextMenu {
  -webkit-box-shadow: 4px 7px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
  position: absolute;
  z-index: 100;
  padding: 5px 0;
  border: 1px solid #BABABA;
}
#contextMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#contextMenu ul:not(:last-child) {
  border-bottom: 1px solid #EFEFEF;
}
#contextMenu ul li {
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 15px;
}
#contextMenu ul li:not([disabled]):hover {
  background: #EBEBEB;
}
#contextMenu ul li:not([disabled]):active {
  background: #EBEBEB;
  color: #fff;
}
#contextMenu ul li a {
  color: #333;
  font: 12px/2.2 sans-serif;
  text-decoration: none;
  cursor: default;
}
#contextMenu ul li a[disabled=disabled] {
  background-color: transparent !important;
  color: GrayText !important;
  cursor: default;
}
