body,
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.html5-bezel {
  display: block;
  width: 40px;
  height: 40px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none;
}
.html5-bezel > div {
  margin: 0 auto;
  -webkit-box-sizing: content-box !important;
}
.html5-bezel-pause {
  width: 10px;
  height: 40px;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}
.html5-bezel-play {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
}
.html5-bezel-fade {
  -webkit-transform: scale(1.5);
  opacity: 0;
  -webkit-transition: all 0.25s ease-in;
}
