.fontSize-smallest {
  font-size: .7em;
}
.fontSize-small {
  font-size: .85em;
}
.fontSize-large {
  font-size: 1.1em;
}
.fontSize-largest {
  font-size: 1.7em;
}
.lineHeight-tightest {
  line-height: 13px;
}
.lineHeight-tighter {
  line-height: 16px;
}
.lineHeight-tight {
  line-height: 20px;
}
.lineHeight-base {
  line-height: 25px;
}
.lineHeight-loose {
  line-height: 30px;
}
.lineHeight-looser {
  line-height: 45px;
}
.grouping-column {
  display: inline-block;
  vertical-align: top;
}
.grouping-column:not(:last-child) {
  margin-right: 15px;
}
.grouping-row:not(:last-child) {
  margin-bottom: 10px;
}
.grouping-header {
  font-size: 1.1em;
  line-height: 25px;
}
.grouping-content {
  margin-left: 10px;
}
.grouping-item {
  line-height: 25px;
}
