.lineHeight-tightest {
  line-height: 13px;
}
.lineHeight-tighter {
  line-height: 16px;
}
.lineHeight-tight {
  line-height: 20px;
}
.lineHeight-base {
  line-height: 25px;
}
.lineHeight-loose {
  line-height: 30px;
}
.lineHeight-looser {
  line-height: 45px;
}
.fontSize-smallest {
  font-size: .7em;
}
.fontSize-small {
  font-size: .85em;
}
.fontSize-large {
  font-size: 1.1em;
}
.fontSize-largest {
  font-size: 1.7em;
}
.u-flex--column {
  flex-direction: column;
  display: flex;
}
.u-flex--row {
  display: flex;
}
.u-flex--full {
  flex: 1;
}
.u-flex--justifyCenter {
  display: flex;
  justify-content: center;
}
.u-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.u-clickable {
  cursor: pointer;
}
.u-lowercase {
  text-transform: lowercase;
}
.u-inset--horizontal {
  margin-left: 10px;
  margin-right: 10px;
}
.u-inset--vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-link {
  cursor: pointer;
  color: #4ea6ea;
}
.u-link:hover {
  color: #208fe5;
}
.u-marginAuto {
  margin: auto;
}
.u-floatLeft {
  float: left;
}
.u-floatRight {
  float: right;
}
.u-textOverflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-textSecondary {
  color: #666666;
}
.u-noWrap {
  white-space: nowrap;
}
.u-aboveContent {
  z-index: 1;
}
.hidden {
  display: none !important;
}
.disabled {
  color: #cacaca !important;
  cursor: default !important;
}
.disabled *,
.disabled *:before,
.disabled *:after {
  color: #cacaca !important;
  cursor: default !important;
}
.column {
  height: 100%;
}
.column.u-overlay {
  /* An empty column-overlay should not be able to overlap visible content */
}
.column.u-overlay:empty {
  display: none;
}
.column.u-overlay .column {
  width: 100%;
}
.column--wide {
  width: 60.15625%;
}
.column--thin {
  width: 39.84375%;
}
.instruction-wrapper {
  flex: 1;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
}
.instruction-wrapper.u-overlay {
  /* An empty column-overlay should not be able to overlap visible content */
}
.instruction-wrapper.u-overlay:empty {
  display: none;
}
.instruction-wrapper.u-overlay .column {
  width: 100%;
}
.instruction {
  position: absolute;
  width: 100%;
  color: #333333;
  text-align: center;
}
.leftPane .instruction {
  margin-top: 60px;
}
.rightPane .instruction {
  margin-top: 30px;
}
.instruction-header {
  font-size: 1.7em;
  line-height: 45px;
}
