.lineHeight-tightest {
  line-height: 13px;
}
.lineHeight-tighter {
  line-height: 16px;
}
.lineHeight-tight {
  line-height: 20px;
}
.lineHeight-base {
  line-height: 25px;
}
.lineHeight-loose {
  line-height: 30px;
}
.lineHeight-looser {
  line-height: 45px;
}
.fontSize-smallest {
  font-size: .7em;
}
.fontSize-small {
  font-size: .85em;
}
.fontSize-large {
  font-size: 1.1em;
}
.fontSize-largest {
  font-size: 1.7em;
}
.u-flex--column {
  flex-direction: column;
  display: flex;
}
.u-flex--row {
  display: flex;
}
.u-flex--full {
  flex: 1;
}
.u-flex--justifyCenter {
  display: flex;
  justify-content: center;
}
.u-flex--alignCenter {
  display: flex;
  align-items: center;
}
.u-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.u-clickable {
  cursor: pointer;
}
.u-lowercase {
  text-transform: lowercase;
}
.u-inset--horizontal {
  margin-left: 10px;
  margin-right: 10px;
}
.u-inset--vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-link {
  cursor: pointer;
  color: #4ea6ea;
}
.u-link:hover {
  color: #208fe5;
}
.u-marginAuto {
  margin: auto;
}
.u-floatLeft {
  float: left;
}
.u-floatRight {
  float: right;
}
.u-textOverflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-textSecondary {
  color: #666666;
}
.u-noWrap {
  white-space: nowrap;
}
.u-aboveContent {
  z-index: 1;
}
.hidden {
  display: none !important;
}
.disabled {
  color: #cacaca !important;
  cursor: default !important;
}
.disabled *,
.disabled *:before,
.disabled *:after {
  color: #cacaca !important;
  cursor: default !important;
}
.column {
  height: 100%;
}
.column.u-overlay:empty {
  display: none;
}
.column--fullWidth {
  width: 100%;
}
.column--wide {
  width: 60.15625%;
}
.column--thin {
  width: 39.84375%;
}
.list {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  overflow-y: auto;
}
.list.u-overlay:empty {
  display: none;
}
.listItem {
  width: 100%;
  padding: 5px;
  display: flex;
  transition: color 0.15s, background 0.15s;
  position: relative;
  overflow: hidden;
}
.listItem:hover {
  background: #ebebeb;
}
.listItem:hover .is-hiddenOnHover {
  display: none !important;
}
.listItem.is-selected,
.listItem.is-active:not(.stream-item) {
  color: #ffffff;
  background: #4ea6ea;
}
.listItem.is-selected .listItem-button,
.listItem.is-active:not(.stream-item) .listItem-button,
.listItem.is-selected .listItem-details,
.listItem.is-active:not(.stream-item) .listItem-details {
  color: #d7ebfa;
}
.listItem.is-selected .listItem-title,
.listItem.is-active:not(.stream-item) .listItem-title,
.listItem.is-selected .listItem-button:hover,
.listItem.is-active:not(.stream-item) .listItem-button:hover {
  color: #ffffff;
}
.listItem.is-selected .listItem-spinner,
.listItem.is-active:not(.stream-item) .listItem-spinner {
  color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}
.listItem.is-active .listItem-itemCount {
  background: #d7ebfa;
  color: #4ea6ea;
}
.listItem--medium {
  height: 40px;
}
.listItem--medium .listItem-title {
  font-size: 1.1em;
}
.listItem--small {
  height: 30px;
}
.listItem--indented {
  padding-left: 10px;
}
.listItem-imageThumbnail {
  height: 30px;
  width: 40px;
}
.listItem-title {
  color: #333333;
  transition: color 0.15s;
}
.listItem-content {
  flex: 1;
  margin-left: 10px;
}
.listItem-details {
  font-size: .85em;
  transition: color 0.15s;
}
.listItem-itemCount {
  font-size: .85em;
  line-height: 16px;
  background: #666666;
  border-radius: 1em;
  color: #ffffff;
  font-weight: bold;
  width: 30px;
  margin: 2px 5px;
  text-align: center;
}
