.fontSize-smallest {
  font-size: .7em;
}
.fontSize-small {
  font-size: .85em;
}
.fontSize-large {
  font-size: 1.1em;
}
.fontSize-largest {
  font-size: 1.7em;
}
.lineHeight-tightest {
  line-height: 13px;
}
.lineHeight-tighter {
  line-height: 16px;
}
.lineHeight-tight {
  line-height: 20px;
}
.lineHeight-base {
  line-height: 25px;
}
.lineHeight-loose {
  line-height: 30px;
}
.lineHeight-looser {
  line-height: 45px;
}
.notification {
  line-height: 45px;
  font-size: 1.1em;
  height: 45px;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  transform: translate(0px, -40px);
  color: #ffffff;
}
.notification-hideButton:hover {
  color: #ffffff;
}
.notification--success {
  background-color: #27ae60;
}
.notification--success .notification-hideButton {
  color: #89e5b0;
}
.notification--error {
  background-color: #e74c3c;
}
.notification--error .notification-hideButton {
  color: #f8c9c4;
}
