.prompt-panel {
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  min-width: 300px;
  max-width: 500px;
  top: 50%;
}
.prompt-closeButton {
  margin-right: -5px;
}
.prompt-contentBar--bottom {
  border: none;
}
