/* Custom resets for Streamus' UI which aren't included in Normalize */
input:focus,
button:focus {
  outline: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Keep these inputs aligned more properly with their labels */
input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
