input:focus,
button:focus {
  outline: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  cursor: default;
}
input[type="checkbox"],
label,
select {
  cursor: pointer;
}
input[type="text"] {
  border: 0;
  padding: 0 3px 2px 3px;
  cursor: text;
}
button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.fa.fa-search {
  vertical-align: 0;
}
