.selectize-input,
.selectize-input * {
  border-radius: 0 !important;
  background-image: none !important;
}
.selectize-dropdown {
  border: none !important;
}
html .selectize-control .selectize-dropdown .caption {
  font-size: 12px;
  display: block;
  color: rgba(0, 0, 0, 0.54);
}
html .selectize-control.multi .selectize-dropdown .selected .caption {
  color: rgba(255, 255, 255, 0.7);
}
html .selectize-control.multi .selectize-input > div {
  border: none !important;
  border-radius: 0;
}
html .selectize-control.multi .selectize-input [data-value] {
  background-color: #4285f4;
}
html .selectize-control.multi .selectize-input [data-value] > .remove {
  border-color: #4285f4;
}
html .selectize-control.multi .selectize-input.full > input {
  display: none;
}
.selectize-dropdown-content div.selected {
  background-color: #4285f4;
  color: #ffffff;
}
