.sortable-selectedItemsCount {
  width: 19px !important;
  height: 19px !important;
  padding: 2px;
  background-color: #333333;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin-right: -19px;
  margin-left: -19px;
}
.sortable-copyHelper + .sortable-placeholder {
  display: none;
}
.sortable-placeholder {
  background: #ebebeb;
}
.sortable-placeholder.is-notDroppable {
  background-color: #ffcccc;
}
.sortable-placeholder.is-notDroppable:after {
  content: 'Duplicates not allowed';
}
.sortable--unsortable .sortable-placeholder {
  display: none;
}
