<div data-ui='panelContent' class='menu-items panel-content panel-content--uncolored panel-content--fadeInOut'>
  <div data-region='fixedTopMenuItem'></div>
  <div data-region='simpleMenuItems'></div>
  <div data-region='fixedBottomMenuItem'></div>
</div>