body > *:not(#body-container),
#body-container > *:not(#page-container),
#page-container > *:not(#page),
#page > *:not(#player) {
    display: none !important;
}

html, body {
    overflow: hidden !important;
}

html,
body,
#body-container,
#page-container,
#page,
#player,
#player-mole-container,
#player-api,
#movie_player,
.html5-video-container,
.video-stream {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-height: initial !important;
    max-width: initial !important;
    min-height: initial !important;
    min-width: initial !important;
}

#player {
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
}

/* Hide annotations */
.video-annotations,
.ytp-iv-player-content {
    display: none !important;
}

/* Don't show alternate videos at end */
.html5-endscreen {
    display: none !important;
}

/* Hide the skip to next video button */
.ytp-next-button,
/* Hide the 'Autoplay' option in menu */
.ytp-menuitem:first-child,
/* Hide the theater mode button */
.ytp-size-button {
    display: none !important;
}