<div class='flexColumn'>
  <div class='flexRow'>
    <div class='flexColumn streamControlBar-content'>
      <div class='streamControlBar-title u-textOverflowEllipsis text' data-ui='title textTooltipable'></div>
      <div data-region='timeLabelArea'></div>
    </div>

    <div class='streamControlBar-streamControls'>
      <div data-region='radioButton'></div>
      <div data-region='shuffleButton'></div>
      <div data-region='repeatButton'></div>
    </div>

    <div class='streamControlBar-playbackControls'>
      <div data-region='previousButton'></div>
      <div data-region='playPauseButton'></div>
      <div data-region='nextButton'></div>
    </div>
  </div>
  <div data-region='timeSlider'></div>
</div>