<div data-ui='volumeButton' class='volumeArea-volumeButton button button--icon--secondary button--icon button--large'>
  <span data-ui='volumeIcon--up'>
    <%= volumeUpIcon %>
  </span>

  <span data-ui='volumeIcon--down'>
    <%= volumeDownIcon %>
  </span>

  <span data-ui='volumeIcon--off'>
    <%= volumeOffIcon %>
  </span>

  <span data-ui='volumeIcon--mute'>
    <%= volumeMuteIcon %>
  </span>
</div>

<div data-ui='slidePanel' class='volumeArea-slidePanel panel'>
  <div class='volumeArea-slidePanel-content panel-content panel-content--uncolored flexColumn'>
    <streamus-slider data-ui='volumeSlider' orientation='vertical' wheelStepScale="3"></streamus-slider>
  </div>
</div>