<div class='menuButton button button--icon button--icon--primary button--large'>
    <span>
        <%= settingsIcon %>
    </span>
</div>

<div class='adminMenuArea-menu menu panel appBar-panel'>
    <ul class='menu-items panel-content panel-content--fadeInOut panel-content--uncolored'>
        <li class='settings listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= settingsMessage %>
                </div>
            </div>
        </li>
        <li class='browserSettings listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= browserSettingsMessage %>
                </div>
            </div>
        </li>
        <li class='keyboardShortcuts listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= keyboardShortcutsMessage %>
                </div>
            </div>
        </li>
        <li class='openInTab listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= openInTabMessage %>
                </div>
            </div>
        </li>
        <li class='aboutStreamus listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= aboutStreamusMessage %>
                </div>
            </div>
        </li>
        <li class='reload listItem listItem--small listItem--clickable'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= reloadMessage %>
                </div>
            </div>
        </li>
    </ul>
</div>