<div id='adminMenuArea-menuButton' class='button button--icon button--icon--primary button--large'>
    <span>
        <%= settingsIcon %>
    </span>
</div>

<div id='adminMenuArea-menu' class='adminMenuArea-menu menu panel appBar-panel'>
    <ul class='menu-items panel-content panel-content--fadeInOut panel-content--uncolored'>
        <li id='adminMenuArea-settingsMenuItem' class='listItem listItem--small'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= settingsMessage %>
                </div>
            </div>
        </li>
        <li id='adminMenuArea-browserSettingsMenuItem' class='listItem listItem--small'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= browserSettingsMessage %>
                </div>
            </div>
        </li>
        <li id='adminMenuArea-keyboardShortcutsMenuItem' class='listItem listItem--small'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= keyboardShortcutsMessage %>
                </div>
            </div>
        </li>
        <li id='adminMenuArea-openInTabMenuItem' class='listItem listItem--small'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= openInTabMessage %>
                </div>
            </div>
        </li>
        <li id='adminMenuArea-reloadMenuItem' class='menu-item listItem listItem--small'>
            <div class='listItem-content'>
                <div class='listItem-title'>
                    <%= reloadMessage %>
                </div>
            </div>
        </li>
    </ul>
</div>