<div data-ui='menuButton' class='button button--icon button--icon--primary button--large'>
  <span>
        <%= settingsIcon %>
    </span>
</div>

<div data-ui='menu' class='adminMenuArea-menu menu panel appBar-panel'>
  <ul class='menu-items panel-content panel-content--fadeInOut panel-content--uncolored'>
    <li data-ui='settings' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= settingsMessage %>
        </div>
      </div>
    </li>
    <li data-ui='browserSettings' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= browserSettingsMessage %>
        </div>
      </div>
    </li>
    <li data-ui='keyboardShortcuts' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= keyboardShortcutsMessage %>
        </div>
      </div>
    </li>
    <li data-ui='openInTab' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= openInTabMessage %>
        </div>
      </div>
    </li>
    <li data-ui='aboutStreamus' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= aboutStreamusMessage %>
        </div>
      </div>
    </li>
    <li data-ui='reload' class='listItem listItem--small listItem--clickable'>
      <div class='listItem-content'>
        <div class='listItem-title'>
          <%= reloadMessage %>
        </div>
      </div>
    </li>
  </ul>
</div>