<div class='contentBar contentBar--top contentBar--elevated'>
    <div class='appBar-content appBar-content--left'>
        <div data-ui='showPlaylistsAreaButton tooltipable' class='contentBar-navButton button button--icon button--icon--primary button--large'>
            <%= menuIcon %>
        </div>
        
        <div data-ui='hidePlaylistsAreaButton' class='contentBar-navButton button button--icon button--icon--primary button--large is-hidden'>
            <%= menuIcon %>
        </div>
        
        <div data-ui='playlistTitleRegion' data-region='playlistTitle' class='flexRow'></div>
        
        <div data-ui='searchInputRegion' data-region='searchInput' class='flexRow is-hidden'>
            <input data-ui='searchInput' class='textInput textInput--search' type='text' placeholder='<%= searchMessage %>' value='<%= searchQuery %>' autofocus>
        </div>
        
        <div data-ui='showSearchButton'  class='button button--icon button--icon--primary button--large'>
            <%= searchIcon %>
        </div>
            
        <div data-ui='hideSearchButton' class='button button--icon button--icon--primary button--large is-hidden'>
            <%= closeIcon %>
        </div>
    </div>
    <div class='appBar-content appBar-content--right'>
        <div data-region='volumeArea'></div>
        
        <div class='appBar-controls'>
            <div data-region='previousButton'></div>
            <div data-region='playPauseButton'></div>
            <div data-region='nextButton'></div>
        </div>

        <div data-region='adminMenuArea'></div>
    </div>
</div>