<div class='contentBar contentBar--top contentBar--elevated'>
  <div data-ui='showPlaylistsAreaButton tooltipable' class='contentBar-navButton button button--icon button--icon--primary button--large'>
    <%= menuIcon %>
  </div>

  <div data-ui='hidePlaylistsAreaButton' class='contentBar-navButton button button--icon button--icon--primary button--large is-hidden'>
    <%= menuIcon %>
  </div>

  <div data-region='activePaneFilter' class='flexRow'></div>
  <div data-region='searchInputArea' class='flexRow'></div>

  <div data-region='adminMenuArea'></div>
</div>