<div data-ui='searchInputWrapper' class='searchInputArea-searchInputWrapper flexRow is-active'>
  <div class='searchInputArea-searchIcon button button--icon'>
    <%= searchIcon %>
  </div>

  <input data-ui='searchInput' class='searchInputArea-searchInput' type='text' placeholder='<%= searchMessage %>' value='<%= searchQuery %>' autofocus>

  <div data-ui='clearSearchIcon' class='searchInputArea-clearSearchIcon button button--icon is-hidden'>
    <%= clearSearchIcon %>
  </div>
</div>

<div data-ui='searchButton' class='searchInputArea-searchIcon button button--icon button--icon--primary button--large is-hidden'>
  <%= searchIcon %>
</div>