<div id='volumeArea-volumeButton' class='volumeArea-volumeButton button button--icon--primary button--icon button--large'>
    <span id="volumeArea-volumeIcon--up">
        <%= volumeUpIcon %>
    </span>
    
    <span id="volumeArea-volumeIcon--down">
        <%= volumeDownIcon %>
    </span>
    
    <span id="volumeArea-volumeIcon--off">
        <%= volumeOffIcon %>
    </span>
    
    <span id="volumeArea-volumeIcon--mute">
        <%= volumeMuteIcon %>
    </span>
</div>

<div id='volumeArea-slidePanel' class='volumeArea-slidePanel panel appBar-panel'>
    <div class='volumeArea-slidePanel-content panel-content panel-content--uncolored flexColumn'>
        <div class='rangeInput-wrapper rangeInput-wrapper--vertical'>
            <div id='volumeArea-volumeProgress' class='rangeInput-progress'></div>
            <input id='volumeArea-volumeRange' class='rangeInput u-clickable' type='range' />
        </div>
    </div>
</div>